@{
    var user = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>    

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <link rel="apple-touch-icon" href="~/assets/img/icon.png">
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/font/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/font/css/animate.min.css" rel="stylesheet">
    <link href="~/assets/css/icheck/flat/flat.css" rel="stylesheet">
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>
<body class="nav-sm">

    <div class="container body">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="scroll-view">
                        <div class="clearfix"></div>
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <div class="close_nav"></div>
                                <ul class="nav side-menu">
                                    <li class="avtor not-mobile">
                                        <a>
                                            <img src="~/assets/img/welcome.png" alt="..." class="img-circle profile_img"> Welcome <span class="fa fa-chevron-down"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../dashboard"><i class="skd skd-3"></i> My Task <span class="fa fa-chevron-down"></span></a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetMyForms","Dashboard", new { formName= "SFO" })"><i class="skd skd-4"></i> Newly Added Form <span class="fa fa-chevron-down"></span></a>

                                    </li>
                                    <li>
                                        <a onclick="GetFormsDashboard()"><i class="skd skd-5"></i> Freq. Used form <span class="fa fa-chevron-down"></span></a>

                                    </li>
                                    <li><a href="main_department_form.html"><i class="skd skd-6"></i> Department Wise Form<span class="fa fa-chevron-down"></span></a>
                                    <li><a><i class="fa fa-flag"></i> Report<span class="fa fa-flag" aria-hidden="true"></span></a>

                                    <li>
                                        <a><i class="skd skd-8"></i> Admin <span class="fa fa-chevron-down"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                    </div>  
                </div>
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="top_logo">
                                <a href="../dashboard">
                                    <span><img src="~/assets/img/skodalogo.png" class="img-responsive" alt=""></span>
                                    <!-- <span>ITPRT</span> -->
                                </a>    
                            </div>

                            <ul class="nav navbar-nav navbar-right navbar-right-2">
                                <li class="profile_drop_down">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/img/welcome.png" class="img-circle profile_img" alt=""><span class="username">@(user == null ? "" : user.UserName)</span>
                                        @*<span class=" fa fa-angle-down"></span>*@
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                        <li>
                                            <a href="javascript:;">  Profile</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Help</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LogoutUser", "Login")"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <!-- /top navigation -->
                <div class="clearfix"></div>
                <div class="">
                    @RenderBody()

                </div>
            </div>
        </div>
        <img src="~/assets/img/loader4.gif" id="pageLoader" class="loader invisible" />
    </div>

    <footer class="footer">
        <div class="copyright-info text-center">
            <p class=" ver_space1 ">©2020 SAVWIP | Version 1.0.0. All rights reserved.</p>
        </div>
    </footer>

    <script src="~/Scripts/owl.carousel.js"></script>

    <!-- worldmap -->
    <script type="text/javascript" src="~/Scripts/maps/gdp-data.js"></script>
    <script type="text/javascript" src="~/Scripts/maps/jquery-jvectormap-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script type="text/javascript" src="~/Scripts/maps/jquery-jvectormap-world-mill-en.js"></script>

    <!-- moris js -->
    <!-- icheck -->
    <script src="~/Scripts/icheck/icheck.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>
