@model Skoda_DCMS.Models.DashboardModel
@{
    var user = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
}
@{ var count = 1;}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
<style>
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 10000;
    }
</style>
<div class="table-reponsive">
    <table class="table" id="taskTable123">
        <thead>
            <tr class="my_task_table1222">
                @*<th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>*@
                <th class="sortingFormId">Form id</th>
                <th class="sortingFormName">form name</th>
                <th class="sortingRequestForm">Request From</th>
                <th class="sortingRecievedDate">Recieved Date</th>
            </tr>
        </thead>

        <tbody>
            @if (Model == null || Model.Data == null || Model.Data.Forms == null || Model.Data.Forms.Count == 0)
            {
                <tr>
                    <td class="text-center" colspan="4">
                        <i> No Task </i>
                    </td>

                </tr>
            }
            else
            {
                foreach (var item in Model.Data.Forms)
                {

                    <tr>
                        @*<td></td>
                            <td>@item.FormCount</td>*@
                        <td>@(item.FormRelation.UniqueFormName + item.FormRelation.Id)</td>
                        <td>@(item.FormRelation.FormName)</td>
                        @if (item.ApplicantName == null)
                        {
                            <td>@item.Author.Submitter  </td>
                        }
                        else
                        {
                            <td>@item.Author.Submitter <br />Applicant Name= @item.ApplicantName </td>
                        }


                        <td data-order="@item.RecievedDate.ToString("MM/dd/yyyy HH:mm")">@item.RecievedDate.ToString("MM/dd/yyyy")</td>

                    </tr>

                    //count++;
                }
            }
        </tbody>


    </table>

</div>
<script>
    /*var MyTaskValue = document.getElementById("PAFApproverType").value;*/
    function GoToViewForm(formName, rowId, formId, appRowId, ApprovalType, ApproverType, Department, ControllerName) {
        $(".full-screen-container").removeClass('invisible');
        $(".full-screen-container").show();
        var MyTask = 0;
        if (ApproverType == 1) {
            MyTask = 1;
        }
        else {
            MyTask = 0;
        }
        $("#pageLoader").removeClass('invisible');
        $.ajax({
            url: '/List/ViewFilledFormNew',
            type: 'GET',
            data: { formName: formName, rowId: rowId, formId: formId, appRowId: appRowId, MyTask: MyTask, ApprovalType: ApprovalType, Department: Department, ControllerName: ControllerName },
            dataType: 'JSON',
            success: (function (data) {
                if (data.isValid) {
                    console.log(data);
                    $("#formView").html(data.view);
                    //if (formName == "ECF") {
                    //    $("#btnReject").hide();
                    //    $("#labelReject").hide();
                    //}
                    $("#myModal5").modal('show');
                    $("#pageLoader").addClass('invisible');
                }
                else {
                    $("#pageLoader").addClass('invisible');
                    alert("There was an issue while opening the form. Please contact your administrator");
                }
                $(".full-screen-container").hide();
            }),
            error: (function (data) {
                $("#loader").addClass('invisible');
                $(".full-screen-container").hide();
            })
        })
    }

    function GoToEditForm(formName, rowId, formId, appRowId, ControllerName) {
        $(".full-screen-container").removeClass('invisible');
        $(".full-screen-container").show();
        $("#pageLoader").removeClass('invisible');
        $.ajax({
            url: '/List/EditForm',
            type: 'GET',
            data: { formName: formName, rowId: rowId, formId: formId, appRowId: appRowId, ControllerName: ControllerName },
            dataType: 'JSON',
            success: (function (data) {
                if (data.isValid) {
                    //console.log(data);
                    $("#viewForm").html(data.view);
                    $("#myModalEdit").modal();
                    $("#pageLoader").addClass('invisible');
                }
                else {
                    $("#pageLoader").addClass('invisible');
                    alert("There was an issue while opening the form. Please contact your administrator");
                }
                $(".full-screen-container").hide();
            }),
            error: (function (data) {
                $("#loader").addClass('invisible');
                $(".full-screen-container").hide();
            })
        })
    }

    $(document).ready(function () {
        // let -allows you to display the variables that are limit of block stmt/expression
        
    });

    function GoToApproveForm(formName, rowId, formId, appRowId, ApprovalType, ApproverType, Department, ControllerName) {
        $(".full-screen-container").removeClass('invisible');
        $(".full-screen-container").show();
        var MyTask = 0;
        if (ApproverType == 1) {
            MyTask = 1;
        }
        else {
            MyTask = 0;
        }
        //$("#pageLoader").removeClass('invisible');
        $.ajax({
            url: '/List/ViewFilledFormNew',
            type: 'GET',
            data: { formName: formName, rowId: rowId, formId: formId, appRowId: appRowId, MyTask: MyTask, ApprovalType: ApprovalType, Department: Department, ControllerName: ControllerName },
            dataType: 'JSON',
            success: (function (data) {
                if (data.isValid) {
                    console.log(data);
                    $("#formView").html(data.view);
                    //if (formName == "ECF") {
                    //    $("#btnReject").hide();
                    //    $("#labelReject").hide();
                    //}
                    //$('#loader').show();
                    $("#formView").hide();
                    /* $("#myModal5").modal();*/
                    
                    var text = "approve";
                    saveResponse(text);
                    var ISERROR = $("#add_to_me").val();
                    if ($('#add_to_me').children().length != 0) {
                        alert("Form has a Action field. Kindly fill that!");
                        //$('#loader').hide();
                        $("#formView").show();
                        $('.full-screen-container').hide();
                    } else {
                        $('.full-screen-container').hide();
                        swal({
                            title: "Success!",
                            text: "Form has been Approved!",
                            type: "success"
                        }).then(function () {
                            //$("#pageLoader").addClass('invisible');
                            location.reload(true);
                            //$('#loader').hide();
                        });
                    }
                }
                else {
                    //$("#pageLoader").addClass('invisible');
                    alert("There was an issue while opening the form. Please contact your administrator");
                    $('.full-screen-container').hide();
                }
            }),
            error: (function (data) {
                $('.full-screen-container').hide();
            })
        })
    }

   

</script>


