
@{
    Layout = null;
    dynamic DBRF = null;
    if (ViewBag != null && ViewBag.IsNew != null)
    {
        DBRF = ViewBag.Model;
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style type="text/css">
        *:visited, *:focus {
            box-shadow: none;
        }

        input, select, input:focus, select:focus, textarea, textarea:focus {
            border: 1px solid #000;
        }

        input, textarea {
            padding: 5px;
        }

        .signature-table thead td {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .signature-table tbody, .signature-table td {
            border: none;
            border-left: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

            .signature-table td:first-child {
                border-left: none;
            }

        .signature-table {
            border: 1px solid black;
        }

        @@font-face {
            font-family: 'SKODANext-Black';
            src: url('../../fonts/SKODANextfont/SKODANext-Black.ttf') format('truetype');
            src: url('../../fonts/SKODANextfont/SKODANext-Bold.ttf') format('truetype');
            src: url('../../fonts/SKODANextfont/SKODANext-Light.ttf') format('truetype');
            src: url('../../fonts/SKODANextfont/SKODANext-Regular.ttf') format('truetype');
        }

        body {
            font-family: 'SKODANext-Black';
        }

        .form_lbl {
            color: #000;
            font-weight: 600;
        }
    </style>
</head>
<body>

    <table style="width: 100%; font-size: 14px; color: rgb(110,110,110); font-weight: 600;" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="2">
                <table style="width: 100%;" cellspadding="0" cellspacing="0">
                    <tr>
                        <td width="20%" style="text-align: center; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                            Classification
                        </td>
                        <td width="20%" style="text-align: center; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                            Internal
                        </td>
                        <td rowspan="2" width="60%" style="text-align: right;">
                            <img style="width: 50%;" src='@Server.MapPath("~/assets/img/SAVWIPL_Merger_Logo.JPG")'>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border-right: 1px solid #000;">
                            Version
                        </td>
                        <td style="text-align: center; border-right: 1px solid #000;">
                            01
                        </td>

                    </tr>
                </table>

        <tr>
            <td colspan="2" style="height: 45px; text-align: center; border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                Data Backup Resotre Form
            </td>
        </tr>
        <tr>
            <td style="padding: 15px;" colspan="2">
                <table cellspacing="0" cellpadding="0" width="100%">
                    @if (DBRF.one[0].RequestSubmissionFor != "OnBehalf")
                    {
                        <tr>
                            <td>
                                Type of Employee
                            </td>
                            <td>
                                @if (DBRF.one[0].EmployeeType == "Internal")
                                {
                                    <input type="checkbox" id="internal" name="chkTyprEmp" value="Internal" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="internal" name="chkTyprEmp" value="Internal">
                                }
                                <label for="vehicle1"> Internal</label>
                            </td>
                            <td>
                                @if (DBRF.one[0].EmployeeType == "External")
                                {
                                    <input type="checkbox" id="external" name="chkTyprEmp" value="Internal" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="external" name="chkTyprEmp" value="Internal">
                                }
                                <label for="vehicle1"> External</label>
                            </td>
                            <td colspan="3">
                                @if (DBRF.one[0].EmployeeType == "External")
                                {
                                    <input type="text" placeholder="External Company Name" style="height: 25px; border-radius: 0; " value="@(DBRF.one[0].ExternalOtherOrganizationName ?? "")" />
                                }
                            </td>

                        </tr>
                        <tr>
                            <td style="height: 15px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Employee Code
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeCode ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Cost Center No.
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeCCCode ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                UserId
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeUserId ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; width: 100%; " value="" />*@
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 15px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Employee Name
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeName ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Department
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeDepartment ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Contact No.
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeContactNo ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; width: 100%; " value="" />*@
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 25px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Designation
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeDesignation ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0;  " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Location
                            </td>
                            <td>
                                @(DBRF.one[0].EmployeeLocation ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0;  " value="" />*@
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="form_lbl">
                                Type of Employee
                            </td>
                            <td>
                                @if (DBRF.one[0].OtherEmployeeType == "Internal")
                                {
                                    <input type="checkbox" id="internal" name="chkTyprEmp" value="Internal" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="internal" name="chkTyprEmp" value="Internal">
                                }
                                <label for="vehicle1"> Internal</label>
                            </td>
                            <td>
                                @if (DBRF.one[0].OtherEmployeeType == "External")
                                {
                                    <input type="checkbox" id="external" name="chkTyprEmp" value="Internal" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="external" name="chkTyprEmp" value="Internal">
                                }
                                <label for="vehicle1"> External</label>
                            </td>
                            <td colspan="3">
                                @if (DBRF.one[0].OtherEmployeeType == "External")
                                {
                                    <input type="text" placeholder="External Company Name" style="height: 25px; border-radius: 0; " value="@(DBRF.one[0].OtherExternalOtherOrganizationName ?? "")" />
                                }
                            </td>

                        </tr>
                        <tr>
                            <td style="height: 15px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Employee Code
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeCode ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Cost Center No.
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeCCCode ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                UserId
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeUserId ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; width: 100%; " value="" />*@
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 15px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Employee Name
                            </td>
                            <td>
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Department
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeDepartment ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Contact No.
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeContactNo ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0; width: 100%; " value="" />*@
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 25px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Designation
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeDesignation ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0;  " value="" />*@
                            </td>
                            <td class="form_lbl">
                                Location
                            </td>
                            <td>
                                @(DBRF.one[0].OtherEmployeeLocation ?? "")
                                @*<input type="text" style="height: 25px; border-radius: 0;  " value="" />*@
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="height: 25px;">
                        </td>
                    </tr>
                    @*<tr>
            <td>
                Folder Name
            </td>
            <td>
                <input type="text" style="height: 25px; border-radius: 0; width: 100%; " />
            </td>
        </tr>
        <tr>
            <td style="height: 25px;">
            </td>
        </tr>*@

                    <tr>
                        <td class="form_lbl">
                            Requirement of
                        </td>
                        <td>
                            @if (DBRF.one[0].RequirementFor == "Backup")
                            {
                                <input type="checkbox" id="chkBackup" name="chkBackup" value="Backup" checked>
                            }
                            else
                            {
                                <input type="checkbox" id="chkBackup" name="chkBackup" value="Backup">
                            }
                            <label for=""> Backup</label>
                        </td>
                        <td>
                            @if (DBRF.one[0].RequirementFor == "Restore")
                            {
                                <input type="checkbox" id="chkRestore" name="chkRestore" value="Restore">
                            }
                            else
                            {
                                <input type="checkbox" id="chkRestore" name="chkRestore" value="Restore">
                            }
                            <label for=""> Restore</label>
                        </td>
                        <td>
                            @if (DBRF.one[0].RequirementFor == "Both")
                            {
                                <input type="checkbox" id="chkBoth" name="chkBoth" value="Both">
                            }
                            else
                            {
                                <input type="checkbox" id="chkBoth" name="chkBoth" value="Both">
                            }
                            <label for=""> Both</label>
                        </td>

                        @*<td>
                <label for="">Size of Folder</label>
            </td>
            <td>
                <input type="text" id="size" name="" value="" placeholder="GB">
            </td>*@

                    </tr>
                    @if ((DBRF.one[0].RequirementFor == "Backup") || (DBRF.one[0].RequirementFor == "Both"))
                    {
                        <tr>
                            <td>
                                Backup Details
                            </td>
                            <td>
                                @if (DBRF.one[0].RequestFor == "FileFolderBackup")
                                {
                                    <input type="checkbox" id="chkFileFolderBackup" name="chkFileFolderBackup" value="FileFolderBackup" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="chkFileFolderBackup" name="chkFileFolderBackup" value="FileFolderBackup">
                                }
                                <label for=""> Backup</label>
                            </td>
                            <td>
                                @if (DBRF.one[0].RequestFor == "ApplicationBackup")
                                {
                                    <input type="checkbox" id="chkApplicationBackup" name="chkApplicationBackup" value="ApplicationBackup" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="chkApplicationBackup" name="chkApplicationBackup" value="ApplicationBackup">
                                }
                                <label for=""> ApplicationBackup</label>
                            </td>
                        </tr>
                        <tr>
                            @if (DBRF.one[0].RequestFor == "FileFolderBackup")
                            {
                                <td>
                                    <label>Folder Path</label>
                                    <input type="text" name="txtFolderPath" id="txtFolderPath" value="@(DBRF.one[0].FolderPath ?? "")" />
                                </td>
                                <td>
                                    <label>Filder Size</label>
                                    <input type="text" name="txtFolderSize" id="txtFolderSize" value="@(DBRF.one[0].FolderSize ?? "")" />
                                </td>
                                <td>
                                    <label>Retention Period</label>
                                    <input type="text" name="txtRetentionPeriod" id="txtRetentionPeriod" value="@(Convert.ToDateTime(DBRF.one[0].RetentionPeriod).ToShortDateString() ?? "")" />
                                </td>
                            }
                            @if (DBRF.one[0].RequestFor == "ApplicationBackup")
                            {
                                <td>
                                    <label>Retention Period</label>
                                    <input type="text" class="w-90 txtDisable TransView" name="txtBackupServerName" id="txtBackupServerName" value="@(DBRF.one[0].BackupServerName ?? "")" />
                                </td>
                                <td>
                                    <label>Retention Period</label>
                                    <input type="text" name="txtBackupIpAddress" id="txtBackupIpAddress" value="@(DBRF.one[0].BackupIpAddress ?? "")" />
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>
                                Backup Type:
                            </td>
                            <td>
                                @if (DBRF.one[0].BackupType == "Onetime")
                                {
                                    <input type="checkbox" id="chkOnetime" name="chkOnetime" value="Onetime" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="chkOnetime" name="chkOnetime" value="Onetime">
                                }
                                <label for=""> Onetime</label>
                            </td>
                            <td>
                                @if (DBRF.one[0].BackupType == "Scheduled")
                                {
                                    <input type="checkbox" id="chkScheduled" name="chkScheduled" value="Scheduled" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="chkScheduled" name="chkScheduled" value="Scheduled">
                                }
                                <label for=""> Scheduled</label>
                            </td>
                        </tr>
                    }
                    else if ((DBRF.one[0].RequirementFor == "Restore") || (DBRF.one[0].RequirementFor == "Both"))
                    {
                        <tr>
                            <td>
                                Restore Details
                            </td>
                            <td>
                                @if (DBRF.one[0].RestoreAt == "OriginalPath")
                                {
                                    <input type="checkbox" name="chkRestoreOriginalPath" id="chkRestoreOriginalPath" checked />
                                }
                                else
                                {
                                    <input type="checkbox" class="inpDisable" name="chkRestoreOriginalPath" id="chkRestoreOriginalPath" />
                                }
                                <label for=""> Original Path</label>
                            </td>
                            <td>
                                @if (DBRF.one[0].RestoreAt == "AlternatePath")
                                {
                                    <input type="checkbox" name="chkRestoreAlternatePath" id="chkRestoreAlternatePath" checked />
                                }
                                else
                                {
                                    <input type="checkbox" class="inpDisable" name="chkRestoreAlternatePath" id="chkRestoreAlternatePath" />
                                }
                                <label for=""> Alternate Path</label>
                            </td>
                        </tr>
                        <tr>
                            @if (DBRF.one[0].RestoreAt == "AlternatePath")
                            {
                                <td>
                                    <label>Alternate Folder Path</label>
                                    <input type="text" name="txtAlternateFolderPath" id="txtAlternateFolderPath" value="@(DBRF.one[0].AlternateFolderPath ?? "")" />
                                </td>
                            }
                            <td>
                                <label>ServerName</label>
                                <input type="text" name="txtRestoreServerName" id="txtRestoreServerName" value="@(DBRF.one[0].RestoreServerName ?? "")" />
                            </td>
                            <td>
                                <label>IpAddress</label>
                                <input type="text" name="txtRestoreIpAddress" id="txtRestoreIpAddress" value="@(DBRF.one[0].RestoreIpAddress ?? "")" />
                            </td>

                            <td>
                                <label>Restore Date</label>
                                <input type="text" name="txtRestoreDate" id="txtRestoreDate" value="@(Convert.ToDateTime(DBRF.one[0].RestoreDate).ToShortDateString() ?? "")" />
                            </td>

                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 15px;">
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td colspan="6">
                            <lable>Reason for Request (Business Need)</lable>
                            <div style="margin-bottom: 10px; margin-top: 10px;">
                                <textarea type="text" name="txtBusinessNeed" id="txtBusinessNeed">@(DBRF.one[0].BusinessNeed ?? "")></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 25px;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table cellspacing="0" cellpadding="0" width="100%" class="signature-table">
                                <thead>
                                    <tr style="font-weight: 600;" class="form_lbl">
                                        <td width="33%">Requester Signature</td>
                                        <td width="33%">Requester's HOD Signature</td>
                                        <td width="33%">IT - Server Manager</td>
                                    </tr>
                                </thead>
                                @{ Html.RenderPartial("_ApprovalTrackingPDF", new Skoda_DCMS.Models.PdfParameterModel 
                                   { 
                                       RequesterData = DBRF.two, ApproverData = DBRF.three 
                                   });
                                 }                             
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="justify-content: normal;">
            <td>
                <table>
                    <tr>
                        <td style="height: 45px; padding-left: 15px; color: rgb(128, 128, 128);" class="form_lbl">
                            for IT use only
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="vehicle1" style="padding-left: 15px;"> Ticket No.</label>
                            <input type="text" placeholder="" style="height: 25px; border-radius: 0;   " />
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;">
                        </td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid;" class="form_lbl">IT Backup Administrator Signature</th>
                    </tr>
                    <tr>
                        <td style="height: 200px;border: 1px solid;"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="margin-left: 100px;">
                    <tr>
                        <td style="height: 45px; padding-left: 15px; color: rgb(128, 128, 128);" class="form_lbl">
                            Request Confirmation:
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="vehicle1" style="padding-left: 15px;" class="form_lbl"> Backup Successful</label>
                            <input type="checkbox" id="internal" name="chkTyprEmp" value="Internal">
                            <label for="vehicle1" style="padding-left: 15px;" class="form_lbl"> Restore Successful</label>
                            <input type="checkbox" id="internal" name="chkTyprEmp" value="Internal">
                        </td>
                        <td>
                            <input type="text" placeholder="GB" style="height: 25px; border-radius: 0;" />
                        </td>
                    </tr>

                    <tr>
                        <td style="height: 15px;">
                        </td>
                    </tr>

                    <tr>

                        <th style="border: 1px solid; width: 215px;" class="form_lbl">Request Signature</th>

                    </tr>

                    <tr>

                        <td style="height: 200px;border: 1px solid;"></td>

                    </tr>

                </table>
            </td>
        </tr>
        @*<tr>
            <td style="height: 15px; color: black;">
                This is digital form, that can be filled and digitally sign by your PKI card. Please do not take print out.
            </td>
        </tr>*@
        <tr>
            <td style="padding: 15px;">
                <p style="font-weight: 600; color: black;">SF_FI_005</p>
            </td>
        </tr>


    </table>
</body>
</html>

















