@model dynamic
@{
    ViewBag.Title = "MMR PDF";
    var user = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
    bool IsNew = true;
    bool IsEdit = true;
    dynamic MMRF = null;
    Layout = ViewBag.Layout;
    int RowId = 0, FormId = 0, AppRowId = 0, ApprovalType = 0;
    List<Skoda_DCMS.Models.ApprovalDataModel> appList = new List<Skoda_DCMS.Models.ApprovalDataModel>();
    if (ViewBag != null && ViewBag.IsNew != null)
    {
        IsNew = ViewBag.IsNew;
        IsEdit = ViewBag.IsEdit;
        MMRF = ViewBag.Model;
        RowId = ViewBag.RowId;
        FormId = ViewBag.FormId;
        AppRowId = ViewBag.AppRowId;
        ApprovalType = ViewBag.ApprovalType != null ? (int)ViewBag.ApprovalType : 0;
        appList = ViewBag.Model?.three as List<Skoda_DCMS.Models.ApprovalDataModel>;
    }
}


<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
        *:visited, *:focus {
            box-shadow: none;
        }

        input, select, input:focus, select:focus, textarea, textarea:focus {
            border: 1px solid #000;
        }

        input, textarea {
            padding: 5px;
        }

        .asset {
            border: 1px solid black;
            height: 20px;
        }

        .signature-table thead td {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .signature-table tbody, .signature-table td {
            border: none;
            border-left: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

            .signature-table td:first-child {
                border-left: none;
            }

        .signature-table {
            border: 1px solid black;
        }

        @@font-face {
            font-family: 'SKODANext-Black';
            src: url('../../fonts/SKODANextfont/SKODANext-Black.ttf') format('truetype');
            src: url('../../fonts/SKODANextfont/SKODANext-Bold.ttf') format('truetype');
            src: url('../../fonts/SKODANextfont/SKODANext-Light.ttf') format('truetype');
            src: url('../../fonts/SKODANextfont/SKODANext-Regular.ttf') format('truetype');
        }

        body {
            font-family: 'SKODANext-Black';
        }

        .form_lbl {
            color: #000;
            font-weight: 600;
        }
    </style>
</head>
<body>

    <table style="width: 100%; font-size: 14px; color: rgb(110,110,110); font-weight: 600;" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table style="width: 100%;" cellspadding="0" cellspacing="0">
                    <tr>
                        <td width="20%" style="text-align: center; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                            Classification
                        </td>
                        <td width="20%" style="text-align: center; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                            Internal
                        </td>
                        <td rowspan="2" width="60%" style="text-align: right;">
                            <img style="width: 50%;" src='@Server.MapPath("~/assets/img/SAVWIPL_Merger_Logo.JPG")'>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border-right: 1px solid #000;">
                            Version
                        </td>
                        <td style="text-align: center; border-right: 1px solid #000;">
                            01
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 45px; text-align: center; border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                <b style="color:black">MMR Transfer/Handover Form</b>
            </td>
        </tr>
        <tr>
            <td style="padding: 15px;">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td style="height: 15px;" colspan="6">
                            <b style="color:black"><u>Submitter Details</u></b>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_lbl">
                            Type of Employee
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeType)
                        </td>
                        <td>
                        </td>
                        <td colspan="3">
                            @*<input type="text" placeholder="External Company Name" style="height: 25px; border-radius: 0; " value="" />*@
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td class="form_lbl">
                            Employee Code
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeCode)
                        </td>
                        <td class="form_lbl">
                            Cost Center No.
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeCCCode)
                        </td>
                        <td class="form_lbl">
                            UserId
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeUserId)
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td class="form_lbl">
                            Employee Name
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeName)
                        </td>
                        <td class="form_lbl">
                            Department
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeDepartment)
                        </td>
                        <td class="form_lbl">
                            Contact Number
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeContactNo)
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td class="form_lbl">
                            Designation
                        </td>
                        <td>
                            @(MMRF.one[0].EmployeeDesignation)
                        </td>

                        <td class="form_lbl">
                            Location
                        </td>

                        <td>
                            @(MMRF.one[0].EmployeeLocation)
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>

                    <tr>
                        <td style="height: 25px;">
                        </td>
                    </tr>

                    @if (MMRF.one[0].EmployeeType == "SAVWIPLEmployee")
                    {
                        <tr>
                            <td style="height: 15px;" colspan="6">
                                <b style="color:black"><u>Applicants Details</u></b>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Employee Code
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeCode)
                            </td>
                            <td class="form_lbl">
                                Cost Center No.
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeCCCode)
                            </td>
                            <td class="form_lbl">
                                UserId
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeUserId)
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 15px;" colspan="6">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Employee Name
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeName)
                            </td>
                            <td class="form_lbl">
                                Department
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeDepartment)
                            </td>
                            <td class="form_lbl">
                                Contact Number
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeContactNo)
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 15px;" colspan="6">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Designation
                            </td>
                            <td>
                                @(MMRF.one[0].OtherEmployeeDesignation)
                            </td>

                            <td class="form_lbl">
                                Location
                            </td>

                            <td>
                                @(MMRF.one[0].OtherEmployeeLocation)
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>

                    }
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>

                </table>
    </table>

    <table style="width: 100%; font-size: 14px; color: rgb(110,110,110); font-weight: 600;" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td style="padding: 15px">
                <table style="width:100%;" cellspadding="0" cellspacing="0">
                    <tr>
                        <td style="height: 15px;" colspan="6">
                            <b style="color:black"><u>Transaction Details</u></b>
                        </td>
                    </tr>

                    <tr>
                        <td class="form_lbl">
                            Existing Department
                        </td>
                        <td>
                            @(MMRF.one[0].ExistingDepartment)
                        </td>
                        <td class="form_lbl">
                            New Department
                        </td>
                        <td>
                            @(MMRF.one[0].NewDepartment)
                        </td>
                        <td class="form_lbl">
                            Future Owner
                        </td>
                        <td>
                            @(MMRF.one[0].FutureOwner)
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td class="form_lbl">
                            MMR Identification
                        </td>
                        <td>
                            @(MMRF.one[0].MMRIdentification)
                        </td>
                        <td class="form_lbl">
                            MMR Description
                        </td>
                        <td>
                            @(MMRF.one[0].MMRDescription)
                        </td>
                        <td class="form_lbl">
                            Handover Date
                        </td>
                        <td>
                            @(MMRF.one[0].HandoverDate.ToString("yyyy-MM-dd"));
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td class="form_lbl">
                            Transfer Type
                        </td>
                        <td>
                            @(MMRF.one[0].TransferType)
                        </td>
                        <td class="form_lbl" colspan="2">
                            MMR Removed by existing user from ERUS
                        </td>
                        <td>
                            @(MMRF.one[0].MMREpus)
                        </td>

                    </tr>
                    @if (MMRF.one[0].TransferType == "Temporary")
                    {
                        <tr>
                            <td style="height: 15px;" colspan="6">
                            </td>
                        </tr>
                        <tr>
                            <td class="form_lbl">
                                Transfer From Date
                            </td>
                            <td>
                                @(MMRF.one[0].TransferFromDate.ToString("yyyy-MM-dd"));
                            </td>
                            <td class="form_lbl">
                                Transfer To Date
                            </td>
                            <td>
                                @(MMRF.one[0].TransferToDate.ToString("yyyy-MM-dd"));
                            </td>
                            <td style="visibility:hidden">
                                cv
                            </td>
                            <td style="visibility:hidden">
                                cc
                            </td>
                        </tr>
                    }
                    @*<tr>
            <td class="form_lbl">
                File Name
            </td>
            <td colspan="2">
                testfile.txt
            </td>
            <td class="form_lbl">
                File Name
            </td>
            <td colspan="2">
                testfile.txt
            </td>
        </tr>*@
                    <tr>
                        <td style="height: 15px;" colspan="6">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 15px">
                <table style="width:100%;" cellspadding="0" cellspacing="0">
                    <tr>
                        <td colspan="6">
                            <lable class="form_lbl">Details (Reason for past trial)</lable>
                            <div style="margin-bottom: 10px; margin-top: 10px;">
                                <textarea type="text" id="Details" rows="5" @*value="@(MMRF.one[0].Details)"*@ style="width: 200%;"></textarea>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 15px;" colspan="6">
            </td>
        </tr>
        <tr>
            <td style="padding: 15px">
                <table style="width:100%;" cellspadding="0" cellspacing="0">
                    @if (appList.Count > 0)
                    {
                        if (appList.Any(x => x.ApproverStatus.Contains("Approved")))
                        {
                            <tr>
                                <td colspan="6" align='left'>
                                    <h6 style="margin-top:5px;margin-left:15px;color:black;font-weight:bold"><b><u>Approval Tracking</u></b></h6>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" style="color:black">Name</td>
                                <td colspan="1" style="color:black">Proccessed On</td>
                                <td colspan="1" style="color:black">Status</td>
                                <td colspan="1" style="color:black">Level</td>
                            </tr>
                            foreach (var item in appList)
                            {
                                <tr>
                                    <td colspan="1">
                                        <div style="margin-bottom: 10px; font-weight: normal;">
                                            <div>@item.UserName</div>
                                            <div>@item.Designation</div>
                                        </div>
                                    </td>
                                    <td colspan="1" style="font-weight: normal;">
                                        @if (item.Logic == "OR")
                                        {
                                            if (item.ApproverStatus != "Pending")
                                            {
                                                <div>
                                                    @item.TimeStamp
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div>
                                                @item.TimeStamp
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1" style="font-weight: normal;">
                                        @if (item.Logic == "OR")
                                        {
                                            if (item.ApproverStatus != "Pending")
                                            {
                                                <div>
                                                    @item.ApproverStatus
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div>
                                                @item.ApproverStatus
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1" style="font-weight: normal;">
                                        <div>
                                            @item.Level
                                        </div>
                                    </td>
                                </tr>
                            }

                        }

                    }
                    <tr>
                        <td colspan="6" align='left'>
                            <h6 style="margin-top:5px;margin-left:5px;color:black;font-weight:bold"><b>SF_II_024</b></h6>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#Details").val('@(MMRF.one[0].Details)');

    })
</script>
















