@model Skoda_DCMS.Models.BTFResults
@{
    bool IsNew = true;
    Skoda_DCMS.Models.CRFData CRF = null;
    dynamic FlagRedirect = null;
    bool IsEdit = true, IsNewMode = true, IsEditMode = false, IsViewMode = false;
    int FormId = 0, AppRowId = 0, ApprovalType = 0;
    var CurrentUserDesgn = "";
    var SecurityDesgnString = "Security";
    Layout = ViewBag.Layout;
    var currentUser = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
    List<Skoda_DCMS.Models.ApprovalDataModel> appList = new List<Skoda_DCMS.Models.ApprovalDataModel>();
    string disabled = "";
    if (ViewBag != null && ViewBag.IsNew != null)
    {
        IsNew = ViewBag.IsNew;
        IsEdit = ViewBag.IsEdit;
        IsNewMode = ViewBag.IsNewMode;
        IsEditMode = ViewBag.IsEditMode;
        IsViewMode = ViewBag.IsViewMode;
        disabled = IsViewMode ? "disabled" : "";
        CRF = ViewBag.Model.one[0] as Skoda_DCMS.Models.CRFData;
        FormId = ViewBag.FormId;
        AppRowId = ViewBag.AppRowId;
        ApprovalType = ViewBag.ApprovalType != null ? (int)ViewBag.ApprovalType : 0;
        appList = ViewBag.Model?.three as List<Skoda_DCMS.Models.ApprovalDataModel>;
        //CurrentUserDesgn = appList?.Where(x => x.ApproverId == currentUser.UserId).Select(x => x.Designation).FirstOrDefault();
        var Ap = appList?.Where(x => x.ApproverUserName.ToLower() == currentUser.UserName.ToLower() && x.ApproverStatus.ToLower() == "pending")
                        .Where(x => x.Logic.ToLower() == "or"
                            ? !appList.Any(y => y.Level == x.Level && y.ApproverStatus.ToLower() == "approved")
                            : true)
                        .OrderBy(x => x.Level).Select(x => new { Designation = x.Designation, Level = x.Level }).FirstOrDefault();
        CurrentUserDesgn = Ap?.Designation;
        var CurrentUserLevel = Ap?.Level;
        //Logic to change assistant to doctor(if he/she has) for editing the fields doctor fields
        CurrentUserDesgn = appList.Where(x => x.Level == CurrentUserLevel).Any(x => x.Designation == SecurityDesgnString)
            ? SecurityDesgnString : CurrentUserDesgn;
    }
    ViewBag.Title = "Courier Request Form";
    int count = 0;

}

<style>

    .deviationDate {
        /*max-width: fit-content !important;*/
        /* max-width:20px;*/
        width: 15px;
        margin-left: 1px;
        margin-right: 1px;
        height: 30px !important;
        border: none !important;
        max-width: 95px !important;
        background-color: #fff !important;
        outline: none !important;
    }

    .astColor {
        color: red;
    }

    /*New design css start here*/

    .textTrans {
        width: 100%;
        max-width: 99%;
        border-radius: 5px;
        margin-right: 0px;
        border: 1px solid #BFBFBF !important;
    }

    .empDetailsBg {
        background-color: #fffbef;
    }

    #accordion select {
        color: #000;
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        background-color: #fff;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 5px;
        background-image: url(data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>);
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-size: 16px 12px;
    }

    #accordion input[type='text'] {
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        background-color: #fff;
        border: 1px solid #BFBFBF !important;
        box-sizing: border-box;
        border-radius: 5px !important;
    }

    #accordion input[type='date'] {
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        background-color: #F8F8F8;
        border: 1px solid #BFBFBF !important;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #accordion input[type='time'] {
        height: 45px;
    }

    #accordion label {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #201F1F;
    }

    #accordion table tr td {
        border: none;
        font-size: 16px;
        line-height: 19px;
        color: #201F1F;
        background-color: white;
    }

    #accordion label {
        display: block;
    }

    #accordion .card-header {
        background: rgb(4 59 100) !important;
        border-radius: 5px 5px 0px 0px;
        position: relative;
        margin-top: 15px;
    }

        #accordion .card-header.collapsed h5:after {
            content: '+';
            position: absolute;
            right: 22px;
            top: 17px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

        #accordion .card-header h5:after {
            content: '-';
            position: absolute;
            right: 22px;
            top: 17px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

    #accordion h5 button {
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        padding-left: 0px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        /* Text_white */

        color: #FFFFFF;
    }

        #accordion h5 button:focus {
            box-shadow: none;
        }

    .empDetailsFields label {
        display: block !important;
        margin-bottom: 0px;
    }

    .empDetailsFields .row label {
        display: block;
        margin-bottom: 0px;
    }

        .empDetailsFields .row label:nth-child(1) {
            font-style: normal;
            font-weight: normal !important;
            font-size: 12px;
            line-height: 18px;
            color: #A9A9A9 !important;
        }

        .empDetailsFields .row label:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #201F1F;
        }

    .firstLastName {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;
        color: #201F1F;
    }

    .submit-btn {
        background: #3D3D3D;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 173.7%;
        /* identical to box height, or 28px */
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-color: transparent !important;
    }

    .cancl-btn {
        background: #FAE99B;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        border-color: transparent !important;
        line-height: 173.7%;
        /* identical to box height, or 28px */
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #212221;
        margin-left: 10px;
    }




    .card-footer {
        display: flex;
        background-color: transparent !important;
    }

    .photo-form {
        width: 100%;
    }

    .ui-front {
        z-index: 9999999 !important;
    }
    /*Animation CSS Starts*/

    div.input-block {
        position: relative;
    }

        div.input-block input {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 188px;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border: 1px solid #D9D9D9;
            outline: none;
        }

        div.input-block textarea {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 100%;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            background-color: #fff;
            border: 1px solid #D9D9D9;
            outline: none;
        }

        div.input-block span.placeholder {
            position: absolute;
            margin: 17px 0;
            padding: 0 4px;
            font-family: Roboto, sans-serif;
            color: #6c757d;
            display: flex;
            align-items: center;
            font-size: 1rem;
            top: -6px;
            left: 15px;
            transition: all 0.2s;
            transform-origin: 0% 0%;
            background: none;
            pointer-events: none;
            z-index: 1;
        }

        div.input-block textarea:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: #fff !important;
        }

        div.input-block textarea:valid + span.placeholder,
        div.input-block textarea:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px) !important;
            background: #fff !important;
        }

        div.input-block input:valid + span.placeholder,
        div.input-block input:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: #fff;
        }

    .empDetailsFields div.input-block input:valid + span.placeholder,
    .empDetailsFields div.input-block input:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    div.input-block input.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    .empDetailsFields div.input-block input:read-only + span.placeholder,
    .empDetailsFields div.input-block input:read-only + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    div.input-block input:read-only + span.placeholder,
    div.input-block input:read-only + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: #fff;
    }


    div.inputSelect span.placeholder {
        position: absolute;
        margin: 17px 0;
        padding: 0 4px;
        font-family: Roboto, sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        font-size: 1rem;
        top: -6px;
        left: 15px;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;
        z-index: 1;
    }

    div.inputSelect select:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background: #fff;
        z-index: 9;
    }

    .empDetailsFields div.inputSelect select:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
        z-index: 9;
    }

    div.inputSelect select:not([value=""]):valid + span.placeholder {
        transition: all 0.2s;
        transform-origin: 0% 0%;
    }



    div.input-block input:focus + span.placeholder {
        color: #284B63;
    }

    .breadcrumb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1rem 1rem 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #FFFFFF;
        border-radius: .25rem;
    }

    body.nav-sm .container.body .left_col {
        width: 63px;
        padding: 0;
        position: fixed;
        height: 100%;
        z-index: 8;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px;
        border-radius: .25rem;
    }

    .dropdown-toggle::after {
        display: none;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    input.spanUpperSide + span.placeholder {
        background-color: rgb(219,238,213);
    }

    inputSelect.spanUpperSide + span.placeholder {
        background-color: rgb(219,238,213) !important;
    }

    select.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background-color: #fff !important;
        z-index: 9;
    }

    .empDetailsFields select.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background-color: rgb(219,238,213) !important;
        ;
        z-index: 9;
    }

    textarea.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
        z-index: 9;
    }

    .TransView {
        background-color: white !important;
    }

    @@media only screen and (min-width: 992px) {
        div .input-block span.placeholder {
            font-size: 15px;
        }

        div.inputSelect span.placeholder {
            font-size: 14px;
        }
    }

    input[type='date'].spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
        z-index: 9;
    }

    .showBorder {
        border: 1px solid #dee2e6;
    }

    .forSameHt {
        padding-bottom: 40px;
        height: 78px !important;
    }

    .forPoints input[type='checkbox'] {
        margin-right: 2px;
        position: relative;
        top: 2px;
    }

    #lblReason {
        font-size: 16px !important;
    }

    #drpCurrency {
        max-width: 100% !important;
    }

    #accordion table.tblBorders tr td {
        border: 1px solid #dee2e6 !important;
    }

    #txtAboutRoleAppliedFor {
        padding-top: 25px !important;
    }

    #fileToUpload {
        border: none !important;
        width: 100% !important;
    }

    #moduleBody td {
        vertical-align: middle;
    }

    .wd {
        margin-top: 6px;
    }
</style>
@*Loader*@
<style type="text/css">
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        
        z-index: 10000;
    }
</style>
<script type="text/javascript">

    function checkSelect(id) {

        if ($('#' + id).val() != '') {
            $('#' + id).addClass('spanUpperSide');
        }
    }
    /*$('#timedemo').pickatime({ twelvehour: true });*/

</script>

<body>
    <form action="/CourierRequest/SaveCourierRequestForm" method="post" id="CRForm">
        <div class="right_col bg-transparent" role="main">
            <div class="container">
                <div class="container form-container">

                    <div>
                        @if (IsEditMode || IsViewMode)
                        {
                            <div>
                                <input type="hidden" id="FormSrId" name="FormSrId" value="@(ViewBag.Model.one[0].Id)" />
                                <input type="hidden" id="FormId" name="FormId" value="@(FormId)" />
                                <input type="hidden" id="AppRowId" name="AppRowId" value="@(AppRowId)" />
                            </div>
                        }

                        <div>
                            <ol class="breadcrumb pl-0">
                                <li>
                                    <a href="/Dashboard?formName=BTF">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    Courier Request Form
                                </li>

                            </ol>
                        </div>
                        <div class="breadcrumb-container table-bordered" style="background-color: rgb(219,238,213) !important; ">
                            <div class="col-md-2 col-lg-2">
                                <span class="placeholder">Date : @(!IsNew || !IsEdit ? (Convert.ToDateTime(ViewBag.Model.two[0].FormId.Created).ToShortDateString()) : DateTime.Now.ToShortDateString())</span>
                            </div>
                            <div class="col-md-8 col-lg-8 mt-2 mb-1 form-heading" style="text-align:center; margin-top:5px">
                                <span>
                                    Courier Request Form
                                </span>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                @if (!IsNew || !IsEdit)
                                {
                                    <span class="placeholder"> Form Id : @(!IsNew || !IsEdit ? ("CRF" + FormId ?? "") : "" )</span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="heading d-none" id="headingErr">
                        <h1 id="" class="info-header">Following fields are mandatory. Please fill in information for<br /></h1>
                        <div id="add_to_me" class="header-list" style="color:red;"></div>
                    </div>

                    @{
                        Html.RenderPartial("_SubmitterDetailsWithModel", (ViewBag as object));
                    }
                    @{
                        Html.RenderPartial("_ApplicantDetailsWithModel", (ViewBag as object));
                    }


                    <div id="accordion">
                        <div class="card">
                            <div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <img src="~/assets/img/transactionIcon.svg" width="24" height="24" class="mr-2" />Transaction Fields
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-row">
                                        @if (IsNewMode)
                                        {
                                            <div class="form-group col-md-6 inputSelect">
                                                <select class="selectconsign" name="drpConsignmentType" id="drpConsignmentType" onchange="checkSelect('drpConsignmentType')">
                                                    <option style="display: none;"></option>
                                                    <option value="Material">Material</option>
                                                    <option value="Document">Document</option>
                                                </select>
                                                <span class="placeholder">Type of Consignment</span>
                                            </div>
                                        }
                                        else if (IsViewMode)
                                        {
                                            <div class="form-group col-md-6 inputSelect">
                                                <select class="selectconsign spanUpperSide" disabled name="drpConsignmentType" id="drpConsignmentType" onchange="checkSelect('drpConsignmentType')">
                                                    <option style="display: none;"></option>
                                                    <option value="Material" @(CRF?.ConsignmentType == "Material" ? "selected" : "")>Material</option>
                                                    <option value="Document" @(CRF?.ConsignmentType == "Document" ? "selected" : "")>Document</option>
                                                </select>
                                                <span class="placeholder">Type of Consignment</span>
                                            </div>
                                        }
                                        else if (IsEditMode)
                                        {
                                            <div class="form-group col-md-6 inputSelect">
                                                <select class="selectconsign spanUpperSide" name="drpConsignmentType" id="drpConsignmentType" onchange="checkSelect('drpConsignmentType')">
                                                    <option style="display: none;"></option>
                                                    <option value="Material" @(CRF?.ConsignmentType == "Material" ? "selected" : "")>Material</option>
                                                    <option value="Document" @(CRF?.ConsignmentType == "Document" ? "selected" : "")>Document</option>
                                                </select>
                                                <span class="placeholder">Type of Consignment</span>
                                            </div>
                                        }

                                        @if (IsNewMode)
                                        {
                                            <div class="form-group col-md-6 inputSelect">
                                                <select class="selectconsign" name="drpCourierType" id="drpCourierType" onchange="checkSelect('drpCourierType')">
                                                    <option style="display: none;"></option>
                                                    <option value="Domestic - By Road">Domestic - By Road</option>
                                                    <option value="Domestic - By Air">Domestic - By Air</option>
                                                    <option value="International - By Air">International - By Air</option>
                                                    <option value="International - By Ship">International - By Ship</option>
                                                </select>
                                                <span class="placeholder">Courier Type</span>
                                            </div>
                                        }
                                        else if (IsViewMode)
                                        {
                                            <div class="form-group col-md-6 inputSelect">
                                                <select class="selectconsign spanUpperSide" disabled name="drpCourierType" id="drpCourierType" onchange="checkSelect('drpCourierType')">
                                                    <option style="display: none;"></option>
                                                    <option value="Domestic - By Road" @(CRF?.CourierType == "Domestic - Interstate" ? "selected" : "")>Domestic - By Road</option>
                                                    <option value="Domestic - By Air" @(CRF?.CourierType == "Domestic - Outerstate" ? "selected" : "")>Domestic - By Air</option>
                                                    <option value="International - By Air" @(CRF?.CourierType == "International - By Air" ? "selected" : "")>International - By Air</option>
                                                    <option value="International - By Ship" @(CRF?.CourierType == "International - By Ship" ? "selected" : "")>International - By Ship</option>
                                                </select>
                                                <span class="placeholder">Courier Type</span>
                                            </div>
                                        }
                                        else if (IsEditMode)
                                        {
                                            <div class="form-group col-md-6 inputSelect">
                                                <select class="selectconsign spanUpperSide" name="drpCourierType" id="drpCourierType" onchange="checkSelect('drpCourierType')">
                                                    <option style="display: none;"></option>
                                                    <option value="Domestic - By Road" @(CRF?.CourierType == "Domestic - Interstate" ? "selected" : "")>Domestic - By Road</option>
                                                    <option value="Domestic - By Air" @(CRF?.CourierType == "Domestic - Outerstate" ? "selected" : "")>Domestic - By Air</option>
                                                    <option value="International - By Air" @(CRF?.CourierType == "International - By Air" ? "selected" : "")>International - By Air</option>
                                                    <option value="International - By Ship" @(CRF?.CourierType == "International - By Ship" ? "selected" : "")>International - By Ship</option>
                                                </select>
                                                <span class="placeholder">Courier Type</span>
                                            </div>
                                        }

                                        <div class="form-group col-md-12 input-block">
                                            <textarea maxlength="500" cols="50" rows="3" id="txtAddressofConsignee" name="txtAddressofConsignee" required @(disabled)>@(CRF?.AddressofConsignee ?? "")</textarea>
                                            <span class="placeholder">Name & Address of Sender</span>
                                        </div>
                                        <div class="form-group col-md-12 input-block">
                                            <textarea maxlength="500" cols="50" rows="3" id="txtAddressofReceiver" name="txtAddressofReceiver" required @(disabled)>@(CRF?.AddressofReceiver ?? "")</textarea>
                                            <span class="placeholder">Name & Address of Receiver</span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="mr-2 mt-3 mlSpaceChk d-flex">
                                                <label id="lblWD">Weight/Dimension</label>


                                                @if (IsNewMode)
                                                {
                                                    <label id="" class="checkbox-container mr-2 mlSpaceChk">
                                                        Weight
                                                    </label>

                                                    <input type="checkbox" id="chkWeight" name="chkWeight" onclick="GetWeightDimension()" style="height: 25px;">

                                                    <label id="" class="checkbox-container mr-2 mlSpaceChk">
                                                        Dimension
                                                    </label>
                                                    <input type="checkbox" id="chkDimension" name="chkDimension" onclick="GetWeightDimension()" style="height: 25px;">

                                                }
                                                else if (IsViewMode)
                                                {
                                                    <label id="" class="checkbox-container mr-2 mlSpaceChk">
                                                        Weight
                                                    </label>

                                                    if (CRF?.WeightDimension == "Weight")
                                                    {
                                                        <input disabled type="checkbox" id="chkWeight" name="chkWeight" onclick="GetWeightDimension()" style="height: 25px;" checked>
                                                    }
                                                    else
                                                    {
                                                        <input disabled type="checkbox" id="chkWeight" name="chkWeight" onclick="GetWeightDimension()" style="height: 25px;">
                                                    }

                                                    <label id="" class="checkbox-container mr-2 mlSpaceChk">
                                                        Dimension
                                                    </label>
                                                    if (CRF?.WeightDimension == "Dimension")
                                                    {
                                                        <input disabled type="checkbox" id="chkDimension" name="chkDimension" onclick="GetWeightDimension()" style="height: 25px;" checked>
                                                    }
                                                    else
                                                    {
                                                        <input disabled type="checkbox" id="chkDimension" name="chkDimension" onclick="GetWeightDimension()" style="height: 25px;">
                                                    }

                                                }
                                                else if (IsEditMode)
                                                {
                                                    <label id="" class="checkbox-container mr-2 mlSpaceChk">
                                                        Weight
                                                    </label>
                                                    if (CRF?.WeightDimension == "Weight")
                                                    {
                                                        <input type="checkbox" id="chkWeight" name="chkWeight" onclick="GetWeightDimension()" style="height: 25px;" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="chkWeight" name="chkWeight" onclick="GetWeightDimension()" style="height: 25px;">
                                                    }

                                                    <label id="" class="checkbox-container mr-2 mlSpaceChk">
                                                        Dimension
                                                    </label>
                                                    if (CRF?.WeightDimension == "Dimension")
                                                    {
                                                        <input type="checkbox" id="chkDimension" name="chkDimension" onclick="GetWeightDimension()" style="height: 25px;" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="chkDimension" name="chkDimension" onclick="GetWeightDimension()" style="height: 25px;">
                                                    }
                                                }
                                            </div>


                                        </div>

                                        <div class="col-md-6 col-12">
                                            <input type="hidden" name="chkWD" id="chkWD" value="@(CRF?.WeightDimension ?? "")" />

                                            <input type="text" autocomplete="off" name="txtWD" id="txtWD" class="mt-1" value="@(CRF?.WeightDimensionIn??"")" @(disabled)>
                                        </div>

                                        <div class="form-group col-md-12 input-block">
                                            <textarea maxlength="500" cols="50" rows="3" id="txtBusinessNeed" name="txtBusinessNeed" required @(disabled)>@(CRF?.BusinessNeed ?? "")</textarea>
                                            <span class="placeholder">Business Function & Responsibility (Max. 500)</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    @if (IsViewMode || IsEditMode)
                    {
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            <img src="~/assets/img/approvalTracking.svg" width="24" height="24" class="mr-2" />Approval Tracking
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <table class="table w-100 td-border showBorder">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Role</th>
                                                            <th>Processed on</th>
                                                            <th>Status</th>
                                                            <th class="text-center">Comments</th>
                                                            <th class="text-center">Approval Level</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (!IsNew || !IsEdit)
                                                        {
                                                            Html.RenderPartial("_ApprovalTracking", appList);
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            <img src="~/assets/img/approvalTracking.svg" width="24" height="24" class="mr-2" /> Action
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                    <div class="card-body actionTab">
                                        <div class="form-row">
                                            <div class="form-group col-md-4 col-12 input-block">
                                                <input type="text" name="txtCourierInwardRegisterNo" class="w-40" autocomplete="off" maxlength="15" id="txtCourierInwardRegisterNo" onkeypress="allowNumbersOnly(event)" value="@(CRF?.CourierInwardRegisterNo??"")" disabled required>
                                                @* @(CurrentUserDesgn == SecurityDesgnString ? "" : "disabled") *@
                                                <span class="placeholder TransView">Courier Inward Register Sl. No</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <p class="text-left f-600">SF_SO/1_021.00</p>
                    </div>

                    @if (IsNew)
                    {
                        if (!IsEdit)
                        {
                            <div class="card-footer align-content-center">
                                <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                                    Re-Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm cancl-btn" id="btnCancel">
                                    Cancel
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="card-footer align-content-center">
                                <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm cancl-btn" id="btnCancel">
                                    Cancel
                                </button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </form>

</body>
<div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modelHeader">
                <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="modalBody" class="lableMsg">  </label>
                <input type="hidden" id="tab" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="submitBomBtn publishBtn" id="modalOkButton" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    var spinner = $('#loader');
    var currentUserDesgn = @Html.Raw(Json.Encode(CurrentUserDesgn));
    var IsNew = @Html.Raw(Json.Encode(IsNew));
    var IsEdit = @Html.Raw(Json.Encode(IsEdit));
    var IsNewMode = @Html.Raw(Json.Encode(IsNewMode));
    var IsEditMode = @Html.Raw(Json.Encode(IsEditMode));
    var IsViewMode = @Html.Raw(Json.Encode(IsViewMode));
    var CRF = @Html.Raw(Json.Encode(CRF));
    var appRowId = @Html.Raw(Json.Encode(AppRowId));
    var approvalType =@Html.Raw(Json.Encode(ApprovalType));
    var SecurityDesgnString = @Html.Raw(Json.Encode(SecurityDesgnString));
    var FlagRedirect = @Html.Raw(Json.Encode(FlagRedirect));
    pageLoad();
    var errorCount = 0;
    var errors = "";
    pageLoad();

    function pageLoad() {
        //
        spinner.hide();
        $("#headingErr").addClass('d-none');
        $("#rdOnBehalfOptionOthersLabel").text('Blue Collar Employee');
        if (IsViewMode || IsEditMode) {
            $("#txtAddressofConsignee").addClass('spanUpperSide');
            $("#txtAddressofReceiver").addClass('spanUpperSide');
            $("#txtBusinessNeed").addClass('spanUpperSide');

            GetWeightDimension();
        }
        else if (IsViewMode) {
            $("#divRequestSubmissionFor").addClass('d-none');           
        }
    }

    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }

    function successCRFModal(txt) {
        //
        $('#modalTitle').html('Success');
        if (txt == "approve") {
            $('#modalBody').html('Form has been approved!');
        }
        else if (txt == "reject") {
            $('#modalBody').html('Form has been rejected!');
        }
        else if (txt == "enquire") {
            $('#modalBody').html('Form has been enquired!');
        }
        else if (txt == "cancelled") {
            $('#modalBody').html('Form has been cancelled!');
        }
        else {
            if (IsEditMode) {
                $('#modalBody').html('Your form with ID: CRF' + txt + ' has been re-submitted! Kindly use this for future reference');
            }
            else {
                $('#modalBody').html('Your form with ID: CRF' + txt + ' has been submitted! Kindly use this for future reference');
            }

        }
        FlagRedirect = txt;
        //$("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function failureModal(txt) {
        if (txt == null) {
            $('#modalBody').html('Some error occurred!');
        }
        $('#modalTitle').html('Failure');
        $('#modalBody').html(txt);
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function permissionModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('No permssion granted since the device is not SAVWIPL owned!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function requiredModal(text) {
        $('#modalTitle').html('Required!');
        $('#modalBody').html(text);
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function validityModal(txt) {
        ////
        if (txt == 'approve') {
            DisplayAlert('error', 'Error', 'Please select the Type of Car');
        }
        else if (txt == 'reject') {
            DisplayAlert('error', 'Warning', 'Please type in the reason for rejecting the form');
        }
        else if (txt == 'enquire') {
            DisplayAlert('error', 'Warning', 'Please type in the reason for enquiring the form');
        }

    }

    $("#btnSubmit").on('click', function (e) {
        //

        validateSubmitter();
        validateApplicant();

        var drpConsignmentType = $("#drpConsignmentType option:selected").val();
        if (drpConsignmentType == "") {
            errors += "<li id='error" + errorCount + "'>" + "Consignment Type" + "</li>";
            AddError("drpConsignmentType", '', errorCount);
            errorCount++;
        }

        var drpCourierType = $("#drpCourierType option:selected").val();
        if (drpCourierType == "") {
            errors += "<li id='error" + errorCount + "'>" + "Courier Type" + "</li>";
            AddError("drpCourierType", '', errorCount);
            errorCount++;
        }

        var txtAddressofConsignee = document.getElementById("txtAddressofConsignee").value;
        if (txtAddressofConsignee == "") {
            errors += "<li id='error" + errorCount + "'>" + "Address of Consignee" + "</li>";
            AddError("txtAddressofConsignee", '', errorCount);
            errorCount++;
        }

        var txtAddressofReceiver = document.getElementById("txtAddressofReceiver").value;
        if (txtAddressofReceiver == "") {
            errors += "<li id='error" + errorCount + "'>" + "Address of Receiver" + "</li>";
            AddError("txtAddressofReceiver", '', errorCount);
            errorCount++;
        }


        if ($('.wd:checkbox:checked').length == 0) {
            errors += "<li id='error" + errorCount + "'>" + "Weight or Dimension" + "</li>";
            $("#chkWeight").addClass('removeWD');
            $("#chkDimension").addClass('removeWD');
            AddError("lblWD", 'removeWD', errorCount);
            errorCount++;
        }
        else {
            var txtWD = document.getElementById("txtWD").value;
            if (txtWD == "") {
                errors += "<li id='error" + errorCount + "'>" + "Enter Weight or Dimension" + "</li>";
                AddError("txtWD", '', errorCount);
                errorCount++;
            }
        }

        var txtBusinessNeed = document.getElementById("txtBusinessNeed").value;
        if (txtBusinessNeed == "") {
            errors += "<li id='error" + errorCount + "'>" + "Business Function & Responsibility" + "</li>";
            AddError("txtBusinessNeed", '', errorCount);
            errorCount++;
        }

        if (errors.length) {
            errors = "<ol id='errorList'>" + errors + "</ol>";
            $("#headingErr").removeClass('d-none');
            document.getElementById("add_to_me").innerHTML = errors;
            errors = "";
            errorCount = 0;
            if (IsEditMode) {
                $("#myModalEdit").scrollTop(0);
                $("#myModalRequest").scrollTop(0);
            }
            else {
                $(window).scrollTop(0);
            }
            return false;
        }
        $("#headingErr").addClass('d-none');
        document.getElementById("add_to_me").innerHTML = '';
        $('#ddEmpDesignation').prop("disabled", false);
        $('#txtOnBehalfdesignation').prop("disabled", false);
        $("#pageLoader").removeClass('invisible');
        $("#btnSubmit").text('Saving');
        $("#btnSubmit").prop("disabled", true);
        $("#btnCancel").prop("disabled", true);

        var form = $("#CRForm");
        var formData = new FormData(form[0]);
        $.ajax({
            url: '/CourierRequest/SaveCourierRequestForm',
            processData: false,
            contentType: false,
            type: 'POST',
            data: formData,
            enctype: 'multipart/form-data',
            success: (function (data) {
                if (data.Status == 200) {
                    $("#pageLoader").addClass('invisible');
                    if (IsNew && IsEdit) {
                        $("#btnSubmit").text('Submit');
                    }
                    else {
                        $("#btnSubmit").text('Re-Submit');
                    }
                    $("#btnSubmit").prop("disabled", false);
                    $("#btnCancel").prop("disabled", false);
                    successCRFModal(data.Message);
                }
                else {
                    failureModal(data.Message);
                    if (IsNew && IsEdit) {
                        $("#btnSubmit").text('Submit');
                    }
                    else {
                        $("#btnSubmit").text('Re-Submit');
                    }
                    $("#pageLoader").addClass('invisible');
                    $("#btnSubmit").prop("disabled", false);
                    $("#btnCancel").prop("disabled", false);
                    console.log("failure");
                }
            }),
            error: (function (data) {
                failureModal();
                console.log("error");
                if (IsNew && IsEdit) {
                    $("#btnSubmit").text('Submit');
                }
                else {
                    $("#btnSubmit").text('Re-Submit');
                }
                $("#pageLoader").addClass('invisible');
                $("#btnSubmit").prop("disabled", false);
                $("#btnCancel").prop("disabled", false);
            })
        })
        $("#tab").val(2);
    });

    $("#btnCancel").on('click', function (e) {
        window.location = "../Dashboard";
    });

    function saveResponse(text) {
        //


        var status = '', comment = '';
        comment = $("#comment-" + text).val();
        switch (text) {
            case 'approve': {
                status = 'Approved';
                if (currentUserDesgn == SecurityDesgnString) {
                    //var txtCourierInwardRegisterNo = $("#txtCourierInwardRegisterNo").val();
                    //if (txtCourierInwardRegisterNo == "") {
                    //    if (text == 'approve') {
                    //        DisplayAlert('error', 'Error', 'Please enter the Courier Inward Register No in the Action Tab', 5000);
                    //        $("#collapseFive").addClass('show');
                    //        AddError("txtCourierInwardRegisterNo", '', errorCount);
                    //        return;
                    //    }
                    //}
                    //else {
                    //    RemoveError("txtCourierInwardRegisterNo");
                    //    WeighingUpdate(status, appRowId, comment, approvalType, text);
                    //}
                    WeighingUpdate(status, appRowId, comment, approvalType, text);
                }
                else {
                    FormApproval(status, appRowId, comment, approvalType, text);
                }
                break;
            }
            case 'reject': {
                status = 'Rejected';
                if (comment == '') {
                    validityModal(text);
                    return;
                }
                else {
                    FormApproval(status, appRowId, comment, approvalType, text);
                }
                break;
            }
            case 'enquire': {
                status = 'Enquired';
                if (comment == '') {
                    validityModal(text);
                    return;
                }
                else {
                    FormApproval(status, appRowId, comment, approvalType, text);
                }
                break;
            }
        }

        $("#tab").val(1);
    }

    function FormApproval(status, appRowId, comment, approvalType, text) {
        //
        spinner.show();
        $.ajax({
            url: '/List/SaveResponse',
            type: 'POST',
            data: { response: status, appRowId: appRowId, comment: comment, approvalType: approvalType },
            dataType: 'JSON',
            success: (function (data) {
                if (data.Result == 1) {
                    successCRFModal(text);
                    spinner.hide();
                    //setTimeout(FilterMyTasks, 5000);
                    spinner.hide();
                }
                else {
                    failureModal();
                    spinner.hide();
                }
            }),
            error: (function (data) {
                failureModal();
                spinner.hide();
            })
        })

        $("#tab").val(1);
    }

    function WeighingUpdate(status, appRowId, comment, approvalType, text){
        //
        var form = $("#CRForm").serialize();
        $.ajax({
            url: '/CourierRequest/WeighingUpdate',
            type: 'POST',
            data: form,
            dataType: 'JSON',
            success: (function (data) {
                if (data == 1) {
                    FormApproval(status, appRowId, comment, approvalType, text);
                }
                else {
                    failureModal();
                }
            }),
            error: (function (data) {
                failureModal();
            })
        })

    }

    $('#myModal').modal({ backdrop: 'static', keyboard: false })

    $('#successModel').on('hidden.bs.modal', function () {
        ////
        var tab = $("#tab").val();
        console.log(tab);
        if (tab == 1) {
            GetMyTaskTab();
        }
        else if (tab == 2) {
            window.location = "../Dashboard?tab=" + tab;
        }
    })

    function GetWeightDimension() {
        //
        //$('input:checkbox[id="chkWeight"]').click(function () {
        //    if ($(this).prop("checked") == true) {
        //        $('input[id="chkWeight"]').prop('disabled', true);
        //        $('input[id="chkDimension"]').prop('checked', false);
        //        $('input[id="chkDimension"]').prop("disabled", false);
        //        $("#chkWD").val('Weight');

        //    }
        //});

        //$('input:checkbox[id="chkDimension"]').click(function () {
        //    if ($(this).prop("checked") == true) {
        //        $('input[id="chkDimension"]').prop('disabled', true);
        //        $('input[id="chkWeight"]').prop("checked", false);
        //        $('input[id="chkWeight"]').prop("disabled", false);
        //        $("#chkWD").val('Dimension');
        //    }
        //});
    }

    $('input:checkbox[id="chkWeight"]').click(function () {
        if ($(this).prop("checked") == true) {
            $('input[id="chkWeight"]').prop('disabled', true);
            $('input[id="chkDimension"]').prop('checked', false);
            $('input[id="chkDimension"]').prop("disabled", false);
            $("#chkWD").val('Weight');

        }
    });

    $('input:checkbox[id="chkDimension"]').click(function () {
        if ($(this).prop("checked") == true) {
            $('input[id="chkDimension"]').prop('disabled', true);
            $('input[id="chkWeight"]').prop("checked", false);
            $('input[id="chkWeight"]').prop("disabled", false);
            $("#chkWD").val('Dimension');
        }
    });

</script>


