@model dynamic
@{
    bool IsNew = true;
    Skoda_DCMS.Models.InternalJobPostingData IJPF = null;
    bool IsEdit = true, IsNewMode = true, IsEditMode = false, IsViewMode = false;
    int FormId = 0, AppRowId = 0, ApprovalType = 0;
    var CurrentUserDesgn = "";
    Layout = ViewBag.Layout;
    var user = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
    List<Skoda_DCMS.Models.ApprovalDataModel> appList = new List<Skoda_DCMS.Models.ApprovalDataModel>();
    string disabled = "";
    if (ViewBag != null && ViewBag.IsNew != null)
    {
        IsNew = ViewBag.IsNew;
        IsEdit = ViewBag.IsEdit;
        IsNewMode = ViewBag.IsNewMode;
        IsEditMode = ViewBag.IsEditMode;
        IsViewMode = ViewBag.IsViewMode;
        disabled = IsViewMode ? "disabled" : "";
        IJPF = ViewBag.Model.one[0] as Skoda_DCMS.Models.InternalJobPostingData;
        FormId = ViewBag.FormId;
        AppRowId = ViewBag.AppRowId;
        ApprovalType = ViewBag.ApprovalType != null ? (int)ViewBag.ApprovalType : 0;
        appList = ViewBag.Model?.three as List<Skoda_DCMS.Models.ApprovalDataModel>;
        CurrentUserDesgn = appList?.Where(x => x.ApproverUserName.ToLower() == user.UserName.ToLower()).Select(x => x.Designation).FirstOrDefault();
    }
    ViewBag.Title = "Internal Job Posting Form";
    int count = 0;

}
<style>

    .deviationDate {
        /*max-width: fit-content !important;*/
        /* max-width:20px;*/
        width: 15px;
        margin-left: 1px;
        margin-right: 1px;
        height: 30px !important;
        border: none !important;
        max-width: 95px !important;
        background-color: #fff !important;
        outline: none !important;
    }

    .astColor {
        color: red;
    }

    /*New design css start here*/

    .textTrans {
        width: 100%;
        max-width: 99%;
        border-radius: 5px;
        margin-right: 0px;
        border: 1px solid #BFBFBF !important;
    }

    .empDetailsBg {
        background-color: #fffbef;
    }

    #accordion select {
        color: #000;
        width: 100% !important;
        max-width: 97%;
        height: 45px;
        background-color: #fff;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 5px;
        background-image: url(data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>);
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-size: 16px 12px;
    }

    #accordion input[type='text'] {
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        background-color: #fff;
        border: 1px solid #BFBFBF !important;
        box-sizing: border-box;
        border-radius: 5px !important;
    }

    #accordion input[type='date'] {
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        border: 1px solid #BFBFBF !important;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #accordion input[type='time'] {
        height: 45px;
    }

    #accordion label {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #201F1F;
    }

    #accordion table tr td {
        border: none;
        font-size: 16px;
        line-height: 19px;
        color: #201F1F;
        background-color: white;
    }

    #accordion label {
        display: block;
    }

    #accordion .card-header {
        background: rgb(4 59 100) !important;
        border-radius: 5px 5px 0px 0px;
        position: relative;
        margin-top: 15px;
    }

        #accordion .card-header.collapsed h5:after {
            content: '+';
            position: absolute;
            right: 22px;
            top: 17px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

        #accordion .card-header h5:after {
            content: '-';
            position: absolute;
            right: 22px;
            top: 17px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

    #accordion h5 button {
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        padding-left: 0px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        /* Text_white */

        color: #FFFFFF;
    }

        #accordion h5 button:focus {
            box-shadow: none;
        }

    .empDetailsFields label {
        display: block !important;
        margin-bottom: 0px;
    }

    .empDetailsFields .row label {
        display: block;
        margin-bottom: 0px;
    }

        .empDetailsFields .row label:nth-child(1) {
            font-style: normal;
            font-weight: normal !important;
            font-size: 12px;
            line-height: 18px;
            color: #A9A9A9 !important;
        }

        .empDetailsFields .row label:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #201F1F;
        }

    .firstLastName {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;
        color: #201F1F;
    }

    .submit-btn {
        background: #3D3D3D;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 173.7%;
        /* identical to box height, or 28px */
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-color: transparent !important;
    }

    .cancl-btn {
        background: #FAE99B;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        border-color: transparent !important;
        line-height: 173.7%;
        /* identical to box height, or 28px */
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #212221;
        margin-left: 10px;
    }




    .card-footer {
        display: flex;
        background-color: transparent !important;
    }

    .photo-form {
        width: 100%;
    }

    .ui-front {
        z-index: 9999999 !important;
    }
    /*Animation CSS Starts*/

    div.input-block {
        position: relative;
    }

        div.input-block input {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 188px;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border: 1px solid #D9D9D9;
            outline: none;
        }

        div.input-block textarea {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 100%;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            background-color: #fff;
            border: 1px solid #D9D9D9;
            outline: none;
        }

        div.input-block span.placeholder {
            position: absolute;
            margin: 17px 0;
            padding: 0 4px;
            font-family: Roboto, sans-serif;
            color: #6c757d;
            display: flex;
            align-items: center;
            font-size: 1rem;
            top: -6px;
            left: 15px;
            transition: all 0.2s;
            transform-origin: 0% 0%;
            background: none;
            pointer-events: none;
            z-index: 1;
        }

        div.input-block textarea:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: #fff !important;
        }

        div.input-block textarea:valid + span.placeholder,
        div.input-block textarea:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px) !important;
            background: #fff !important;
        }

        div.input-block input:valid + span.placeholder,
        div.input-block input:focus + span.placeholder {
            transform: scale(0.8) translateY(-25px);
            background-color: #fff;
        }

    .empDetailsFields div.input-block input:valid + span.placeholder,
    .empDetailsFields div.input-block input:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    div.input-block input.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    .empDetailsFields div.input-block input:read-only + span.placeholder,
    .empDetailsFields div.input-block input:read-only + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    div.input-block input:read-only + span.placeholder,
    div.input-block input:read-only + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: #fff;
    }


    div.inputSelect span.placeholder {
        position: absolute;
        margin: 17px 0;
        padding: 0 4px;
        font-family: Roboto, sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        font-size: 1rem;
        top: -6px;
        left: 15px;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;
        z-index: 1;
    }

    div.inputSelect select:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background: #fff;
        z-index: 9;
    }

    .empDetailsFields div.inputSelect select:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
        z-index: 9;
    }

    div.inputSelect select:not([value=""]):valid + span.placeholder {
        transition: all 0.2s;
        transform-origin: 0% 0%;
    }



    div.input-block input:focus + span.placeholder {
        color: #284B63;
    }

    .breadcrumb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1rem 1rem 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #FFFFFF;
        border-radius: .25rem;
    }

    body.nav-sm .container.body .left_col {
        width: 63px;
        padding: 0;
        position: fixed;
        height: 100%;
        z-index: 8;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px;
        border-radius: .25rem;
    }

    .dropdown-toggle::after {
        display: none;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    input.spanUpperSide + span.placeholder {
        background-color: rgb(219,238,213);
    }

    inputSelect.spanUpperSide + span.placeholder {
        background-color: rgb(219,238,213) !important;
    }

    select.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background-color: #fff !important;
        z-index: 9;
    }

    .empDetailsFields select.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background-color: rgb(219,238,213) !important;
        ;
        z-index: 9;
    }

    textarea.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
        z-index: 9;
    }

    .TransView {
        background-color: white !important;
    }

    @@media only screen and (min-width: 992px) {
        div .input-block span.placeholder {
            font-size: 15px;
        }

        div.inputSelect span.placeholder {
            font-size: 14px;
        }
    }

    input[type='date'].spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
        z-index: 9;
    }

    .showBorder {
        border: 1px solid #dee2e6;
    }

    .forSameHt {
        padding-bottom: 40px;
        height: 78px !important;
    }

    .forPoints input[type='checkbox'] {
        margin-right: 2px;
        position: relative;
        top: 2px;
    }

    #lblReason {
        font-size: 16px !important;
    }

    #drpCurrency {
        max-width: 100% !important;
    }

    #accordion table.tblBorders tr td {
        border: 1px solid #dee2e6 !important;
    }

    #txtAboutRoleAppliedFor {
        padding-top: 25px !important;
    }

    #fileToUpload {
        border: none !important;
        width: 100% !important;
    }

    #moduleBody td {
        vertical-align: middle;
    }
</style>
@*Loader*@
<style type="text/css">
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        
        z-index: 10000;
    }
</style>
<script type="text/javascript">

    function checkSelect(id) {

        if ($('#' + id).val() != '') {
            $('#' + id).addClass('spanUpperSide');
        }
    }
    /*$('#timedemo').pickatime({ twelvehour: true });*/

</script>

@*Loader*@
<body>
    <div class="right_col bg-transparent" role="main">
        <div class="container">

            <form id="IJPForm" method="post">

                @if (!IsNew || !IsEdit)
                {
                    <input type="hidden" name="empUsers" id="empUsers" value="@(ViewBag.Model.four.Count)" />
                }
                @if (IsEditMode || IsViewMode)
                {
                    <div>
                        <input type="hidden" id="FormSrId" name="FormSrId" value="@(ViewBag.Model.one[0].Id)" />
                        <input type="hidden" id="FormId" name="FormId" value="@(FormId)" />
                        <input type="hidden" id="AppRowId" name="AppRowId" value="@(AppRowId)" />
                    </div>
                }
                <div>
                    <ol class="breadcrumb pl-0">
                        <li>
                            <a href="/Dashboard?formName=IJPF">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            Internal Job Posting Form
                        </li>

                    </ol>
                </div>
                <div class="breadcrumb-container table-bordered" style="background-color: rgb(219,238,213) !important; ">
                    <div class="col-md-2 col-lg-2">
                        <span class="placeholder">Date : @(!IsNew || !IsEdit ? (Convert.ToDateTime(ViewBag.Model.two[0].FormId.Created).ToShortDateString()) : DateTime.Now.ToShortDateString())</span>
                    </div>
                    <div class="col-md-8 col-lg-8 mt-2 mb-1 form-heading" style="text-align:center; margin-top:5px">
                        <span>
                            Internal Job Posting Form
                        </span>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        @if (!IsNew || !IsEdit)
                        {
                            <span class="placeholder"> Form Id : @(!IsNew || !IsEdit ? ("IJPF" + FormId ?? "") : "" )</span>
                        }
                    </div>
                </div>

                <input type="hidden" id="ScreenId" name="ScreenId" value="New">
                <div class="heading d-none" id="headingErr">
                    <h1 id="" class="info-header">Following fields are mandatory. Please fill in information for<br /></h1>
                    <div id="add_to_me" class="header-list" style="color:red;"></div>
                </div>

                @{
                    Html.RenderPartial("_SubmitterDetailsWithModel", (ViewBag as object));
                }
                @*@{
                        Html.RenderPartial("_ApplicantDetailsWithModel", (ViewBag as object));
                    }*@


                <div id="accordion">

                    <div class="card">
                        <div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <img src="~/assets/img/transactionIcon.svg" width="24" height="24" class="mr-2" />Transaction Fields
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container form-container">

                                    <div class="w-100">
                                        <div>
                                            <span id="hiddenApproverInformation"></span>
                                            <div>
                                                <div class="w-100 form-row">
                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">

                                                        <input class="inputCourier" id="IJPReference" name="IJPReference" maxlength="10" autocomplete="off" type="text" required value="@(IJPF?.IJPReference ?? "")" @(disabled)>
                                                        <span class="placeholder TransView">IJP Ref.</span>
                                                    </div>

                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">
                                                        <input class="inputCourier" id="MPRReference" name="MPRReference" maxlength="10" value="@(IJPF?.MPRReference ?? "")" @(disabled) autocomplete="off" type="text" required>
                                                        <span class="placeholder TransView">MPR No.</span>
                                                    </div>
                                                </div>
                                                <div class="w-100 form-row">
                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">
                                                        <input class="inputCourier spanUpperSide" type="date" value="@(IJPF?.DateOfJoining.ToString("yyyy-MM-dd"))" @(disabled) name="txtDateOfJoining" id="txtDateOfJoining" required>
                                                        <span class="placeholder TransView">Date of Joining<span class="astColor">*</span></span>
                                                    </div>

                                                    @*<div class="form-group col-md-6 col-lg-6 col-12 input-block">

                                                            <input class="inputCourier" type="text" name="txtLevel" id="txtLevel" autocomplete="off" maxlength="3"  value="@(IJPF?.Level ?? 0)" @(disabled) required>
                                                            <span class="placeholder TransView">Level<span class="astColor">*</span></span>
                                                        </div>*@
                                                    <div class="form-group col-md-12 col-lg-12 col-12 input-block">

                                                        <input class="inputCourier" type="text" name="txtCurrentRole" id="txtCurrentRole" autocomplete="off" onkeypress="alphaOnly(event)" value="@(IJPF?.CurrentRole ?? "")" @(disabled) required>
                                                        <span class="placeholder TransView">Current role<span class="astColor">*</span></span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">

                                                        <textarea class="inputCourier" rows="3" type="text" maxlength="200" name="txtCurrentDepartmentDuration" id="txtCurrentDepartmentDuration" required @(disabled)>@(IJPF?.CurrentDepartmentDuration ?? "")</textarea>
                                                        <span class="placeholder TransView">How long you have been in current department(In month and year)?</span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">

                                                        <textarea class="inputCourier" rows="3" type="text" maxlength="200" name="txtCurrentRoleDuration" id="txtCurrentRoleDuration" required @(disabled)>@(IJPF?.CurrentRoleDuration ?? "")</textarea>
                                                        <span class="placeholder TransView">How long you have been in current role(In month and year)?</span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">
                                                        <textarea class="inputCourier" rows="3" type="text" maxlength="200" name="txtCurrentReportingManagerName" id="txtCurrentReportingManagerName" required @(disabled)>@(IJPF?.CurrentReportingManagerName ?? "")</textarea>
                                                        <span class="placeholder TransView">Name of current reporting manager</span>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-6 col-12 input-block">
                                                        <textarea rows="3" class="inputCourier" rows="3" type="text" maxlength="200" name="txtQualification" id="txtQualification" required @(disabled)>@(IJPF?.Qualification ?? "")</textarea>
                                                        <span class="placeholder TransView">Qualification</span>
                                                    </div>
                                                </div>
                                                <table class="w-100 form-border mb-4">
                                                    <tr>
                                                        <td class="bb-0">
                                                            <label id="lblEmpDet">
                                                                <b>Employment Details:</b>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bt-0 bb-0">(Include the details of all the positions starting with the current job and experience outside. Please do mention if you have held other positions within Volkswagen Group (VWIPL, SAIPL and VWGSIPL) as a Separate line item)</td>
                                                    </tr>

                                                </table>
                                                <table class="w-100 form-border">
                                                    <tr>
                                                        <td class="bt-0 bb-0">
                                                            <table id="EmpDet" class="w-100 table table-border tblBorders mx-auto form-border">
                                                                <thead class="form-head-1">
                                                                    <tr>
                                                                        <th>Sr. No.	</th>
                                                                        <th>Organisation</th>
                                                                        <th>Designation</th>
                                                                        <th>From</th>
                                                                        <th>To</th>
                                                                        <th>Main Responsibilities</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                @if (IsViewMode || IsEditMode)
                                                                {
                                                                    var cnt = 1;
                                                                    <tbody id="moduleBody" class="tableEmployeeDetails">
                                                                        @foreach (var itemEmp in ViewBag.Model.four)
                                                                        {
                                                                            <tr id='@("row" + cnt)' class="tr_input">
                                                                                <td class="sNo text-center">@cnt</td>
                                                                                <td class="text-center">
                                                                                    <div class="input-block">
                                                                                        <textarea class="inputCourier sftDetClass inpOrgValidate" maxlength="500" type="text" name='@("txtOrganisation_"+cnt)' @(disabled) id='@("txtOrganisation_"+cnt)'>@itemEmp.Organisation</textarea>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <div class="input-block">
                                                                                        <textarea class="inputCourier inpDesValidate" maxlength="500" type="text" name='@("txtDesignation_"+cnt)' @(disabled) id='@("txtDesignation_"+cnt)'>@itemEmp.Designation</textarea>
</div>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <div class="input-block">
                                                                                        <input type="date" onchange="date_val(this)" class="inputCourier inpFrmValidate" id='@("txtFromDate_"+cnt)' name='@("txtFromDate_"+cnt)' @(disabled) value="@itemEmp.FromDate.ToString("yyyy-MM-dd")" />
                                                                                    </div>
                                                                                        </td>

                                                                                <td class="text-center">
                                                                                    <div class="input-block">
                                                                                        <input type="date" onchange="date_val(this)" class="inputCourier inpToValidate" id='@("txtToDate_"+cnt)' name='@("txtToDate_"+cnt)' @(disabled) value="@itemEmp.ToDate.ToString("yyyy-MM-dd")" />
                                                                                  </div>
                                                                                 </td>

                                                                                <td>
                                                                                    <div class="input-block">
                                                                                        <textarea class="inpMainResponsibilitesValidate" maxlength="500" type="text" id='@("txtMainResponsibilites_"+cnt)' name='@("txtMainResponsibilites_"+cnt)' @(disabled)>@itemEmp.MainResponsibilities</textarea>
                                                                                    </div>
                                                                                </td>

                                                                              
                                                                                <td style="background-color:white; max-width:70px; border-bottom:none; vertical-align:central;">
                                                                                    @if (IsEditMode)
                                                                                    {
                                                                                        <img class="remove-btn remove" src="~/assets/img/remove.png"
                                                                                             alt="Remove" style="max-width: 18px !important; background-color: white;" />
                                                                                    }
                                                                                    </td>
                                                                              
                                                                            </tr>
                                                                            cnt++;
                                                                        }
                                                                    </tbody>
                                                                }
                                                                else
                                                                {
                                                                    <tbody id="moduleBody" class="tableEmployeeDetails">
                                                                        @for (var i = 1; i < 2; i++)
                                                                        {
                                                                            <tr id='@("row"+i)' class="tr_input">
                                                                                <td class="sNo">@i</td>
                                                                                <td>
                                                                                    <textarea class="inputCourier sftDetClass inpOrgValidate" maxlength="500" type="text" name="txtOrganisation_1" id="txtOrganisation_1"></textarea>
                                                                                    @*<input class="inputCourier sftDetClass inpOrgValidate" type="text" autocomplete="off" name="txtOrganisation_1" id="txtOrganisation_1">*@
                                                                                </td>
                                                                                <td>
                                                                                    <textarea class="inputCourier inpDesValidate" maxlength="500" type="text" name="txtDesignation_1" id="txtDesignation_1"></textarea>
                                                                                    @*<input class="inputCourier inpDesValidate" type="text" autocomplete="off" name="txtDesignation_1" id="txtDesignation_1">*@
                                                                                </td>
                                                                                <td><input class="inputCourier inpFrmValidate" type="date" onchange="date_val(this)" name="txtFromDate_1" id="txtFromDate_1"></td>
                                                                                <td><input class="inputCourier inpToValidate" type="date" name="txtToDate_1" id="txtToDate_1"></td>
                                                                                <td><textarea class="inpMainResponsibilitesValidate" maxlength="500" type="text" name="txtMainResponsibilites_1" id="txtMainResponsibilites_1"></textarea></td>
                                                                                <td style="background-color:white; max-width:70px; border-bottom:none; vertical-align:central;">
                                                                                    <img class="remove-btn remove" src="~/assets/img/remove.png"
                                                                                         alt="Remove" style="max-width: 18px !important; background-color: white;" />
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>

                                                                }
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    @if (IsNew || !IsEdit)
                                                    {
                                                        <tr align="right">
                                                            <td class="">
                                                                <button type="button" class="btn btn-sm btn-success submit-btn d-flex float-right mb-2 bl-1 " onclick="AddRows()">
                                                                    + Add
                                                                </button>
                                                                <input type="hidden" name="totalrows" id="totalrows" />
                                                            </td>
                                                        </tr>
                                                    }

                                                </table>
                                                <table class="w-100 form-border mt-4">

                                                    <tr>
                                                        <td>
                                                            <div class="input-block">
                                                                <textarea maxlength="500" rows="3" class="" type="text" name="txtPositionAndDepartmentAppliedFor" id="txtPositionAndDepartmentAppliedFor" required @(disabled)>@(IJPF?.PositionAndDepartmentAppliedFor ?? "")</textarea>
                                                                <span class="placeholder">Position and Department Applied for<span class="astColor">*</span>:</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="container form-container mt-3">

                                    <table class="w-100">

                                        <tr>
                                            <td>
                                                <div class="input-block">
                                                    <textarea rows="3" maxlength="500" name="txtReasonForChangingJobProfile" id="txtReasonForChangingJobProfile" required @(disabled)>@(IJPF?.ReasonForChangingJobProfile ?? "")</textarea>
                                                    <span class="placeholder">Why would you like to change your profile?</span>
                                                </div>
                                                @*<div class="mt-3 input-block">
                                                        <textarea rows="3" maxlength="500" name="txtAchievements" id="txtAchievements" required @(disabled)>@(IJPF?.Achievements ?? "")</textarea>
                                                        <span class="placeholder">What have been some of your significant achievements in the current job profile?</span>
                                                    </div>*@

                                                <div class="mt-3 input-block">
                                                    @*<textarea rows="3" maxlength="500" class="pt-3" name="txtAboutRoleAppliedFor" id="txtAboutRoleAppliedFor" required @(disabled)>@(IJPF?.AboutRoleAppliedFor ?? "")</textarea>
                                                        <span class="placeholder">What is your understanding of the role of that you are applying for? What are some of the challenges you will face in that role and how will you deal with them? (Please attach an extra sheet if required)</span>*@
                                                    <div class="row">
                                                        @if (IsViewMode)
                                                        {
                                                            if (ViewBag.Model.one[0].attachmentIJPFlist.attachmentIJPFData.Count != 0)
                                                            {
                                                                foreach (var attachment in ViewBag.Model.one[0].attachmentIJPFlist.attachmentIJPFData)
                                                                {
                                                                    <div class="col-12 mb-4 mt-3">
                                                                        <span class="d-inline-block mr-4">Upload Resume: <span><i class="fa fa-upload" aria-hidden="true"></i></span></span>

                                                                        <input type="hidden" id="attachedfile" name="attachedfile" value="@System.Configuration.ConfigurationManager.AppSettings["SharepointSiteURL"]@attachment.ServerRelativeUrl" />
                                                                        <input type="hidden" id="attachedfileName" name="attachedfileName" value="@attachment.FileName" />
                                                                        <a href=@System.Configuration.ConfigurationManager.AppSettings["SharepointSiteURL"]@attachment.ServerRelativeUrl download=@attachment.FileName target="_blank">@attachment.FileName </a>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                        else if (IsEditMode)
                                                        {
                                                            if (ViewBag.Model.one[0].attachmentIJPFlist.attachmentIJPFData.Count != 0)
                                                            {
                                                                foreach (var attachment in ViewBag.Model.one[0].attachmentIJPFlist.attachmentIJPFData)
                                                                {
                                                                    <div class="col-12 mb-4 mt-3">
                                                                        <span class="d-inline-block mr-4">Upload Resume: <span><i class="fa fa-upload" aria-hidden="true"></i></span></span>


                                                                        <input @(disabled) type="file" id="fileToUpload" name="fileToUpload" style="background-color: white !important; width: 205px;" />
                                                                        <input type="hidden" id="attachedfile" name="attachedfile" value="@System.Configuration.ConfigurationManager.AppSettings["SharepointSiteURL"]@attachment.ServerRelativeUrl" />
                                                                        <input type="hidden" id="attachedfileName" name="attachedfileName" value="@attachment.FileName" />
                                                                        <a class="ml-4" href=@System.Configuration.ConfigurationManager.AppSettings["SharepointSiteURL"]@attachment.ServerRelativeUrl download=@attachment.FileName target="_blank">@attachment.FileName </a>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="col-12 mb-3 mt-3">
                                                                    <label>Upload Resume</label>
                                                                    <input type="file" id="fileToUpload" name="fileToUpload" class="pl-0" style="background-color: white !important; width: 205px;" />
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="col-12 mb-3 mt-3">
                                                                <label>Upload Resume</label>
                                                                <input type="file" id="fileToUpload" name="fileToUpload" class="pl-0" style="background-color: white !important; width: 205px;" />
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                                @*<div class="input-block">
                                                        <textarea rows="3" maxlength="500" name="txtBusinessNeed" id="txtBusinessNeed" required @(disabled)>@(IJPF?.BusinessNeed ?? "")</textarea>
                                                        <span class="placeholder">Business Need</span>
                                                    </div>*@
                                            </td>
                                        </tr>


                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <img src="~/assets/img/termsIcon.svg" width="24" height="24" class="mr-2" />  General Info / Terms & Conditions

                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <div>
                                    <table class="w-100 detail-sec-p">
                                    </table>
                                    <table class="w-100">
                                        <tr>
                                            <td>
                                                <label class="checkbox-container">
                                                    <label id="lblchkDeclaration" class="f-600"><b>I declare that the information provided above is true to the best of my knowledge and I will be responsible for the consequences rising out of any misrepresentation of the same.</b></label>
                                                    @if (IsViewMode)
                                                    {
                                                        <input disabled checked type="checkbox" name="chkDeclaration" id="chkDeclaration" />
                                                        <span class="checkmark"></span>
                                                    }
                                                    else if (IsEditMode)
                                                    {
                                                        <input checked type="checkbox" name="chkDeclaration" id="chkDeclaration" />
                                                        <span class="checkmark"></span>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkDeclaration" id="chkDeclaration" />
                                                        <span class="checkmark"></span>
                                                    }

                                                </label>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (IsViewMode || IsEditMode)
                {
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <img src="~/assets/img/approvalTracking.svg" width="24" height="24" class="mr-2" />Approval Tracking
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <table class="table w-100 td-border showBorder">
                                                <thead>
                                                    <tr>
                                                        @*<th>Sr. No.</th>*@
                                                        <th>Name</th>
                                                        <th>Role</th>
                                                        <th>Processed on</th>
                                                        <th>Status</th>
                                                        <th class="text-center">Comments</th>
                                                        <th class="text-center">Approval Level</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (!IsNew || !IsEdit)
                                                    {
                                                        Html.RenderPartial("_ApprovalTracking", appList);
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>
                    <p class="text-left f-600">SF_S_29</p>
                </div>

                @if (IsNew)
                {
                    if (!IsEdit)
                    {
                        <div class="card-footer align-content-center">
                            <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                                Re-Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm cancl-btn" id="btnCancel">
                                Cancel
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="card-footer align-content-center">
                            <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm cancl-btn" id="btnCancel">
                                Cancel
                            </button>
                        </div>
                    }
                }
            </form>
        </div>
    </div>
</body>
<div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modelHeader">
                <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="modalBody" class="lableMsg">  </label>
                <input type="hidden" id="tab" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="submitBomBtn publishBtn" id="modalOkButton" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    var spinner = $('#loader');
    var CurrentUserDesgn = @Html.Raw(Json.Encode(CurrentUserDesgn));
    var IsNew = @Html.Raw(Json.Encode(IsNew));
    var IsEdit = @Html.Raw(Json.Encode(IsEdit));
    var IsNewMode = @Html.Raw(Json.Encode(IsNewMode));
    var IsEditMode = @Html.Raw(Json.Encode(IsEditMode));
    var IsViewMode = @Html.Raw(Json.Encode(IsViewMode));
    var IJPF = @Html.Raw(Json.Encode(IJPF));
    var appRowId = @Html.Raw(Json.Encode(AppRowId));
    var approvalType =@Html.Raw(Json.Encode(ApprovalType));
    var errorCount = 0;
    var errors = "";

    $(document).ready(function () {
        //
        $('#divRequestSubmissionFor').addClass('d-none');
        $('#drpRequestSubmissionFor').val('Self');
        $("#headingErr").addClass('d-none');
        if (IsEditMode) {
            var cabuserTotal = parseInt(document.getElementById("empUsers").value);
            console.log(cabuserTotal);
            rowIdx = cabuserTotal;
            count = cabuserTotal;
        }
        else if (IsViewMode) {
            $("#drpRequestSubmissionFor").addClass('spanUpperSide');
            $("#txtCurrentDepartmentDuration").addClass('spanUpperSide');
            $("#txtCurrentRoleDuration").addClass('spanUpperSide');
            $("#txtCurrentReportingManagerName").addClass('spanUpperSide');
            $("#txtQualification").addClass('spanUpperSide');
            $("#txtPositionAndDepartmentAppliedFor").addClass('spanUpperSide');
            $("#txtReasonForChangingJobProfile").addClass('spanUpperSide');
            //$("#txtAchievements").addClass('spanUpperSide');
            //$("#txtAboutRoleAppliedFor").addClass('spanUpperSide');
            //$("#txtBusinessNeed").addClass('spanUpperSide');

            var cabuserTotal = parseInt(document.getElementById("empUsers").value);
            console.log(cabuserTotal);
            rowIdx = cabuserTotal;
            count = cabuserTotal;
        }
        else {
            count = 0;
            rowIdx = 1;
            srNo = 1;
        }
    });

    function AddRows() {
        //
        var newCount = rowIdx + 1;
        if (newCount <= 15) {
            var row = '<tr id="row' + newCount + '" class="tr_input"><td class="sNo">' + newCount + '</td>'
            /* + '<td><input class="inputCourier sftDetClass inpOrgValidate" type="text"  autocomplete="off" name="txtOrganisation_' + newCount + '"  id="txtOrganisation_' + newCount + '"></td>'*/
                + '<td><textarea maxlength="500" class="inputCourier sftDetClass inpOrgValidate" type="text" name="txtOrganisation_' + newCount + '"  id="txtOrganisation_' + newCount + '"></textarea></td>'
            /*   + '<td><input class="inputCourier inpDesValidate" type="text" autocomplete="off" name="txtDesignation_' + newCount + '" id="txtDesignation_' + newCount + '"></td>'*/
                + '<td><textarea maxlength="500" class="inputCourier inpDesValidate" type="text" name="txtDesignation_' + newCount + '"  id="txtDesignation_' + newCount + '"></textarea></td>'
                + '<td><input class="inputCourier inpFrmValidate" type="date" onchange="date_val(this)" name="txtFromDate_' + newCount + '" id="txtFromDate_' + newCount + '" ></td>'
                + '<td><input class="inputCourier inpToValidate" type="date" name="txtToDate_' + newCount + '"  id="txtToDate_' + newCount + '"></td>'
                + '<td><textarea maxlength="500" class="inputCourier inpMainResValidate" type="text" name="txtMainResponsibilites_' + newCount + '"  id="txtMainResponsibilites_' + newCount + '"></textarea></td>'
                + '<td style="background-color:white; max-width:60px; border-bottom:none; vertical-align:central;">'
                + '<img class="remove-btn remove" src="/assets/img/remove.png" alt="Remove" style="max-width: 18px !important; background-color: white;" />'
                + '</td></tr>';



            if (newCount == 1) {
                $('.tableEmployeeDetails').prepend(row);
            }
            else {
                $(".tableEmployeeDetails tr:last").after(row);
            }
            count = newCount;

            rowIdx++;
            srNo++;
        }
        else {
            alert("Maximum 15 rows can be added.");
            return false;
        }
    };

    $('#moduleBody').on('click', '.remove', function () {
        //
        var delRow = $(this).closest('tr').attr('id');
        //console.log(delRow + " a");
        var delRowNo = parseInt(delRow.substring(3));
        //console.log(delRowNo + " b");

        var child = $(this).closest('tr').nextAll();
        //console.log(child);
        child.each(function () {
            ////
            // Getting <tr> id.
            var id = $(this).attr('id');
            //console.log("id="+id);

            //  Getting the <p> inside the .row-index class.
            var idx = $(this).children('.row-index').children('p');
            //console.log("idx="+idx);

            // Gets the row number from <tr> id.
            var dig = parseInt(id.substring(3));
            //console.log("dig="+dig);

            // Modifying row index.
            idx.html(`row${dig - 1}`);

            // Modifying row id.
            $(this).attr('id', `row${dig - 1}`);

            //assigning updated serial number
            //  //
            updatedDig = dig - 1;
            //console.log("updatedDig="+updatedDig);
            $('#row' + updatedDig + ' .sNo').html(updatedDig);
            $(this).find('td:eq(1) input[type="text"]').attr("id", "txtOrganisation_" + updatedDig);
            $(this).find('td:eq(2) input[type="text"]').attr("id", "txtDesignation_" + updatedDig);
            $(this).find('td:eq(3) input[type="date"]').attr("id", "txtFromDate_" + updatedDig);
            $(this).find('td:eq(4) input[type="date"]').attr("id", "txtToDate_" + updatedDig);
            $(this).find('td:eq(5) textarea').attr("id", "txtMainResponsibilites_" + updatedDig);

            $(this).find('td:eq(1) input[type="text"]').attr("name", "txtOrganisation_" + updatedDig);
            $(this).find('td:eq(2) input[type="text"]').attr("name", "txtDesignation_" + updatedDig);
            $(this).find('td:eq(3) input[type="date"]').attr("name", "txtFromDate_" + updatedDig);
            $(this).find('td:eq(4) input[type="date"]').attr("name", "txtToDate_" + updatedDig);
            $(this).find('td:eq(5) textarea').attr("name", "txtMainResponsibilites_" + updatedDig);
        });

        // Removing the current row.
        $(this).closest('tr').remove();
        // Decreasing total number of rows by 1.
        rowIdx--;
        count = rowIdx;
        // console.log("count=" + count);
        // }

    });

    $(document).on('keydown', '.sftDetClass', function () {
        //
        var id = this.id;
        //console.log("id=" + id);
        var splitid = id.split('_');
        // console.log("splitid=" + splitid);
        var index = splitid[1];
        // console.log("index=" + index);
        if (!IsEdit) {

        }
        else {
            count = index;
        }


    });

    function successIJPModal(txt) {
        ////
        $('#modalTitle').html('Success');
        if (txt == "approve") {
            $('#modalBody').html('Form has been approved!');
        }
        else if (txt == "reject") {
            $('#modalBody').html('Form has been rejected!');
        }
        else if (txt == "enquire") {
            $('#modalBody').html('Form has been enquired!');
        }
        else if (txt == "cancelled") {
            $('#modalBody').html('Form has been cancelled!');
        }
        else {
            if (IsEditMode) {
                $('#modalBody').html('Your form with ID: IJPF' + txt + ' has been re-submitted! Kindly use this for future reference');
            }
            else {
                $('#modalBody').html('Your form with ID: IJPF' + txt + ' has been submitted! Kindly use this for future reference');
            }
        }
        FlagRedirect = txt;
        //$("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function failureModal(txt) {
        if (txt == null) {
            $('#modalBody').html('Some error occurred!');
        }
        $('#modalTitle').html('Failure');
        $('#modalBody').html(txt);
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function permissionModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('No permssion granted since the device is not SAVWIPL owned!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function requiredModal(text) {
        $('#modalTitle').html('Required!');
        $('#modalBody').html(text);
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function validityModal(txt) {
        ////
        if (txt == 'approve') {

        }
        else if (txt == 'reject') {
            DisplayAlert('error', 'Warning', 'Please type in the reason for rejecting the form');
        }
        else if (txt == 'enquire') {
            DisplayAlert('error', 'Warning', 'Please type in the reason for enquiring the form');
        }

    }

    function requiredModal(text) {
        $('#modalTitle').html('Required');
        $('#modalBody').html(text + '!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }

    function alphaOnly(e) {
        var key = e.keyCode;
        if (key > 32 && (key < 65 || key > 122 || key == 91 || key == 92 || key == 93 || key == 94 || key == 95 || key == 96)) {
            e.preventDefault();
        }
    }

    function allowAlphaNumericOnly(e) {
        if (e.shiftKey || e.ctrlKey || e.altKey) {
            e.preventDefault();
        }
        else {
            var key = e.keyCode;
            if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                e.preventDefault();
            }
        }
    }

    $("#btnSubmit").on('click', function (e) {
        //

        if ($("#chkExternal").prop("checked") == true) {
            internalOnlyModal();
            return false;
        }

        validateSubmitter();

        var doj = document.getElementById("txtDateOfJoining").value;
        if (doj == "") {
            errors += "<li id='error" + errorCount + "'>" + "Date of Joining" + "</li>";
            AddError("txtDateOfJoining", '', errorCount);
            errorCount++;
        }

        var qualification = document.getElementById("txtQualification").value;
        if (qualification == "") {
            errors += "<li id='error" + errorCount + "'>" + "Qualification" + "</li>";
            AddError("txtQualification", '', errorCount);
            errorCount++;
        }

        //var level = document.getElementById("txtLevel").value;
        //if (level == "") {
        //    errors += "<li id='error" + errorCount + "'>" + "Level" + "</li>";
        //    AddError("txtLevel", '', errorCount);
        //    errorCount++;
        //}

        var currentRole = document.getElementById("txtCurrentRole").value;
        if (currentRole == "") {
            errors += "<li id='error" + errorCount + "'>" + "Current Role" + "</li>";
            AddError("txtCurrentRole", '', errorCount);
            errorCount++;
        }


        let firstOrganisationCount = $(".inpOrgValidate").length;
        let validUserCount = 0;
        let invalidCount = 0;

        if (firstOrganisationCount > 0) {

            let rowCount = 1;

            $(".tableEmployeeDetails").find('tr').each(function () {
                let currentTr = $(this);

                let currOrganisation = $(currentTr).find(".inpOrgValidate").val();
                let currDesignation = $(currentTr).find(".inpDesValidate").val();
                let currFromdt = $(currentTr).find(".inpFrmValidate").val();
                let currTodt = $(currentTr).find(".inpToValidate").val();
                let currMainResponsibilities = $(currentTr).find(".inpMainResponsibilitesValidate").val();


                var d1 = new Date(currFromdt);
                var d2 = new Date(currTodt);

                if (currOrganisation.trim() == '' && currDesignation.trim() == '' && currFromdt == '' && currTodt == '' && (currMainResponsibilities == ''
                || currMainResponsibilities == undefined)) {

                    errors += "<li id='error" + errorCount + "'>" + "Enter data in row " + rowCount + " in Employment Details." + "</li>";
                    $("#lblSoftDet").addClass('removeEmpDetReq');
                    AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                    errorCount++;

                    invalidCount++;
                }
                else if (d1 > d2) {
                    errors += "<li id='error" + errorCount + "'>" + "To Date " + rowCount + " can't be greater than From Date " + rowCount + "</li>";
                    $("#lblSoftDet").addClass('removeEmpDetReq');
                    AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                    errorCount++;
                    invalidCount++;
                }

                else if (currOrganisation.trim() != '' && currDesignation.trim() != '' && currFromdt != '' && currTodt != '' && (currMainResponsibilities != '' || currMainResponsibilities != undefined)) {
                    RemoveError("lblEmpDet");
                    validUserCount++;
                }
                else if (currOrganisation.trim() != '' || currDesignation.trim() != '') {
                    if (currOrganisation.trim() == '') {

                        errors += "<li id='error" + errorCount + "'>" + "Organisation in Row " + rowCount + "</li>";
                        $("#lblSoftDet").addClass('removeEmpDetReq');
                        AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                        errorCount++;

                        invalidCount++;
                    }

                    else if (currDesignation.trim() == '' || currDesignation.trim() === null) {

                        errors += "<li id='error" + errorCount + "'>" + "Designation in Row " + rowCount + "</li>";
                        $("#lblSoftDet").addClass('removeEmpDetReq');
                        AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                        errorCount++;
                        invalidCount++;
                    }

                    else if (currFromdt.trim() == '' || currFromdt.trim() === null) {

                        errors += "<li id='error" + errorCount + "'>" + "From Date in Row " + rowCount + "</li>";
                        $("#lblSoftDet").addClass('removeEmpDetReq');
                        AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                        errorCount++;
                        invalidCount++;
                    }

                    else  if (currTodt.trim() == '' || currTodt.trim() === null) {

                        errors += "<li id='error" + errorCount + "'>" + "To Date in Row " + rowCount + "</li>";
                        $("#lblSoftDet").addClass('removeEmpDetReq');
                        AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                        errorCount++;
                        invalidCount++;
                    }

                    else if (currMainResponsibilities== '' || currMainResponsibilities === null) {

                        errors += "<li id='error" + errorCount + "'>" + "Main Responsibilities in Row " + rowCount + "</li>";
                        $("#lblSoftDet").addClass('removeEmpDetReq');
                        AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
                        errorCount++;
                        invalidCount++;
                    }
                    else {
                        RemoveError("lblEmpDet");
                    }

                }

                rowCount++;

            });


        }
        else {
            RemoveError("lblEmpDet");
        }

        if (validUserCount == 0 && invalidCount == 0) {
            errors += "<li id='error" + errorCount + "'>" + "Fill atleast 1 Employment Details" + "</li>";
            $("#lblEmpDet").addClass('removeEmpDetReq');
            AddError("lblEmpDet", 'removeEmpDetReq', errorCount);
            errorCount++;
        }


        var appliedForPAndD = document.getElementById("txtPositionAndDepartmentAppliedFor").value;
        if (appliedForPAndD == "") {
            errors += "<li id='error" + errorCount + "'>" + "Position And Department Applied for" + "</li>";
            AddError("txtPositionAndDepartmentAppliedFor", '', errorCount);
            errorCount++;
        }

         //
         //File Checking if it is re-uploaded or not on edit mode
         if (!IsEdit) {
             var fileToUpload = $("#fileToUpload").val();
             if (fileToUpload != "") {
                 $("#attachedfile").val('');
                 $("#attachedfileName").val('');
             }
         }

        var check = document.getElementById("chkDeclaration").checked;
        if (check == false) {
            errors += "<li id='error" + errorCount + "'>" + "Declaration checkbox not checked" + "</li>";
            //AddError("chkDeclaration", '', errorCount);
            $("#collapseFour").addClass('show');
            $("#chkDeclaration").addClass('removelblchkDeclaration')
            AddError("lblchkDeclaration", 'removelblchkDeclaration', errorCount);
            errorCount++;
        }


        if (errors.length) {
            errors = "<ol id='errorList'>" + errors + "</ol>";
            $("#headingErr").removeClass('d-none');
            document.getElementById("add_to_me").innerHTML = errors;
            errors = "";
            errorCount = 0;
            if (IsEditMode) {
                $("#myModalEdit").scrollTop(0);
                $("#myModalRequest").scrollTop(0);
            }
            else {
                $(window).scrollTop(0);
            }
            return false;
        }
        $("#headingErr").addClass('d-none');
        document.getElementById("add_to_me").innerHTML = '';

        $("#totalrows").val(count);

        errors = "";
        errorCount = 0;

        $("#pageLoader").removeClass('invisible');
        $("#btnSubmit").text('Saving');
        $("#btnSubmit").prop("disabled", true);
        $("#btnCancel").prop("disabled", true);
        $("#drpRequestSubmissionFor").prop("disabled", false);
        var form = $("#IJPForm");
        var formData = new FormData(form[0]);


        $.ajax({
            url: '/InternalJobPosting/CreateInternalJobPostingFormRequest',
            processData: false,
            contentType: false,
            type: 'POST',
            data: formData,
            enctype: 'multipart/form-data',
            success: (function (data) {
                if (data.Status == 200) {
                    $("#pageLoader").addClass('invisible');
                    if (IsNew && IsEdit) {
                        $("#btnSubmit").text('Submit');
                    }
                    else {
                        $("#btnSubmit").text('Re-Submit');
                    }
                    $("#btnSubmit").prop("disabled", false);
                    $("#btnCancel").prop("disabled", false);
                    successIJPModal(data.Message);
                }
                else {
                    failureModal(data.Message);
                    if (IsNew && IsEdit) {
                        $("#btnSubmit").text('Submit');
                    }
                    else {
                        $("#btnSubmit").text('Re-Submit');
                    }
                    $("#pageLoader").addClass('invisible');
                    $("#btnSubmit").prop("disabled", false);
                    $("#btnCancel").prop("disabled", false);
                    console.log("failure");
                }
            }),
            error: (function (data) {
                failureModal();
                console.log("error");
                if (IsNew && IsEdit) {
                    $("#btnSubmit").text('Submit');
                }
                else {
                    $("#btnSubmit").text('Re-Submit');
                }
                $("#pageLoader").addClass('invisible');
                $("#btnSubmit").prop("disabled", false);
                $("#btnCancel").prop("disabled", false);
            })
        })
        $("#tab").val(2);
    });

    $("#btnCancel").on('click', function (e) {
        ////
        document.getElementById("add_to_me").innerHTML = '';
        window.location = "../Dashboard";
    });

    function saveResponse(text) {
       // 
        var status = '', comment = '';
        comment = $("#comment-" + text).val();
        switch (text) {
            case 'approve': {
                status = 'Approved';
                break;
            }
            case 'reject': {
                status = 'Rejected';
                if (comment == '') {
                    validityModal(text);
                    return;
                }
                break;
            }
            case 'enquire': {
                status = 'Enquired';
                if (comment == '') {
                    validityModal(text);
                    return;
                }
                break;
            }
        }
        FormApproval(status, appRowId, comment, approvalType, text);
    }

    function FormApproval(status, appRowId, comment, approvalType, text) {
        //
        spinner.show();
        $.ajax({
            url: '/List/SaveResponse',
            type: 'POST',
            data: { response: status, appRowId: appRowId, comment: comment, approvalType: approvalType },
            dataType: 'JSON',
            success: (function (data) {
                if (data.Result == 1) {
                    successIJPModal(text);
                    spinner.hide();
                    //setTimeout(FilterMyTasks, 5000);
                    spinner.hide();
                }
                else {
                    failureModal();
                    spinner.hide();
                }
            }),
            error: (function (data) {
                failureModal();
                spinner.hide();
            })
        })

        $("#tab").val(1);
    }

    $('#myModal').modal({ backdrop: 'static', keyboard: false })

    //Max Length Handle(Restricted Copy Paste)
    //var txtMainResponsibilites = document.getElementById("txtMainResponsibilites");
    //txtMainResponsibilites.onpaste = function (e) {
    //    //do some IE browser checking for e
    //    var max = test.getAttribute("maxlength");
    //    e.clipboardData.getData('text/plain').slice(0, max);
    //};

    var txtPositionAndDepartmentAppliedFor = document.getElementById("txtPositionAndDepartmentAppliedFor");
    txtPositionAndDepartmentAppliedFor.onpaste = function (e) {
        //do some IE browser checking for e
        var max = test.getAttribute("maxlength");
        e.clipboardData.getData('text/plain').slice(0, max);
    };

    var txtReasonForChangingJobProfile = document.getElementById("txtReasonForChangingJobProfile");
    txtReasonForChangingJobProfile.onpaste = function (e) {
        //do some IE browser checking for e
        var max = test.getAttribute("maxlength");
        e.clipboardData.getData('text/plain').slice(0, max);
    };

    //var txtAchievements = document.getElementById("txtAchievements");
    //txtAchievements.onpaste = function (e) {
    //    //do some IE browser checking for e
    //    var max = test.getAttribute("maxlength");
    //    e.clipboardData.getData('text/plain').slice(0, max);
    //};

    //var txtAboutRoleAppliedFor = document.getElementById("txtAboutRoleAppliedFor");
    //txtAboutRoleAppliedFor.onpaste = function (e) {
    //    //do some IE browser checking for e
    //    var max = test.getAttribute("maxlength");
    //    e.clipboardData.getData('text/plain').slice(0, max);
    //};

    function date_val(e) {
        //
        var week_string = $(e).val();
        console.log(week_string);
        var parts = week_string.split("-");
        var date = new Date(parts[0], parts[1] - 1, parts[2]);
        var min_date = date;
        min_date.setDate(min_date.getDate() + 1);
        var initial_date = min_date.toISOString().split('T')[0];
        $(e).closest("tr").find('input.inpToValidate').attr("min", initial_date);

    }

    $(".fromclass").on('change', function () {
        var $this = $(this);
    })

    $('#successModel').on('hidden.bs.modal', function () {
        ////
        var tab = $("#tab").val();
        console.log(tab);
        if (tab == 1) {
            GetMyTaskTab();
        }
        else if (tab == 2) {
            window.location = "../Dashboard?tab=" + tab;
        }
    })

    function internalOnlyModal() {
        ////
        $('#modalTitle').html('Required');
        $('#modalBody').html('This form is only for internal employee!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    $('#fileToUpload').bind('change', function () {
        //this.files[0].size gets the size of your file.
        //alert(this.files[0].size);
        if ((this.files[0].size / 1048576.0) > 5) 

            alert("Uploaded File Size should be less than 5MB");
        

    });
</script>
