@{
    ViewBag.Title = "IT Production EQ's Access Form";
    int FormId = 0, AppRowId = 0, ApprovalType = 0; bool IsEdit = true; bool IsNew = true;
    bool IsNewMode = true, IsEditMode = false, IsViewMode = false;
    var SecurityDesgnString = "Security";
    Skoda_DCMS.Models.EQSAccessmModelData EQSA = null;
    //List<Skoda_DCMS.Models.EQSAccessmModelData> UserDataList = new List<Skoda_DCMS.Models.EQSAccessmModelData>();
    List<Skoda_DCMS.Models.EQSAccessmModelData> UserDataList = new List<Skoda_DCMS.Models.EQSAccessmModelData>();
    dynamic FlagRedirect = null;
    var currentUser = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
    List<Skoda_DCMS.Models.ApprovalDataModel>
    appList = new List<Skoda_DCMS.Models.ApprovalDataModel>
        ();
    int? tableCount = 0;
    string disabled = "";
    var CurrentUserDesgn = "";
    long? CurrentUserLevel = 0;
    if (ViewBag != null && !ViewBag.IsNewMode)
    {
        IsNew = ViewBag.IsNew;
        IsEdit = ViewBag.IsEdit;
        IsNewMode = ViewBag.IsNewMode;
        IsEditMode = ViewBag.IsEditMode;
        IsViewMode = ViewBag.IsViewMode;
        disabled = IsViewMode ? "disabled" : "";
        EQSA = ViewBag.Model.one[0] as Skoda_DCMS.Models.EQSAccessmModelData;
        FormId = ViewBag.FormId;
        AppRowId = ViewBag.AppRowId;
        appList = ViewBag.Model?.three as List<Skoda_DCMS.Models.ApprovalDataModel>
    ;
        CurrentUserDesgn = appList?.Where(x => x.ApproverUserName == currentUser.UserName).Select(x => x.Designation).FirstOrDefault();
        CurrentUserLevel = appList?.Where(x => x.ApproverUserName == currentUser.UserName && x.ApproverStatus == "Pending").Select(x => x.Level).FirstOrDefault();
        ApprovalType = ViewBag.ApprovalType != null ? (int)ViewBag.ApprovalType : 0;
        //if (IsViewMode)
        //{
        //    var Ap = appList?.Where(x =>
        //    x.ApproverUserName.ToLower() == currentUser.UserName.ToLower()
        //    && x.ApproverStatus.ToLower() == "pending"
        //    ).FirstOrDefault();
        //}

        UserDataList = ViewBag.Model?.Four as List<Skoda_DCMS.Models.EQSAccessmModelData>;
    }
}
<style>

    .hide {
        display: none;
    }
    /*New design css start here*/
    .astColor {
        color: red;
    }

    .textTrans {
        width: 100%;
        max-width: 99%;
        border-radius: 5px;
        margin-right: 0px;
        border: 1px solid !important;
    }

    .empDetailsBg {
        background-color: #fffbef;
    }

    #accordion select {
        color: #000;
        width: 100% !important;
        height: 45px;
        background-color: #FFFFFF;
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 5px;
        background-image: url(data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>);
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-size: 16px 12px;
    }

    #accordion input[type='text'] {
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        background-color: #FFFFFF;
        border: 1px solid #BFBFBF !important;
        box-sizing: border-box;
        border-radius: 5px !important;
    }

    #accordion input[type='date'] {
        width: 100% !important;
        max-width: 100%;
        height: 45px;
        background-color: #FFFFFF;
        border: 1px solid #BFBFBF !important;
        box-sizing: border-box;
        border-radius: 5px;
    }

    #accordion input[type='time'] {
        height: 45px;
    }

    #accordion label {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #201F1F;
    }

    #accordion table tr td {
        font-size: 16px;
        line-height: 19px;
        color: #201F1F;
        background-color: white;
    }

    #accordion label {
        display: block;
    }

    #accordion .card-header {
        background: rgb(4 59 100) !important;
        border-radius: 5px 5px 0px 0px;
        position: relative;
        margin-top: 15px;
    }

        #accordion .card-header.collapsed h5:after {
            content: '+';
            position: absolute;
            right: 22px;
            top: 17px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

        #accordion .card-header h5:after {
            content: '-';
            position: absolute;
            right: 22px;
            top: 17px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

    #accordion h5 button {
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        padding-left: 0px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        /* Text_white */

        color: #FFFFFF;
    }

        #accordion h5 button:focus {
            box-shadow: none;
        }

    .empDetailsFields label {
        display: block !important;
        margin-bottom: 0px;
    }

    .empDetailsFields .row label {
        display: block;
        margin-bottom: 0px;
    }

        .empDetailsFields .row label:nth-child(1) {
            font-style: normal;
            font-weight: normal !important;
            font-size: 12px;
            line-height: 18px;
            color: #A9A9A9 !important;
        }

        .empDetailsFields .row label:nth-child(2) {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #201F1F;
        }

    .firstLastName {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        display: flex;
        align-items: center;
        color: #201F1F;
    }

    .submit-btn {
        background: #3D3D3D;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 173.7%;
        /* identical to box height, or 28px */
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-color: transparent !important;
    }

    .cancl-btn {
        background: #FAE99B;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        border-color: transparent !important;
        line-height: 173.7%;
        /* identical to box height, or 28px */
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #212221;
        margin-left: 10px;
    }




    .card-footer {
        display: flex;
        background-color: transparent !important;
    }

    .photo-form {
        width: 100%;
    }

    .ui-front {
        z-index: 9999999 !important;
    }

    /* NEW UI CSS END*/


    .showBorder {
        border: 1px solid #dee2e6;
    }

    .multiselect {
        height: 47px;
        margin-top: -1px;
    }
    /*Animation CSS Starts*/

    div.input-block {
        position: relative;
    }

        div.input-block input {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 188px;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border: 1px solid #D9D9D9;
            outline: none;
        }

        div.input-block textarea {
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            width: 100%;
            padding: 15px 15px;
            border-bottom-left-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            background-color: #fff;
            border: 1px solid #D9D9D9;
            outline: none;
        }

        div.input-block span.placeholder {
            position: absolute;
            margin: 17px 0;
            padding: 0 4px;
            font-family: Roboto, sans-serif;
            color: #6c757d;
            display: flex;
            align-items: center;
            font-size: 1rem;
            top: -6px;
            left: 15px;
            transition: all 0.2s;
            transform-origin: 0% 0%;
            background: none;
            pointer-events: none;
            z-index: 1;
        }

    .question_span {
        width: 116% !important;
        font-size: 15px !important;
    }

    div.input-block textarea:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: #fff !important;
    }

    div.input-block textarea:valid + span.placeholder,
    div.input-block textarea:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
    }

    div.inputSelect select:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
    }

    div.input-block input:valid + span.placeholder,
    div.input-block input:focus + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: #fff;
        /*background-color: rgb(219,238,213);*/
    }


    div.input-block input.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }

    div.input-block input:read-only + span.placeholder,
    div.input-block input:read-only + span.placeholder {
        transform: scale(0.8) translateY(-25px);
        background-color: rgb(219,238,213);
    }


    div.inputSelect span.placeholder {
        position: absolute;
        margin: 17px 0;
        padding: 0 4px;
        font-family: Roboto, sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        font-size: 1rem;
        top: -6px;
        left: 15px;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;
        z-index: 1;
    }

    div.inputSelect select:focus + span.placeholder {
        transform: scale(0.8) translateY(-30px);
        background: rgb(219,238,213);
        z-index: 9;
    }

    div.inputSelect select:not([value=""]):valid + span.placeholder {
        transition: all 0.2s;
        transform-origin: 0% 0%;
    }



    div.input-block input:focus + span.placeholder {
        color: #284B63;
    }

    .breadcrumb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1rem 1rem 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #FFFFFF;
        border-radius: .25rem;
    }

    body.nav-sm .container.body .left_col {
        width: 63px;
        padding: 0;
        position: fixed;
        height: 100%;
        z-index: 8;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px;
        border-radius: .25rem;
    }

    .dropdown-toggle::after {
        display: none;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    input.spanUpperSide + span.placeholder {
        background-color: rgb(219,238,213);
    }

    inputSelect.spanUpperSide + span.placeholder {
        background-color: rgb(219,238,213) !important;
    }

    select.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background-color: rgb(219,238,213) !important;
        z-index: 9;
    }

    select.spanUpperSideWhite + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background-color: rgb(255,255,255) !important;
        z-index: 9;
    }

    textarea.spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
        z-index: 9;
    }

    .TransView {
        background-color: white !important;
    }

    @@media only screen and (min-width: 992px) {
        div .input-block span.placeholder {
            font-size: 15px;
        }

        div.inputSelect span.placeholder {
            font-size: 1rem;
        }
    }

    input[type='date'].spanUpperSide + span.placeholder {
        transform: scale(0.8) translateY(-25px) !important;
        background: #fff !important;
        z-index: 9;
    }

    .showBorder {
        border: 1px solid #dee2e6;
    }

    .wField {
        width: 233px !important;
        margin-left: 10px;
    }

    @@-moz-document url-prefix() {
        input[type=time]::-ms-clear {
            display: none;
        }
    }

    .datetime-reset-button {
        display: none !important;
    }

    .forShoppingCart {
        margin-left: 14% !important;
    }

    .btn-group {
        display: block !important;
    }

    #accordion label {
        display: inline-block !important;
    }


    .custom-select:focus {
        box-shadow: none !important;
        border-color: none !important;
    }

    #addSoftwarebtn td {
        border-top: none !important;
    }

    #ApplicationCategoryBody select {
        background-color: #fff !important;
    }

    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 10000;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>
<script type="text/javascript">
    function checkSelectGlobal(id) {
        if ($('#' + id).val() != '') {
            $('#' + id).addClass('spanUpperSideWhite');
        }
    }
</script>

<div class="container">
    <div class="right_col bg-transparent" role="main">
        <div class="main_container">
            <form id="EQSAForm" method="post">
                <div>
                    <div class="breadcrumb-container">
                        <div>
                            @if (IsEditMode || IsViewMode)
                            {
                                <div>
                                    <input type="hidden" id="FormId" name="FormId" value="@(FormId)" />
                                    <input type="hidden" id="FormSrId" name="FormSrId" value="@(EQSA.Id)" />
                                    <input type="hidden" id="AppRowId" name="AppRowId" value="@(AppRowId)" />
                                    @*<input type="hidden" name="ApplicationCategoryDataCurr" id="ApplicationCategoryDataCurr" value="@(URCF.ApplicationCategoryData.Count)" />*@
                                </div>
                            }
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/Dashboard?formName=NGCF">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    IT Production EQ's Access Form
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="row breadcrumb-container table-bordered  mr-1 ml-1" style="background-color: rgb(219,238,213) !important; ">
                        <div class="col-md-2 col-lg-2">
                            <span class="placeholder">Date : @(IsViewMode || IsEditMode ? (Convert.ToDateTime(appList.FirstOrDefault().FormId.CreatedDate).ToShortDateString()) : DateTime.Now.ToShortDateString())</span>
                        </div>
                        <div class="col-md-8 col-lg-8 mt-2 mb-1 form-heading" style="text-align:center; margin-top:5px">
                            <span> IT Production EQ's Access Form</span>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            @if (IsViewMode || IsEditMode)
                            {
                                <span class="placeholder white_space_nowrap"> Form Id : @(IsViewMode || IsEditMode ? ("EQSA" + FormId ?? "") : "" )</span>
                            }
                        </div>
                    </div>

                </div>

                <div class="heading d-none" id="headingErr">
                    <h1 id="" class="info-header">Following fields are mandatory. Please fill in information for<br></h1>
                    <div id="add_to_me" class="header-list" style="color:red;"></div>
                </div>
                <!-- ACCORDIAN STRUCTURE START HERE-->
                @* Submitter Section *@
                @{
                    Html.RenderPartial("_NewSubmitterDetailsWithModel", (ViewBag as object));
                }

                @* Applicant Section *@
                @{
                    Html.RenderPartial("_NewApplicantDetailsWithModel", (ViewBag as object));




                }

                <!--FORM BODY COMES HERE -->
                @if (IsNewMode)
                {
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <img src="~/assets/img/transactionIcon.svg" width="24" height="24" class="mr-2">Transaction Fields
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" style="">
                                <div class="card-body">
                                    <div class="row w-100">
                                        <div class="form-group col-md-2 d-flex align-items-center col-lg-2 col-12">
                                            <label id="lblRequestType" class="f-600" style="margin-left:15px; position: relative; top:10px;">
                                                Request Type<span class="astColor">*</span>
                                            </label>
                                        </div>

                                        <div class="per col-md-2 col-lg-2 d-flex align-items-end col-12">
                                            <label class="checkbox-container">
                                                <label class="f-600">Permanent</label>
                                                <input type="checkbox" class="" name="RequestType" id="chkPermanent" value="Permanent">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="align col-md-2 d-flex align-items-end col-lg-2 col-12">
                                            <label class="checkbox-container">
                                                <label class="f-600">Temporary</label>
                                                <input type="checkbox" class="temp-checkbox" name="RequestType" id="chkTemporary" value="Temporary">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-12 d-none" id="TemporaryDateFrom">
                                            <div class="input-block">
                                                <input type="date" name="txtTempFrom" class="TransView spanUpperSide" id="txtTempFrom" onchange="date_val()" min="2022-06-23">
                                                <span class="placeholder TransView" for="TempFrom" id="lblTempFrom" style="font-weight:bolder;">from<span class="astColor">*</span></span>
                                            </div>
                                        </div>
                                        <div class="align col-md-3 col-lg-3 col-12 d-none" id="TemporaryDateTo">
                                            <div class="ml-4 input-block">
                                                <input type="date" class="w-90 TransView spanUpperSide" name="txtTempTo" id="txtTempTo" min="2022-06-23">
                                                <span class="placeholder TransView" for="TempTo" id="lblTempTo" style="font-weight:bolder;">to<span class="astColor">*</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="mainTbl table table-border form-table-container-2">
                                        <tbody>
                                            <tr>
                                                <td class="bt-0 bb-0 pl-0">
                                                    <table class="w-100 mx-auto table table-border form-border text-center" id="tblEmployeeData">

                                                        <thead class="form-head-1" style="margin-left:inherit !important;">
                                                            <tr>
                                                                <th>Employee Name <span class="astColor">*</span></th>
                                                                <th>Employee ID<span class="astColor">*</span></th>
                                                                <th>Logic Card ID<span class="astColor">*</span></th>
                                                                <th>Station Name<span class="astColor">*</span></th>
                                                                <th>Shop<span class="astColor">*</span></th>
                                                                <th>Access Group<span class="astColor">*</span></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="form-border tableSoftware" id="softwareBody">
                                                            <tr id="row_1" class="tr_input">
                                                                <td class="text-center">
                                                                    <input type="text" name="EmployeeName" class="txtEmpNameField" id="txtEmpName_1">
                                                                </td>
                                                                <td class="text-center">
                                                                    <input type="text" name="EmployeeID" id="txtEmpID_1">
                                                                </td>
                                                                <td class="text-center">
                                                                    <input type="text" name="LogicCardID" id="txtLogicCardID_1">
                                                                </td>
                                                                <td class="text-center">
                                                                    <select class="form-control sel_service_category" name="StationName" id="ddlStationName_1">
                                                                        <option value="">Select Station Name</option>
                                                                        <option value="Assembly (HDT,QRK)">Assembly (HDT,QRK)</option>
                                                                        <option value="Assembly  (CP6 Production)">Assembly  (CP6 Production)</option>
                                                                        <option value="Assembly  (CP6 Quality)">Assembly  (CP6 Quality)</option>
                                                                        <option value="RBT">RBT</option>
                                                                        <option value="Water Test">Water Test</option>
                                                                        <option value="CP8">CP8</option>
                                                                        <option value="Drieve Test">Drieve Test</option>
                                                                        <option value="Polishing line">Polishing line</option>
                                                                        <option value="ED Sanding">ED Sanding</option>
                                                                        <option value="Underbody">Underbody</option>
                                                                        <option value="Framer Line">Framer Line</option>
                                                                        <option value="Finish Line">Finish Line</option>
                                                                    </select>
                                                                </td>
                                                                <td class="text-center" style="width: 138px;">
                                                                    <select class="form-control cls_subcategory" name="Shop" id="ddlShop_1">
                                                                        <option value="">Select Shop</option>
                                                                        <option value="Assembly Shop">Assembly Shop</option>
                                                                        <option value="Paint Shop">Paint Shop</option>
                                                                        <option value="Body Shop">Body Shop</option>
                                                                    </select>
                                                                </td>
                                                                <td class="text-center" style="width: 138px;">
                                                                    <select class="form-control cls_subcategory" name="AccessGroup" id="ddlAccessGroup_1">
                                                                        <option value="">Select Access Group</option>
                                                                        <option value="Access Group">Access Group</option>
                                                                        <option value="Assembly">Assembly</option>
                                                                        <option value="Production_CP, Assembly">Production_CP, Assembly</option>
                                                                        <option value="Quality CP">Quality CP</option>
                                                                        <option value="Result_RBT">Result_RBT</option>
                                                                        <option value="Result_Watercheck, Watertest">Result_Watercheck, Watertest</option>                                                  
                                                                        <option value="Status_CP8">Status_CP8</option>
                                                                        <option value="Result_Drievetest">Result_Drievetest</option>
                                                                        <option value="Paintshop_Production/ Quality">Paintshop_Production/ Quality</option>
                                                                        <option value="Bodyshop_CP">Bodyshop_CP</option>
                                                                    </select>
                                                                </td>

                                                                <td class="text-center" style="background-color:white; max-width:123px; vertical-align:central;">
                                                                    <input id="remove_1" class="remove-btn  remove align-center" type="image" src="/assets/img/remove.png" alt="Remove" style="max-width: 85%; margin-top: 0px !important; background-color: white; border:none;">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr align="right" id="addSoftwarebtn">
                                                <td class="">
                                                    <button type="button" class="btn btn-sm submit-btn d-flex float-right mb-2 bl-1 " onclick="addTableRow()">
                                                        + Add
                                                    </button>
                                                    <input type="hidden" name="totalrows" id="totalrows">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-right: 0;">
                                                    <div class="w-100">
                                                        <div class="per row col-12" style="padding: 0;">
                                                            <label class="col-md-12 col-lg-12"><b>Business Justification</b> <span class="astColor">*</span></label>
                                                            <textarea class="form-control col-md-12 col-lg-12" name="BusinessJustification" rows="4" id="txtBusinessJustification"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bt-0 bb-0 pl-0">
                                                    <button class="btn btn-warning hide" id="geko_upload_btn">Upload GeKo</button>
                                                    <button class="btn btn-primary hide" id="saga_upload_btn">Upload SAGA/2</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (IsEditMode)
                {
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <img src="~/assets/img/transactionIcon.svg" width="24" height="24" class="mr-2">Transaction Fields
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" style="">
                                <div class="card-body">
                                    <div class="row w-100">
                                        <div class="form-group col-md-2 d-flex align-items-center col-lg-2 col-12">
                                            <label id="lblRequestType" class="f-600" style="margin-left:15px; position: relative; top:10px;">
                                                Request Type<span class="astColor">*</span>
                                            </label>
                                        </div>

                                        <div class="per col-md-2 col-lg-2 d-flex align-items-end col-12">
                                            <label class="checkbox-container">
                                                <label class="f-600">Permanent</label>
                                                <input type="checkbox" class="" name="RequestType" id="chkPermanent" @(EQSA.RequestType == "Permanent" ? "checked" : "") value="Permanent">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="align col-md-2 d-flex align-items-end col-lg-2 col-12">
                                            <label class="checkbox-container">
                                                <label class="f-600">Temporary</label>
                                                <input type="checkbox" class="temp-checkbox" name="RequestType" id="chkTemporary" @(EQSA.RequestType == "Temporary" ? "checked" : "") value="Temporary">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-12 d-none" id="TemporaryDateFrom">
                                            <div class="input-block">
                                                <input type="date" name="txtTempFrom" class="TransView spanUpperSide" id="txtTempFrom" onchange="date_val()" min="2022-06-23">
                                                <span class="placeholder TransView" for="TempFrom" id="lblTempFrom" style="font-weight:bolder;">from<span class="astColor">*</span></span>
                                            </div>
                                        </div>
                                        <div class="align col-md-3 col-lg-3 col-12 d-none" id="TemporaryDateTo">
                                            <div class="ml-4 input-block">
                                                <input type="date" class="w-90 TransView spanUpperSide" name="txtTempTo" id="txtTempTo" min="2022-06-23">
                                                <span class="placeholder TransView" for="TempTo" id="lblTempTo" style="font-weight:bolder;">to<span class="astColor">*</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="mainTbl table table-border form-table-container-2">
                                        <tbody>
                                            <tr>
                                                <td class="bt-0 bb-0 pl-0">
                                                    <table class="w-100 mx-auto table table-border form-border text-center" id="tblEmployeeData">

                                                        <thead class="form-head-1" style="margin-left:inherit !important;">
                                                            <tr>
                                                                <th>Employee Name<span class="astColor">*</span></th>
                                                                <th>Employee ID<span class="astColor">*</span></th>
                                                                <th>Logic Card ID<span class="astColor">*</span></th>
                                                                <th>Station Name<span class="astColor">*</span></th>
                                                                <th>Shop<span class="astColor">*</span></th>
                                                                <th>Access Group<span class="astColor">*</span></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="form-border tableSoftware" id="softwareBody">
                                                            @{
                                                                int SrNo = 0;
                                                            }
                                                            @foreach (var item in UserDataList)
                                                            {
                                                                SrNo++;
                                                                <tr id="row_@SrNo" class="tr_input">
                                                                    <td class="text-center">
                                                                        <input type="text" class="txtEmpNameField" name="EmployeeName" value="@item.EmployeeName" id="txtEmpName_@SrNo">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="text" name="EmployeeID" value="@item.EmployeeID" id="txtEmpID_@SrNo">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="text" name="LogicCardID" value="@item.LogicCardID" id="txtLogicCardID_@SrNo">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <select class="form-control sel_service_category" name="StationName" id="ddlStationName_@SrNo">
                                                                            <option value="" @(item?.StationName == "" || item?.StationName == null ? "selected" : "")>Select Station Name</option>
                                                                            <option value="Assembly (HDT,QRK)" @(item?.StationName == "Assembly (HDT,QRK)" ? "selected" : "")>Assembly (HDT,QRK)</option>
                                                                            <option value="Assembly  (CP6 Production)" @(item?.StationName == "Assembly  (CP6 Production)" ? "selected" : "")>Assembly  (CP6 Production)</option>
                                                                            <option value="Assembly  (CP6 Quality)" @(item?.StationName == "Assembly  (CP6 Quality)" ? "selected" : "")>Assembly  (CP6 Quality)</option>
                                                                            <option value="RBT" @(item?.StationName == "RBT" ? "selected" : "")>RBT</option>
                                                                            <option value="Water Test" @(item?.StationName == "Water Test" ? "selected" : "")>Water Test</option>
                                                                            <option value="CP8" @(item?.StationName == "CP8" ? "selected" : "")>CP8</option>
                                                                            <option value="Drieve Test" @(item?.StationName == "Drieve Test" ? "selected" : "")>Drieve Test</option>
                                                                            <option value="Polishing line" @(item?.StationName == "Polishing line" ? "selected" : "")>Polishing line</option>
                                                                            <option value="ED Sanding" @(item?.StationName == "ED Sanding" ? "selected" : "")>ED Sanding</option>
                                                                            <option value="Underbody" @(item?.StationName == "Underbody" ? "selected" : "")>Underbody</option>
                                                                            <option value="Framer Line" @(item?.StationName == "Framer Line" ? "selected" : "")>Framer Line</option>
                                                                            <option value="Finish Line" @(item?.StationName == "Finish Line" ? "selected" : "")>Finish Line</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center" style="width: 138px;">
                                                                        <select class="form-control cls_subcategory" name="Shop" id="ddlShop_@SrNo">
                                                                            <option value="" @(item?.Shop == "" || item?.Shop == null ? "selected" : "")>Select Shop</option>
                                                                            <option value="Assembly Shop" @(item?.Shop == "Assembly Shop" ? "selected" : "")>Assembly Shop</option>
                                                                            <option value="Paint Shop" @(item?.Shop == "Paint Shop" ? "selected" : "")>Paint Shop</option>
                                                                            <option value="Body Shop" @(item?.Shop == "Body Shop" ? "selected" : "")>Body Shop</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center" style="width: 138px;">
                                                                        <select class="form-control cls_subcategory" name="AccessGroup" id="ddlAccessGroup_@SrNo">
                                                                            <option value="" @(item?.AccessGroup == "" || item?.AccessGroup == null ? "selected" : "")>Select Access Group</option>
                                                                            <option value="Access Group" @(item?.AccessGroup == "Access Group" ? "selected" : "")>Access Group</option>
                                                                            <option value="Assembly" @(item?.AccessGroup == "Assembly" ? "selected" : "")>Assembly</option>
                                                                            <option value="Production_CP" @(item?.AccessGroup == "Production_CP, Assembly" ? "selected" : "")>Production_CP, Assembly</option>
                                                                            <option value="Quality CP" @(item?.AccessGroup == "Quality CP" ? "selected" : "")>Quality CP</option>
                                                                            <option value="Result_RBT" @(item?.AccessGroup == "Result_RBT" ? "selected" : "")>Result_RBT</option>
                                                                            <option value="Result_Watercheck" @(item?.AccessGroup == "Result_Watercheck, Watertest" ? "selected" : "")>Result_Watercheck, Watertest</option>
                                                                    
                                                                            <option value="Status_CP8" @(item?.AccessGroup == "Status_CP8" ? "selected" : "")>Status_CP8</option>
                                                                            <option value="Result_Drievetest" @(item?.AccessGroup == "Result_Drievetest" ? "selected" : "")>Result_Drievetest</option>
                                                                            <option value="Paintshop_Production/ Quality" @(item?.AccessGroup == "Paintshop_Production/ Quality" ? "selected" : "")>Paintshop_Production/ Quality</option>
                                                                            <option value="Bodyshop_CP" @(item?.AccessGroup == "Bodyshop_CP" ? "selected" : "")>Bodyshop_CP</option>
                                                                        </select>
                                                                    </td>

                                                                    <td class="text-center" style="background-color:white; max-width:123px; vertical-align:central;">
                                                                        <input id="remove_@SrNo" class="remove-btn  remove align-center" type="image" src="/assets/img/remove.png" alt="Remove" style="max-width: 85%; margin-top: 0px !important; background-color: white; border:none;">
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr align="right" id="addSoftwarebtn">
                                                <td class="">
                                                    <button type="button" class="btn btn-sm submit-btn d-flex float-right mb-2 bl-1 " onclick="addTableRow()">
                                                        + Add
                                                    </button>
                                                    <input type="hidden" name="totalrows" id="totalrows">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-right: 0;">
                                                    <div class="w-100">
                                                        <div class="per row col-12" style="padding: 0;">
                                                            <label class="col-md-12 col-lg-12"><b>Business Justification</b> <span class="astColor">*</span></label>
                                                            <textarea class="form-control col-md-12 col-lg-12" name="BusinessJustification" rows="4" va id="txtBusinessJustification">@EQSA.BusinessJustification</textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bt-0 bb-0 pl-0">
                                                    <button class="btn btn-warning hide" id="geko_upload_btn">Upload GeKo</button>
                                                    <button class="btn btn-primary hide" id="saga_upload_btn">Upload SAGA/2</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (IsViewMode)
                {
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <img src="~/assets/img/transactionIcon.svg" width="24" height="24" class="mr-2">Transaction Fields
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" style="">
                                <div class="card-body">
                                    <div class="row w-100">
                                        <div class="form-group col-md-2 d-flex align-items-center col-lg-2 col-12">
                                            <label id="lblRequestType" class="f-600" style="margin-left:15px; position: relative; top:10px;">
                                                Request Type<span class="astColor">*</span>
                                            </label>
                                        </div>

                                        <div class="per col-md-2 col-lg-2 d-flex align-items-end col-12">
                                            <label class="checkbox-container">
                                                <label class="f-600">Permanent</label>
                                                <input type="checkbox" class="" name="RequestType" id="chkPermanent" @(EQSA.RequestType == "Permanent" ? "checked" : "") value="Permanent" disabled>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="align col-md-2 d-flex align-items-end col-lg-2 col-12">
                                            <label class="checkbox-container">
                                                <label class="f-600">Temporary</label>
                                                <input type="checkbox" class="temp-checkbox" name="RequestType" id="chkTemporary" @(EQSA.RequestType == "Temporary" ? "checked" : "") value="Temporary" disabled>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-12 d-none" id="TemporaryDateFrom">
                                            <div class="input-block">
                                                <input type="date" name="txtTempFrom" class="TransView spanUpperSide" id="txtTempFrom" onchange="date_val()" min="2022-06-23">
                                                <span class="placeholder TransView" for="TempFrom" id="lblTempFrom" style="font-weight:bolder;">from<span class="astColor">*</span></span>
                                            </div>
                                        </div>
                                        <div class="align col-md-3 col-lg-3 col-12 d-none" id="TemporaryDateTo">
                                            <div class="ml-4 input-block">
                                                <input type="date" class="w-90 TransView spanUpperSide" name="txtTempTo" id="txtTempTo" min="2022-06-23">
                                                <span class="placeholder TransView" for="TempTo" id="lblTempTo" style="font-weight:bolder;">to<span class="astColor">*</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="mainTbl table table-border form-table-container-2">
                                        <tbody>
                                            <tr>
                                                <td class="bt-0 bb-0 pl-0">
                                                    <table class="w-100 mx-auto table table-border form-border text-center" id="tblEmployeeData">

                                                        <thead class="form-head-1" style="margin-left:inherit !important;">
                                                            <tr>
                                                                <th>Employee Name<span class="astColor">*</span></th>
                                                                <th>Employee ID<span class="astColor">*</span></th>
                                                                <th>Logic Card ID<span class="astColor">*</span></th>
                                                                <th>Station Name<span class="astColor">*</span></th>
                                                                <th>Shop<span class="astColor">*</span></th>
                                                                <th>Access Group<span class="astColor">*</span></th>
                                                          
                                                            </tr>
                                                        </thead>
                                                        <tbody class="form-border tableSoftware" id="softwareBody">
                                                            @{
                                                                int SrNo = 0;
                                                            }
                                                            @foreach (var item in UserDataList)
                                                            {
                                                                SrNo++;
                                                                <tr id="row_@SrNo" class="tr_input">
                                                                    <td class="text-center">
                                                                        <input type="text" name="EmployeeName" value="@item.EmployeeName" id="txtEmpName_@SrNo" disabled>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="text" name="EmployeeID" value="@item.EmployeeID" id="txtEmpID_@SrNo" disabled>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="text" name="LogicCardID" value="@item.LogicCardID" id="txtLogicCardID_@SrNo" disabled>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <select class="form-control sel_service_category" name="StationName" id="ddlStationName_@SrNo" disabled>
                                                                            <option value="" @(item?.StationName == "" || item?.StationName == null ? "selected" : "")>Select Station Name</option>
                                                                            <option value="Assembly (HDT,QRK)" @(item?.StationName == "Assembly (HDT,QRK)" ? "selected" : "")>Assembly (HDT,QRK)</option>
                                                                            <option value="Assembly  (CP6 Production)" @(item?.StationName == "Assembly  (CP6 Production)" ? "selected" : "")>Assembly  (CP6 Production)</option>
                                                                            <option value="Assembly  (CP6 Quality)" @(item?.StationName == "Assembly  (CP6 Quality)" ? "selected" : "")>Assembly  (CP6 Quality)</option>
                                                                            <option value="RBT" @(item?.StationName == "RBT" ? "selected" : "")>RBT</option>
                                                                            <option value="Water Test" @(item?.StationName == "Water Test" ? "selected" : "")>Water Test</option>
                                                                            <option value="CP8" @(item?.StationName == "CP8" ? "selected" : "")>CP8</option>
                                                                            <option value="Drieve Test" @(item?.StationName == "Drieve Test" ? "selected" : "")>Drieve Test</option>
                                                                            <option value="Polishing line" @(item?.StationName == "Polishing line" ? "selected" : "")>Polishing line</option>
                                                                            <option value="ED Sanding" @(item?.StationName == "ED Sanding" ? "selected" : "")>ED Sanding</option>
                                                                            <option value="Underbody" @(item?.StationName == "Underbody" ? "selected" : "")>Underbody</option>
                                                                            <option value="Framer Line" @(item?.StationName == "Framer Line" ? "selected" : "")>Framer Line</option>
                                                                            <option value="Finish Line" @(item?.StationName == "Finish Line" ? "selected" : "")>Finish Line</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center" style="width: 138px;">
                                                                        <select class="form-control cls_subcategory" name="Shop" id="ddlShop_@SrNo" disabled>
                                                                            <option value="" @(item?.Shop == "" || item?.Shop == null ? "selected" : "")>Select Shop</option>
                                                                            <option value="Assembly Shop" @(item?.Shop == "Assembly Shop" ? "selected" : "")>Assembly Shop</option>
                                                                            <option value="Paint Shop" @(item?.Shop == "Paint Shop" ? "selected" : "")>Paint Shop</option>
                                                                            <option value="Body Shop" @(item?.Shop == "Body Shop" ? "selected" : "")>Body Shop</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="text-center" style="width: 138px;">
                                                                        <select class="form-control cls_subcategory" name="AccessGroup" id="ddlAccessGroup_@SrNo" disabled>
                                                                            <option value="" @(item?.AccessGroup == "" || item?.AccessGroup == null ? "selected" : "")>Select Access Group</option>
                                                                            <option value="Access Group" @(item?.AccessGroup == "Access Group" ? "selected" : "")>Access Group</option>
                                                                            <option value="Assembly" @(item?.AccessGroup == "Assembly" ? "selected" : "")>Assembly</option>
                                                                            <option value="Production_CP" @(item?.AccessGroup == "Production_CP, Assembly" ? "selected" : "")>Production_CP, Assembly</option>
                                                                            <option value="Quality CP" @(item?.AccessGroup == "Quality CP" ? "selected" : "")>Quality CP</option>
                                                                            <option value="Result_RBT" @(item?.AccessGroup == "Result_RBT" ? "selected" : "")>Result_RBT</option>
                                                                            <option value="Result_Watercheck" @(item?.AccessGroup == "Result_Watercheck, Watertest" ? "selected" : "")>Result_Watercheck, Watertest</option>

                                                                            <option value="Status_CP8" @(item?.AccessGroup == "Status_CP8" ? "selected" : "")>Status_CP8</option>
                                                                            <option value="Result_Drievetest" @(item?.AccessGroup == "Result_Drievetest" ? "selected" : "")>Result_Drievetest</option>
                                                                            <option value="Paintshop_Production/ Quality" @(item?.AccessGroup == "Paintshop_Production/ Quality" ? "selected" : "")>Paintshop_Production/ Quality</option>
                                                                            <option value="Bodyshop_CP" @(item?.AccessGroup == "Bodyshop_CP" ? "selected" : "")>Bodyshop_CP</option>
                                                                        </select>
                                                                    </td>

                                                                 
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td style="padding-right: 0;">
                                                    <div class="w-100">
                                                        <div class="per row col-12" style="padding: 0;">
                                                            <label class="col-md-12 col-lg-12"><b>Business Justification</b> <span class="astColor">*</span></label>
                                                            <textarea class="form-control col-md-12 col-lg-12" name="BusinessJustification" rows="4" va id="txtBusinessJustification" disabled>@EQSA.BusinessJustification</textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bt-0 bb-0 pl-0">
                                                    <button class="btn btn-warning hide" id="geko_upload_btn">Upload GeKo</button>
                                                    <button class="btn btn-primary hide" id="saga_upload_btn">Upload SAGA/2</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @* Approval Section And Action Section *@
                @if (IsViewMode || IsEditMode)
                {
                    //Approval Section
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <img src="~/assets/img/approvalTracking.svg" width="24" height="24" class="mr-2" />Approval Tracking
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <table class="table w-100 td-border showBorder">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Role</th>
                                                        <th style="display: @(appList.Any(x => !string.IsNullOrEmpty(x.ExtraDetails)) ? " " : " none")">Content</th>
                                                        <th>Processed on</th>
                                                        <th>Status</th>
                                                        <th class="text-center">Comments</th>
                                                        <th class="text-center">Approval Level</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (IsViewMode || IsEditMode)
                                                    {
                                                        Html.RenderPartial("_ApprovalTracking", appList);
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Buttons *@
                @if (IsNewMode)
                {
                    <div class="card-footer align-content-center">
                        <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm cancl-btn" id="btnCancel">
                            Cancel
                        </button>
                    </div>
                }
                else if (IsEditMode)
                {
                    <div class="card-footer align-content-center">
                        <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                            Re-Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm cancl-btn" id="btnCancel">
                            Cancel
                        </button>
                    </div>
                }

            </form>

            <div>
                <p class="text-left f-600">SF_II_024</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modelHeader">
                <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="modalBody" class="lableMsg">  </label>
                <input type="hidden" id="tab" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="submitBomBtn publishBtn" id="modalOkButton" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
        var spinner = $('#loader');
        var currentUserDesgn = @Html.Raw(Json.Encode(CurrentUserDesgn));
        var IsNew = @Html.Raw(Json.Encode(IsNew));
        var IsEdit = @Html.Raw(Json.Encode(IsEdit));
        var IsNewMode = @Html.Raw(Json.Encode(IsNewMode));
        var IsEditMode = @Html.Raw(Json.Encode(IsEditMode));
        var IsViewMode = @Html.Raw(Json.Encode(IsViewMode));
        var EQSA = @Html.Raw(Json.Encode(EQSA));
        var appRowId = @Html.Raw(Json.Encode(AppRowId));
        var approvalType =@Html.Raw(Json.Encode(ApprovalType));
        var SecurityDesgnString = @Html.Raw(Json.Encode(SecurityDesgnString));
        var FlagRedirect = @Html.Raw(Json.Encode(FlagRedirect));
        var errorCount = 0;
        var errors = "";
        pageLoad();
        function pageLoad() {
        spinner.hide();
        $("#headingErr").addClass('d-none');
        $("#rdOnBehalfOptionOthersLabel").text('Blue Collar Employee');
        //if (IsViewMode || IsEditMode) {
        //    $("#txtAddressofConsignee").addClass('spanUpperSide');
        //    $("#txtAddressofReceiver").addClass('spanUpperSide');
        //    $("#txtBusinessNeed").addClass('spanUpperSide');
        //    GetWeightDimension();
        //}
        //else if (IsViewMode) {
        //    $("#divRequestSubmissionFor").addClass('d-none');
        //}
        }
        function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
        e.preventDefault();
        }
        }
        function successISCLSCModal(txt) {
        //
        $('#modalTitle').html('Success');
        if (txt == "approve") {
        $('#modalBody').html('Form has been approved!');
        }
        else if (txt == "reject") {
        $('#modalBody').html('Form has been rejected!');
        }
        else if (txt == "enquire") {
        $('#modalBody').html('Form has been enquired!');
        }
        else if (txt == "cancelled") {
        $('#modalBody').html('Form has been cancelled!');
        }
        else {
        if (IsEditMode) {
        $('#modalBody').html('Your form with ID: EQSA' + txt + ' has been re-submitted! Kindly use this for future reference');
        }
        else {
        $('#modalBody').html('Your form with ID: EQSA' + txt + ' has been submitted! Kindly use this for future reference');
        }
        }
        FlagRedirect = txt;
        //$("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
        }
        function failureModal(txt) {
        if (txt == null) {
        $('#modalBody').html('Some error occurred!');
        }
        $('#modalTitle').html('Failure');
        $('#modalBody').html(txt);
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
        }
        function permissionModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('No permssion granted since the device is not SAVWIPL owned!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
        }
        function requiredModal(text) {
        $('#modalTitle').html('Required!');
        $('#modalBody').html(text);
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
        }
        function validityModal(txt) {
        ////
        if (txt == 'approve') {
        DisplayAlert('error', 'Error', 'Please select the Type of Car');
        }
        else if (txt == 'reject') {
        DisplayAlert('error', 'Warning', 'Please type in the reason for rejecting the form');
        }
        else if (txt == 'enquire') {
        DisplayAlert('error', 'Warning', 'Please type in the reason for enquiring the form');
        }
        }

    $("#btnSubmit").on('click', function (e) {
        errors = "";

        validateSubmitter();
        validateApplicant();

        var lblActionType = $("#chkActionType").val();

        if (lblActionType == "") {
        errors += "<li id='error" + errorCount + "'>" + "Action Type" + "</li>";
        AddError("lblActionType", '', errorCount);
        errorCount++;
        }
        var txtEmployeeName = $("#txtEmployeeName").val();
        if (txtEmployeeName == "") {
        errors += "<li id='error" + errorCount + "'>" + "Buyer Name" + "</li>";
        AddError("txtEmployeeName", '', errorCount);
        errorCount++;
        }

        if ($("input[name=RequestType]:checked").length == 0) {
            alert("Select Request Type.");
            spinner.hide();
            return false;
        }

            //var rows = $("#UserIdTableRowCount").val();
            var rows = SrNo;


        // Check for table validation

        var x = 0, y = 0;
        var t1 = document.getElementById("softwareBody").rows.length;
        for (x = 0;  x< t1; x++) { // for columns

            var t2 = document.getElementById("softwareBody").rows[x].cells.length;
            var element = {};
            for (y = 0; y < t2; y++) { // for Rows

                if (y == 1) {
                    if ($("#txtEmpName_" + (x + 1) + "").val() == "") {

                        $("#txtEmpName_" + (x + 1) + "").focus();
                        alert("Fill Employee Name.");
                        spinner.hide();
                        return false;
                    }
                } else if (y == 2) {
                    if ($("#txtEmpID_" + (x + 1) + "").val() == "") {
                        $("#txtEmpID_" + (x + 1) + "").focus();
                        alert("Fill Employee ID.");
                        spinner.hide();
                        return false;
                    }
                } else if (y == 3) {
                    if ($("#txtLogicCardID_" + (x + 1) + "").val() == "") {
                        $("#txtLogicCardID_" + (x + 1) + "").focus();
                        alert("Fill Logic Card ID field.");
                        spinner.hide();
                        return false;
                    }
                } else if (y == 4) {
                    if ($("#ddlStationName_" + (x + 1) + "").val() == "") {
                        $("#ddlStationName_" + (x + 1) + "").focus();
                        alert("Fill Station Name field.");
                        spinner.hide();
                        return false;
                    }
                } else if (y == 5) {
                    if ($("#ddlShop_" + (x + 1) + "").val() == "") {
                        $("#ddlShop_" + (x + 1) + "").focus();
                        alert("Fill Shop field.");
                        spinner.hide();
                        return false;
                    }
                } else if (y == 6) {
                    if ($("#ddlAccessGroup_" + (x + 1) + "").val() == "") {
                        $("#ddlAccessGroup_" + (x + 1) + "").focus();
                        alert("Fill Access Group field.");
                        spinner.hide();
                        return false;
                    }
                }
            }

        }




            var set = new Set();


        var txtBusinessJustification = $("#txtBusinessJustification").val();
        if (txtBusinessJustification == "") {
            errors += "<li id='error" + errorCount + "'>" + "Business Justification" + "</li>";
            AddError("txtBusinessJustification", '', errorCount);
            errorCount++;
        }

        if (errors.length) {
        errors = "<ol id='errorList'>" + errors + "</ol>";
        $("#headingErr").removeClass('d-none');
        document.getElementById("add_to_me").innerHTML = errors;
        errors = "";
        errorCount = 0;
        if (IsEditMode) {
        $("#myModalEdit").scrollTop(0);
        $("#myModalRequest").scrollTop(0);
        }
        else {
        $(window).scrollTop(0);
        }
        return false;
        }
        $("#headingErr").addClass('d-none');
        document.getElementById("add_to_me").innerHTML = '';
        $('#ddEmpDesignation').prop("disabled", false);
        $('#txtOnBehalfdesignation').prop("disabled", false);
        $("#loader").css("display", "block");
        $("#btnSubmit").text('Saving');
        $("#btnSubmit").prop("disabled", true);
        $("#btnCancel").prop("disabled", true);

           // $("input").prop('disabled', false);



            var serializedArray = $("#EQSAForm").serializeArray();

            var form = {

            };

            serializedArray.forEach((x, index) => {
                form[x.name] = x.value;
            });


            var n1 = document.getElementById("softwareBody").rows.length;
            var TableDataList = [] ;
            var i = 0, j = 0;

            for (i = 0; i < n1; i++) { // for columns

                var n2 = document.getElementById("softwareBody").rows[i].cells.length;
                var element = {};
                for (j = 0; j < n2; j++) { // for Rows
                    var x = document.getElementById("softwareBody").rows[i].cells.item(j).innerHTML;
                    if (j == 0) {
                        element.SrNo = i + 1;
                    } else if (j == 1) {
                        element.EmployeeName = $("#txtEmpName_"+(i+1)+"").val() ;
                    } else if (j == 2) {
                        element.EmployeeID = $("#txtEmpID_" + (i + 1) + "").val();
                    } else if (j == 3) {
                        element.LogicCardID = $("#txtLogicCardID_" + (i + 1) + "").val();
                    } else if (j == 4) {
                        element.StationName = $("#ddlStationName_" + (i + 1) + "").val();
                    } else if (j == 5) {
                        element.Shop = $("#ddlShop_" + (i + 1) + "").val();
                    } else if (j == 6) {
                        element.AccessGroup = $("#ddlAccessGroup_" + (i + 1) + "").val();
                    }
                }
                TableDataList.push(element);
            }

            //form['DetailDescription'] = $('#txtDetailDescription').val();
        form['EQSAccessTableData'] = TableDataList;
        console.log(form)
        spinner.show();
        $.ajax({
            url: '/EQSAccess/SaveData',
            type: 'POST',
            data: form,
            dataType: 'JSON',
            success: (function (data) {
                $("#loader").css("display", "");
                spinner.hide();
            if (data.Status == 200) {
                $("#loader").css("display", "");
        $("#pageLoader").addClass('invisible');
        if (IsNew && IsEdit) {
        $("#btnSubmit").text('Submit');
        }
        else {
        $("#btnSubmit").text('Re-Submit');
        }
        $("#btnSubmit").prop("disabled", false);
            $("#btnCancel").prop("disabled", false);
        successISCLSCModal(data.Message);
        }
        else {
        failureModal(data.Message);
        if (IsNew && IsEdit) {
        $("#btnSubmit").text('Submit');
        }
        else {
        $("#btnSubmit").text('Re-Submit');
        }
        $("#pageLoader").addClass('invisible');
        $("#btnSubmit").prop("disabled", false);
        $("#btnCancel").prop("disabled", false);
        console.log("failure");
        }
        }),
            error: (function (data) {
                $("#loader").css("display", "");
        failureModal();
        console.log("error");
        if (IsNew && IsEdit) {
        $("#btnSubmit").text('Submit');
        }
        else {
        $("#btnSubmit").text('Re-Submit');
        }
        $("#pageLoader").addClass('invisible');
        $("#btnSubmit").prop("disabled", false);
        $("#btnCancel").prop("disabled", false);
        })
        })
            //uncomment

            $("#tab").val(2);
            $("#drpStatus2").prop('disabled', true);
            $("#txtDifBudAmt").prop('disabled', true);
            $("#ddOtherNewEmpDesignation").prop("disabled", true);
        });
        $("#btnCancel").on('click', function (e) {
        window.location = "../Dashboard";
        });
        function saveResponse(text) {
        var status = '', comment = '';
        comment = $("#comment-" + text).val();
        switch (text) {
        case 'approve': {
        status = 'Approved';

        FormApproval(status, appRowId, comment, approvalType, text);

        break;
        }
        case 'reject': {
        status = 'Rejected';
        if (comment == '') {
        validityModal(text);
        return;
        }
        else {
        FormApproval(status, appRowId, comment, approvalType, text);
        }
        break;
        }
        case 'enquire': {
        status = 'Enquired';
        if (comment == '') {
        validityModal(text);
        return;
        }
        else {
        FormApproval(status, appRowId, comment, approvalType, text);
        }
        break;
        }
        }
        $("#tab").val(1);
        }
        function FormApproval(status, appRowId, comment, approvalType, text) {
        spinner.show();
        $.ajax({
        url: '/List/SaveResponse',
        type: 'POST',
        data: { response: status, appRowId: appRowId, comment: comment, approvalType: approvalType },
        dataType: 'JSON',
        success: (function (data) {
        if (data.Result == 1) {
        successISCLSCModal(text);
        spinner.hide();
        //setTimeout(FilterMyTasks, 5000);
        spinner.hide();
        }
        else {
        failureModal();
        spinner.hide();
        }
        }),
        error: (function (data) {
        failureModal();
        spinner.hide();
        })
        })
        $("#tab").val(1);
        }





        $('#myModal').modal({ backdrop: 'static', keyboard: false })
        $('#successModel').on('hidden.bs.modal', function () {
        ////
        var tab = $("#tab").val();
        console.log(tab);
        if (tab == 1) {
        GetMyTaskTab();
        }
        else if (tab == 2) {
        window.location = "../Dashboard?tab=" + tab;
        }
        })

    var SrNo = 0;

    var $tr = $('#row_1');
    function addTableRow() {
        
        SrNo = $('#tblEmployeeData tr').length - 1;
        SrNo = SrNo + 1;
        var $clone = $tr.clone();
        var rows = SrNo;
        $clone.removeClass('d-none');
        $clone.find('.sNo').html('' + rows);
        $clone.find(':text, textarea, number, select, input[type="date"]').val('');
        var newRowId = 'row_' + rows;
        $('#Module_' + rows).val('');
        $($clone).prop('id', newRowId);
        $('#softwareBody').append($clone);
        var selector = "#" + newRowId + " input[type='text'], " + "#" + newRowId + " textarea, " + "#" + newRowId + " select, " + "#" + newRowId + " input[type='image'], " + "#" + newRowId + " input[type='date']" + "#" + newRowId + " input[type='number']";
        $(selector).each(function (i, x) {
            x.id = x.id.replace(/_.*/, "_" + rows);
            x.classList.remove("errorIcon");
            x.classList.remove("errorIconDropDown");
            x.classList.remove("errorIconTextarea");
        });

        AddTableElementsEvent();
        $('#UserIdTableRowCount').val(rows);

    }


    $('#softwareBody').on('click', '.remove', function () {
        
        var rows = SrNo;
        var id = $(this).attr('id');
        var deleteRowNum = parseInt(id.split("_")[1]);
        $('#row_' + deleteRowNum).remove();
        var index = deleteRowNum;
        //Below code will normalise the row number and the ids of the input
        $('#softwareBody').children().each(function () {
            var trId = $(this).attr('id');
            var rowNum = parseInt(trId.replace("row_", ""));
            if (rowNum > deleteRowNum) {
                var selector = "#" + trId + " input[type='text'], " + "#" + trId + " textarea, " + "#" + trId + " select, " + "#" + trId + " input[type='image']";
                $(selector).each(function (i, x) {
                    x.id = x.id.replace(/_.*/, "_" + index);
                });
                $("#" + trId).find('.sNo').html('' + index);
                $(this).attr('id', 'row_' + index);
                index++;
            }
        });
        --rows;
        SrNo = rows
        $('#UserIdTableRowCount').val(rows);
      });
    function AddTableElementsEvent() {
        $(".requestType").off('change');
        $(".module").off('change');
        $(".requestType").change(function () {
            var requestType2 = document.querySelectorAll(".requestType");
            var requestType_arr2 = [];
            for (var i = 0; i < requestType2.length; i++) {
                requestType_arr2.push(requestType2[i]['value']);
            };
        });
    }

    function allowNumericSpace(thisInput) {
        thisInput.value = thisInput.value.split(/[^0-9]/).join('');
    }

    //function getRequestType() {
    //    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    //}
    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });

    @*$(document).on('keydown', '.txtEmpNameField', function () {
        var id = this.id;
        var splitid = id.split('_');
        var index = splitid[1];
        $('#' + id).autocomplete({
            source: function (request, response) {
     
                $.ajax({
                    url: "/List/GetEmployeeDetails",
                    dataType: "json",
                    cache: false,
                    async: false,
                    data: {
                        searchText: $("#txtEmpName_1").val()
                    },

                    success: function (data) {

                        data = data.filter(function (e) {
                            return e.Email !== "@currentUser.Email";
                        });
                        response($.map(data, function (item) {
                            console.log(data, 'data');
                            return { label: item.FirstName, value: item.FullName, raw: item };
                        }));
                    },
                    error: function (response) {
                        swal.fire({
                            title: "",
                            text: "Something went wrong, Kindly contact IT team.",
                            icon: "warning",
                        });
                    },
                    failure: function (response) {
                        swal.fire({
                            title: "",
                            text: "Something went wrong, Kindly contact IT team.",
                            icon: "warning",
                        });
                    }
                });


            },
            search: function (event, ui) {
                var value = $("#txtEmpName_1").val();
                // If less than three chars, cancel the search event
                if (value.length < 4) {
                    event.preventDefault();
                }
            },
            min_length: 4,
            change: function (event, ui) {
                if (!ui.item) {
                    $(this).val('');
                }
            },
            delay: 0,
            select: function (event, ui) {
                var empOtherDetails = ui.item['raw'];
                $("#txtEmpName_1").val(empOtherDetails.Email)
                $("#txtEmpID_1").val(empOtherDetails.UserId)
                //Get the other details like Cost Center Code, Employee Number from DB.
                if (!empOtherDetails.Email) {
                    document.getElementById('txtEmpName_1').value = '';
                    DisplayAlert('success', 'Info', 'Please select a user with valid Email', 4000);
                    event.preventDefault();
                    return;
                }

            }

        });

    });*@


    $(document).on('keydown', '.txtEmpNameField', function () {

        var id = this.id;
        //console.log("id=" + id);
        var splitid = id.split('_');
        // console.log("splitid=" + splitid);
        var index = splitid[1];
        // console.log("index=" + index);
        if (!isEdit) {

        }
        else {
            count = index;
        }

        // Initialize jQuery UI autocomplete
        $('#' + id).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/List/GetEmployeeDetails",
                    dataType: "json",
                    cache: false,
                    async: true,
                    data: {
                        searchText: request.term
                    },
                    success: function (data) {
                        ////
                        // console.log(data, 'data');
                        console.log(data)
                        response($.map(data, function (item) {
                            return { label: item.FirstName, value: item.FullName, raw: item };
                        }));

                    }
                });
            },
            //minLength: 4,
            change: function (event, ui) {
                if (!ui.item) {
                    //$(this).val('');
                }
         
            },
            select: function (event, ui) {
               // display the selected text
                var empOtherDetails = ui.item['raw'];
                $("#txtEmpName_" + index).val(empOtherDetails.Email)
                $("#txtEmpID_" + index).val(empOtherDetails.UserId)
                //Get the other details like Cost Center Code, Employee Number from DB.
                if (!empOtherDetails.Email) {
                    document.getElementById('txtEmpName_' + index).value = '';
                    DisplayAlert('success', 'Info', 'Please select a user with valid Email', 4000);
                    event.preventDefault();
                    return;
                }
            }
        });

        $('#' + id).autocomplete("option", "appendTo", ".autocompleteSoft-div");
    });
</script>
