@model dynamic
@{
    ViewBag.Title = "IT Clearance Form";
    var user = (Skoda_DCMS.Models.UserData)HttpContext.Current.Session["UserData"];
    bool IsNew = true;
    bool IsEdit = true;
    dynamic FlagRedirect = null; // For Email Update
    dynamic ITCF = null;
    Layout = ViewBag.Layout;
    int RowId = 0, FormId = 0, AppRowId = 0, ApprovalType = 0;
    if (ViewBag != null && ViewBag.IsNew != null)
    {
        IsNew = ViewBag.IsNew;
        IsEdit = ViewBag.IsEdit;
        ITCF = ViewBag.Model;
        RowId = ViewBag.RowId;
        FormId = ViewBag.FormId;
        AppRowId = ViewBag.AppRowId;
        ApprovalType = ViewBag.ApprovalType != null ? (int)ViewBag.ApprovalType : 0;
    }
}
@*For Email Update*@
<style type="text/css">

    .tooltip.bottom .tooltip-inner {
        max-width: 500px;
        padding: 1px 6px;
        color: white;
        text-align: center;
        background-color: red;
        border-radius: 5px
    }
  
    .bg-color td, .bg-color th {
        border: 1px solid #dee2e6;
        background-color: rgb(219,238,213) !important;
    }
    #OtherEmpName #txtOtherEmpname {
        border-radius: 0;
        height: 20%;
        font-size: 14px;
    }
    .astColor {
        color: red;
    }
    .bg-color-2 td {
        background-color: rgba(75,168,46,0.4) !important;
        border: 1px solid rgba(75,168,46,0.1) !important;
    }

    .bg-color-2 th {
        background-color: rgba(75,168,46,0.4) !important;
        border: 1px solid rgba(75,168,46,0.1) !important;
    }
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url(../../assets/img/Loading.gif) no-repeat center center;
        z-index: 10000;
    }
    .ui-front {
        z-index: 9999999 !important;
    }
</style>
<div id="loader"></div>
@*For Email Update*@
<div class="right_col bg-transparent" role="main">
    <div class="container">
        <form action="/List/CreateITClearanceRequest" id="ITCForm" method="post">
            @if (IsNew)
            {
                if (!IsEdit)
                {
                    <div>
                        <input type="hidden" id="FormSrId" name="FormSrId" value="@(ITCF.one[0].Id)" />
                        <input type="hidden" id="FormId" name="FormId" value="@(FormId)" />
                        <input type="hidden" id="AppRowId" name="AppRowId" value="@(AppRowId)" />
                    </div>
                }
                else
                {
                    <div class="breadcrumb-container">
                        <div>
                            <ol class="breadcrumb pl-0">
                                <li>
                                    <a href="/Dashboard?formName=ITCF">
                                        Dashboard
                                    </a>
                                </li>
                                <li class="active"><a href="/Dashboard/GetDepartmentWiseForms?department=IT">IT Department</a></li>
                                <li class="active">IT Clearance Form</li>
                            </ol>
                        </div>
                    </div>

                    <div class="form-main-container margin_space">
                        <div class="row topContent">
                            <div class="col-lg-9 col-md-7 padd_space">

                                <h5>Form Name : IT Clearance Form</h5>
                            </div>
                            <div class="col-lg-3 col-md-7 padd_space float-right text-right">

                                @*<h5> Form Department | Owner</h5>*@

                            </div>
                        </div>
                    </div>


                }
            }
            <div class="container form-container">
                <div class="card-header pb-4 pt-4">
                    <table class="w-100 m-auto">
                        <tr>
                            <td>
                                <table class="table mainTbl table-bordered form-table-container bg-color">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3" class=""><h3><label class="f-600">IT Clearance Form</label></h3></td>
                                            <td class="f-600 text-left pl-3">Classification</td>
                                            <td class="f-600 text-left pl-3">Internal</td>
                                        </tr>
                                        <tr>
                                            <td class="f-600 text-left pl-3">Version</td>
                                            <td class="f-600 text-left pl-3">11</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table mainTbl table-bordered form-table-container-2 bg-color">
                                    <tbody>
                                        <tr>
                                            <td class="allFormLables borderLTB f-600">
                                                <label class="f-600">Date</label>
                                            </td>
                                            <td colspan="2" class="borderLTB text-left">
                                                <input type="text" name="txtDate" placeholder="/ /" class="w-100" value="@(!IsNew || !IsEdit ? (Convert.ToDateTime(ITCF.one[0].FormID.CreatedDate).ToShortDateString()) : DateTime.Now.ToShortDateString())" readonly>
                                            </td>

                                            @if (!IsNew || !IsEdit)
                                            {
                                                <td class="allFormLables borderLTB f-600 align" colspan="2">

                                                    <label class="f-600">Form Id</label>

                                                </td>
                                                <td colspan="2" class="borderLTB text-right">
                                                    <input type="text" name="txtFormId" class="w-100" value="@(!IsNew ||!IsEdit ? ("ITCF" + ITCF.one[0].FormID.Id  ?? "") : "" )" readonly>
                                                </td>
                                            }
                                        </tr>
                                        @if (!IsEdit)
                                        {
                                            foreach (var item in ITCF.one)
                                            {
                                                <tr>
                                                    <td class="w-20 allFormLables borderLTB f-600">
                                                        <label class="f-600">Request Submission For<span class="astColor">*</span></label>
                                                    </td>
                                                    <td colspan="2" class="borderLTB">
                                                        <select name="drpRequestSubmissionFor" id="drpRequestSubmissionFor" class="choice" onchange="RequestSubmissionFor()">
                                                            <option value="null">Choose..</option>
                                                            <option value="Self" @(item.RequestSubmissionFor == "Self" ? "selected" : "")> Self </option>
                                                            <option value="OnBehalf" @(item.RequestSubmissionFor == "OnBehalf" ? "selected" : "")> On Behalf </option>
                                                        </select>
                                                    </td>
                                                    <td colspan="2" class="allFormLables borderLTB f-600 align">
                                                        <label class="f-600"></label>
                                                    </td>
                                                    <td class="borderLTB text-left" colspan="2">
                                                    </td>
                                                </tr>
                                            }
                                            <tr id="OtherEmpName" style="display:none;">
                                                <td>
                                                    <label id="lblOtherEmpName" class="control-label f-600">Name (Type at least 4 letters for faster results)</label>
                                                </td>
                                                <td colspan="2"><input type="text" name="txtOtherEmpname" id="txtOtherEmpname" class="form-control ui-autocomplete-input" required="required" autocomplete="off"></td>
                                            </tr>
                                        }
                                        else if (IsNew)
                                        {
                                            <tr>
                                                <td class="w-20 allFormLables borderLTB f-600">
                                                    <label class="f-600">Request Submission For<span class="astColor">*</span></label>
                                                </td>
                                                <td colspan="2" class="borderLTB">
                                                    <select name="drpRequestSubmissionFor" id="drpRequestSubmissionFor" class="choice" onchange="RequestSubmissionFor()">
                                                        <option value="null">Choose</option>
                                                        <option value="Self">Self</option>
                                                        <option value="OnBehalf">On Behalf</option>
                                                    </select>
                                                </td>
                                                <td colspan="2" class="allFormLables borderLTB f-600 align">
                                                    <label class="f-600"></label>
                                                </td>
                                                <td class="borderLTB text-left" colspan="2">
                                                </td>

                                            </tr>
                                            <tr id="OtherEmpName" style="display:none;">
                                                <td>
                                                    <label id="lblOtherEmpName" class="control-label f-600">Name (Type at least 4 letters for faster results)</label>
                                                </td>
                                                <td colspan="2"><input type="text" name="txtOtherEmpname" id="txtOtherEmpname" class="form-control ui-autocomplete-input" autocomplete="off"></td>

                                            </tr>
                                        }

                                        @if (IsNew)
                                        {
                                            if (!IsEdit)
                                            {
                                                <tr>
                                                    <td class="allFormLables borderLTB f-600">
                                                        <label class="f-600">Type of Employee<span class="astColor">*</span></label>
                                                    </td>
                                                    <td class="borderLTB">
                                                        <label class="checkbox-container">
                                                            <label class="f-600">Internal</label>
                                                            @if (ITCF.one[0].EmployeeType == "Internal")
                                                            {
                                                                <input type="checkbox" class="" name="chkInternal" id="chkInternal" onclick="getEmployeeType()" checked>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="" name="chkInternal" id="chkInternal" onclick="getEmployeeType()">
                                                            }
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </td>

                                                    <td class="borderLTB text-left align">
                                                        <label class="checkbox-container">
                                                            <label class="f-600">External</label>
                                                            @if (ITCF.one[0].EmployeeType == "External")
                                                            {
                                                                <input type="checkbox" class="" name="chkExternal" id="chkExternal" onclick="getEmployeeType()" checked>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="" name="chkExternal" id="chkExternal" onclick="getEmployeeType()">
                                                            }

                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <input type="hidden" name="chkEmployeeType" id="chkEmployeeType" value="@(ITCF.one[0].EmployeeType ?? "")" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    @if ((ITCF.one[0].EmployeeType == "External") && (ITCF.one[0].ExternalOrganizationName == "Other"))
                                                    {
                                                        <td class="" id="lblExternalOrganizationName">
                                                            <label class="f-600">External Organization Name</label>
                                                        </td>
                                                        <td id="ExternalOrganizationName" colspan="2">
                                                            <select class="w-100" name="ddExternalOrganizationName" id="ddExternalOrganizationName"></select>
                                                        </td>
                                                        <td id="lblExternalOtherOrganizationName" colspan="2" class="align">
                                                            <label class="f-600"> Other External Organization Name</label>
                                                        </td>
                                                        <td id="ExternalOtherOrganizationName" class="text-right">
                                                            <input type="text" class="w-100" placeholder="Other External Organization Name" name="txtExternalOtherOrganizationName" id="txtExternalOtherOrganizationName" value="@(ITCF.one[0].ExternalOtherOrganizationName ?? "")" />
                                                        </td>
                                                    }

                                                    @if ((ITCF.one[0].EmployeeType == "External") && (ITCF.one[0].ExternalOrganizationName != "Other"))
                                                    {
                                                        <td class="" id="lblExternalOrganizationName">
                                                            <label class="f-600">External Organization Name</label>
                                                        </td>
                                                        <td id="ExternalOrganizationName" colspan="2">
                                                            <select class="w-100" name="ddExternalOrganizationName" id="ddExternalOrganizationName"></select>
                                                        </td>
                                                    }

                                                    <td id="lblExternalOtherOrganizationName" colspan="2" class="align" style="display:none;">
                                                        <label class="f-600"> Other External Organization Name</label>
                                                    </td>
                                                    <td id="ExternalOtherOrganizationName" class="text-right" style="display:none;">
                                                        <input type="text" class="w-100" placeholder="Other External Organization Name" name="txtExternalOtherOrganizationName" id="txtExternalOtherOrganizationName" />
                                                    </td>

                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="allFormLables borderLTB f-600">
                                                        <label class="f-600">Type of Employee<span class="astColor">*</span></label>
                                                    </td>
                                                    <td class="borderLTB">
                                                        <label class="checkbox-container">
                                                            <label class="f-600">Internal</label>
                                                            <input type="checkbox" class="" name="chkInternal" id="chkInternal" onclick="getEmployeeType()">

                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </td>

                                                    <td class="borderLTB text-left align">
                                                        <label class="checkbox-container">
                                                            <label class="f-600">External</label>
                                                            <input type="checkbox" class="" name="chkExternal" id="chkExternal" onclick="getEmployeeType()">

                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <input type="hidden" name="chkEmployeeType" id="chkEmployeeType" value="" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="" id="lblExternalOrganizationName" style="display:none;">
                                                        <label class="f-600">External Organization Name</label>

                                                    </td>
                                                    <td id="ExternalOrganizationName" colspan="2" style="display:none;">
                                                        <select name="ddExternalOrganizationName" id="ddExternalOrganizationName"></select>
                                                    </td>


                                                    <td id="lblExternalOtherOrganizationName" colspan="2" class="align" style="display:none;">
                                                        <label class="f-600"> Other External Organization Name</label>

                                                    </td>
                                                    <td id="ExternalOtherOrganizationName" class="text-right" style="display:none;">
                                                        <input type="text" class="w-100" placeholder="Other External Organization Name" name="txtExternalOtherOrganizationName" id="txtExternalOtherOrganizationName" />
                                                    </td>

                                                </tr>
                                            }
                                        }
                                        else if (!IsNew)
                                        {
                                            <tr>
                                                <td class="w-20 allFormLables borderLTB f-600">
                                                    <label class="f-600">Type of Employee<span class="astColor">*</span></label>
                                                </td>
                                                <td class="borderLTB">
                                                    <label class="checkbox-container">
                                                        <label class="f-600">Internal</label>
                                                        @if (ITCF.one[0].EmployeeType == "Internal")
                                                        {
                                                            <input type="checkbox" class="inpDisable" name="chkInternal" id="chkInternal" onclick="getEmployeeType()" checked>
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="inpDisable" name="chkInternal" id="chkInternal" onclick="getEmployeeType()">
                                                        }
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>

                                                <td class="borderLTB text-left align">
                                                    <label class="checkbox-container">
                                                        <label class="f-600">External</label>
                                                        @if (ITCF.one[0].EmployeeType == "External")
                                                        {
                                                            <input type="checkbox" class="inpDisable" name="chkExternal" id="chkExternal" onclick="getEmployeeType()" checked>
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="inpDisable" name="chkExternal" id="chkExternal" onclick="getEmployeeType()">
                                                        }

                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <input type="hidden" name="chkEmployeeType" id="chkEmployeeType" value="@(ITCF.one[0].EmployeeType ?? "")" />
                                                </td>
                                            </tr>
                                            <tr>
                                                @if ((ITCF.one[0].EmployeeType == "External") && (ITCF.one[0].ExternalOrganizationName == "Other"))
                                                {
                                                    <td class="" id="lblExternalOrganizationName">
                                                        <label class="f-600">External Organization Name</label>
                                                    </td>
                                                    <td id="ExternalOrganizationName" colspan="2">
                                                        <input type="text" class="w-100 txtDisable" name="txtExternalOrganizationName" id="txtExternalOrganizationName" value="@(ITCF.one[0].ExternalOrganizationName ?? "")" />
                                                    </td>
                                                    <td id="lblExternalOtherOrganizationName" colspan="2" class="align">
                                                        <label class="f-600"> Other External Organization Name</label>
                                                    </td>
                                                    <td id="ExternalOtherOrganizationName" class="text-right">
                                                        <input type="text" class="w-100 txtDisable" name="txtExternalOtherOrganizationName" id="txtExternalOtherOrganizationName" value="@(ITCF.one[0].ExternalOtherOrganizationName ?? "")" />
                                                    </td>
                                                }

                                                @if ((ITCF.one[0].EmployeeType == "External") && (ITCF.one[0].ExternalOrganizationName != "Other"))
                                                {
                                                    <td class="" id="lblExternalOrganizationName">
                                                        <label class="f-600">External Organization Name</label>
                                                    </td>
                                                    <td id="ExternalOrganizationName" colspan="2">
                                                        <input type="text" class="w-100 txtDisable" name="txtExternalOrganizationName" id="txtExternalOrganizationName" value="@(ITCF.one[0].ExternalOrganizationName ?? "")" />
                                                    </td>
                                                }
                                            </tr>
                                        }

                                        <tr>
                                            <td class="allFormLables borderLTB">
                                                <label class="f-600">Employee Code<span class="astColor">*</span></label>
                                            </td>
                                            <td colspan="2" class="borderLTB">
                                                <input type="text" class="w-100 txtDisable" id="txtEmployeeCode" name="txtEmployeeCode"style="width:52%;" value="@(!IsNew||!IsEdit ? (ITCF.one[0].EmployeeCode ?? "") : "")" onkeypress="allowNumbersOnly(event)" />
                                            </td>
                                            <td colspan="2" class="allFormLables borderLTB align">
                                                <label class="f-600">Cost Center No<span class="astColor">*</span></label>
                                            </td>
                                            <td class="borderLTB text-right" colspan="2" style="width:30%;">
                                                <input type="text" class="w-100 txtDisable" name="txtCostcenterCode" id="txtCostcenterCode" value="@(!IsNew||!IsEdit ? (ITCF.one[0].EmployeeCCCode ?? "") : "")" onkeypress="allowNumbersOnly(event)" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="allFormLables borderLTB">
                                                <label class="f-600">Employee Name<span class="astColor">*</span></label>
                                            </td>
                                            <td colspan="2" class="borderLTB">
                                                <input type="text" class="w-100 txtDisable" name="txtEmployeeName" id="txtEmployeeName" value="@(!IsNew||!IsEdit ? (ITCF.one[0].EmployeeName ?? "") : "")" onkeypress="alphaOnly(event)" />
                                            </td>
                                            <td colspan="2" class="allFormLables borderLTB align">
                                                <label class="f-600">User ID<span class="astColor">*</span></label>
                                            </td>
                                            <td class="borderLTB text-right" colspan="2">
                                                <input type="text" class="w-100 txtDisable" name="txtUserId" id="txtUserId" value="@(!IsNew||!IsEdit ? (ITCF.one[0].EmployeeUserId ?? "") : "")" onkeypress="allowNumbersOnly(event)" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="allFormLables borderLTB">
                                                <label class="f-600">Department<span class="astColor">*</span></label>
                                            </td>
                                            <td colspan="2" class="borderLTB">
                                                <input type="text" class="w-100 txtDisable" name="txtDepartment" id="txtDepartment" value="@(!IsNew||!IsEdit ? (ITCF.one[0].EmployeeDepartment ?? "") : "")" onkeypress="alphaOnly(event)" />
                                            </td>
                                            <td colspan="2" class="allFormLables borderLTB align">
                                                <label class="f-600">Contact No<span class="astColor">*</span></label>
                                            </td>
                                            <td class="borderLTB text-right" colspan="2">
                                                <input type="text" class="w-100 txtDisable" name="txtContactNo" id="txtContactNo" value="@(!IsNew||!IsEdit ? (ITCF.one[0].EmployeeContactNo ?? "") : "")" onkeypress="allowNumbersOnly(event)" />
                                            </td>
                                        </tr>
                                        <tr>
                                            @if (IsNew)
                                            {
                                                if (!IsEdit)
                                                {


                                                    <td class="allFormLables borderLTB">
                                                        <label class="f-600">Designation</label>
                                                    </td>
                                                    <td colspan="2" class="borderLTB">
                                                        <select name="ddEmpDesignation" class="w-100 drpSize" id="ddEmpDesignation"></select>
                                                    </td>
                                                    <td colspan="2" class="allFormLables borderLTB align">
                                                        <label class="f-600">Location</label>
                                                    </td>
                                                    <td class="borderLTB text-right" colspan="2">
                                                        <select name="ddEmpLocation" class="w-100 drpSize" id="ddEmpLocation"></select>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="allFormLables borderLTB">
                                                        <label class="f-600">Designation<span class="astColor">*</span></label>
                                                    </td>
                                                    <td colspan="2" class="borderLTB">
                                                        <select name="ddEmpDesignation" class="w-100 drpSize" id="ddEmpDesignation"></select>
                                                    </td>
                                                    <td colspan="2" class="allFormLables borderLTB align">
                                                        <label class="f-600">Location<span class="astColor">*</span></label>
                                                    </td>
                                                    <td class="borderLTB text-right" colspan="2">
                                                        <select name="ddEmpLocation" class="w-100 drpSize" id="ddEmpLocation"></select>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="allFormLables borderLTB">
                                                    <label class="f-600">Designation<span class="astColor">*</span></label>
                                                </td>
                                                <td colspan="2" class="borderLTB">
                                                    <input type="text" class="w-100 txtDisable" name="txtdesignation" id="txtdesignation" value="@(!IsNew ? (ITCF.one[0].EmployeeDesignation ?? "") : "")" />
                                                </td>
                                                <td colspan="2" class="allFormLables borderLTB align">
                                                    <label class="f-600">Location<span class="astColor">*</span></label>
                                                </td>
                                                <td class="borderLTB text-right" colspan="2">
                                                    <input type="text" class="w-100 txtDisable" name="txtLocation" id="txtLocation" value="@(!IsNew ? (ITCF.one[0].EmployeeLocation ?? "") : "")" />
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="allFormLables borderLTB f-600">
                                                <label class="f-600">Last Working Day<span class="astColor">*</span></label>
                                            </td>
                                            <td colspan="2" class="borderLTB">
                                                @if (IsNew)
                                                {
                                                    if (!IsEdit)
                                                    {
                                                        <input type="date" name="txtLastWorkingDay" class="w-100" id="txtLastWorkingDay" value="@(ITCF.one[0].LastWorkingDay.ToString("yyyy-MM-dd") ?? "")" onclick="date_val()">
                                                    }
                                                    else
                                                    {
                                                        <input type="date" name="txtLastWorkingDay" id="txtLastWorkingDay" class="w-100" onclick="date_val()">
                                                    }
                                                }
                                                else
                                                {
                                                    <input type="text" class="txtDisable w-100" name="txtLastWorkingDay" id="txtLastWorkingDay" value="@(!IsNew ? (ITCF.one[0].LastWorkingDay.ToShortDateString() ?? "") : "")">
                                                }
                                            </td>
                                            <td colspan="2" class="allFormLables borderLTB f-600 align">
                                                <label class="f-600">Data to be handed over to<span class="astColor">*</span></label>
                                            </td>
                                            <td class="borderLTB text-right" colspan="2">
                                                    <input type="text" class="w-100 txtDisable" data-placement="bottom" name="txtHandedDataToName" id="txtHandedDataToName" value="@(!IsNew || !IsEdit? (ITCF.one[0].HandedDataToName ?? "") : "")" />
                                            </td>
                                            <td><input type="hidden" class="" name="txtHandedDataToEmpNumber" id="txtHandedDataToEmpNumber" value="@(!IsNew || !IsEdit? (ITCF.one[0].HandedDataToEmpNumber ?? "") : "")"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                @if (!IsNew || !IsEdit)
                                {
                                    <table class="table mainTbl table table-bordered table-sm dataTable no-footer border-none bg-color-2">
                                        <tr>
                                            <td>
                                                <table class="w-95 mx-auto form-border text-center">
                                                    <thead class="form-head-1">
                                                        <tr>
                                                            <th>Employee Signature</th>
                                                            <th>Data to be handed over to </th>
                                                            <th>HOD / Cost Center Manager</th>
                                                        </tr>
                                                    </thead>
                                                    @if (!IsNew || !IsEdit)
                                                    {
                                                        <tbody>
                                                            @if ((ITCF.two.Count > 0) || (ITCF.three.Count > 0))
                                                            {
                                                                <tr class="f-600">
                                                                    <td>@(!IsNew || !IsEdit ? (ITCF.two[0].Author.Title ?? " ") : ITCF.UserName)</td>
                                                                    <td>@(!IsNew || !IsEdit ? (ITCF.three[0].UserName ?? "") : "Signature")</td>
                                                                    <td>@(!IsNew || !IsEdit ? (ITCF.three[1].UserName ?? "") : "Signature")</td>
                                                                </tr>
                                                            }
                                                            <tr class="f-600">
                                                                <td>
                                                                    @(!IsNew || !IsEdit ? " Submitted on " + Convert.ToDateTime(ITCF.two[0].FormId.Created).ToShortDateString()+" "+ Convert.ToDateTime(ITCF.two[0].FormId.Created).ToShortTimeString()??"":"")
                                                                </td>
                                                                <td>
                                                                    @if (ITCF.three[0].ApproverStatus != "Pending")
                                                                    {
                                                                        @(ITCF.three[0].ApproverStatus != "Pending" ? (ITCF.three[0].ApproverStatus + " on " + " " + Convert.ToDateTime(ITCF.three[0].Modified).ToShortDateString() + " "+ Convert.ToDateTime(ITCF.three[0].Modified).AddHours(5.5).ToShortTimeString()) : "" )
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (ITCF.three[1].ApproverStatus != "Pending")
                                                                    {
                                                                        @(ITCF.three[1].ApproverStatus != "Pending" ? (ITCF.three[1].ApproverStatus + " on " + " " + Convert.ToDateTime(ITCF.three[1].Modified).ToShortDateString() + " "+ Convert.ToDateTime(ITCF.three[1].Modified).AddHours(5.5).ToShortTimeString()) : "" )
                                                                    }
                                                                </td>
                                                            </tr>
                                                            @if (ITCF.three[0].ApproverStatus != "Pending")
                                                            {
                                                        <tr class="f-600">
                                                            <td></td>
                                                            <td><textarea class="textTrans" cols="30"  rows="3" readonly>@(!IsNew || !IsEdit ? (ITCF.three[0].Comment ?? "") : "")</textarea></td>
                                                            @if (ITCF.three[1].ApproverStatus != "Pending")
                                                            {
                                                                <td><textarea class="textTrans" cols="30" rows="3" readonly>@(!IsNew || !IsEdit ? (ITCF.three[1].Comment ?? "") : "")</textarea></td>
                                                            }
                                                            </tr>
                                                            }
                                                        </tbody>
                                                    }
                                                </table>

                                            </td>
                                        </tr>
                                    </table>
                                }


                                <table class="table mainTbl table-bordered form-table-container-2 bg-color">
                                    <tr>
                                        <td class="f-600">* Data handed over to:- Includes transfer of share folder ownership, documentation of shared IT assets, etc.</td>
                                    </tr>
                                    @if (!IsNew)
                                    {
                                    <tr>
                                        <td class="f-600">for IT use only-ServiceDeskIndia@volkswagen.co.in</td>

                                        <td><label class="f-600">CR No.</label><input class="w-80" type="text"readonly></td>
                                    </tr>
                                    <tr>
                                        <td class="f-600">Please tick on the Assigned Assets</td>
                                    </tr>
                                    }
                                </table>
                                @if (!IsNew)
                                {
                                <table class="table mainTbl table-bordered form-table-container-2 bg-color">
                                    <tr>
                                        <td>
                                            <table class="w-100 form-border detail-sec-p">
                                                <thead>
                                                    <tr class="f-600">
                                                        <td>Name of the Asset</td>
                                                        <td>Y/N</td>
                                                        <td class="w-50">Received By Name & Signature</td>
                                                        <td>Remarks</td>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="f-600">
                                                        <td>Desktop</td>
                                                        <td></td>
                                                        <td class="txt-color-1 text-center">
                                                            IT Asset Team Name &
                                                            Signature
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>Laptop</td>
                                                        <td></td>
                                                        <td rowspan="4"><textarea class="textTrans" name="" id="" cols="100" rows="6" readonly></textarea></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>SIM Card</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>Mobile Handset</td>
                                                        <td></td>
                                                        <td></td>

                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>Landline</td>
                                                        <td></td>
                                                        <td></td>

                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>Data card</td>
                                                        <td></td>
                                                        <td class="text-center">
                                                            assetadmin.vwvi.r.india@v
                                                            olkswagen.co.in
                                                        </td>
                                                        <td></td>

                                                    </tr>
                                                    <tr>
                                                        <td class="txt-color-1">Other 1</td>
                                                        <td></td>
                                                        <td rowspan="4"></td>
                                                        <td></td>

                                                    </tr>
                                                    <tr>
                                                        <td class="txt-color-1">Other 2</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt-color-1">Other 3</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt-color-1">Other 4</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="txt-color-1 text-center">IND-UAM Team Name- INDKAM@volkswagen.co.in</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>USER ID</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>RSA Card</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="f-600">
                                                        <td>Resource ID</td>
                                                        <td></td>
                                                        <td class="txt-color-1 text-center">IND-UAM Team Name</td>
                                                        <td></td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                </table>
                                }
                                @*@if (!IsNew || !IsEdit)
                                {
                                <table class="table mainTbl table-bordered form-table-container-2 bg-color">
                                    <tr>
                                        <td>
                                            <table class="w-50 ml-auto form-border">

                                                <tr>
                                                    <th rowspan="2" class="text-center">IT - Service Desk Manager</th>
                                                </tr>

                                                <tbody>
                                                    <tr>
                                                        <td class="txt-color-1 text-center">IT - Service Desk Manager</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                }*@
                            </td>
                        </tr>
                    </table>                 
                </div>
            </div>
            <div>
                <p class="text-left f-600">SF_II_009</p>
            </div>
            @if (IsNew)
            {
                if (!IsEdit)
                {
                    <div class="card-footer align-content-center">
                        <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                            Re-Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm cancl-btn">
                            Cancel
                        </button>
                    </div>
                }
                else
                {
                    <div class="card-footer align-content-center">
                        <button type="button" class="btn btn-primary btn-sm submit-btn" id="btnSubmit">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm cancl-btn">
                            Cancel
                        </button>
                    </div>
                }
            }
        </form>
    </div>
</div>
<div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modelHeader">
                <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="modalBody" class="lableMsg">  </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="submitBomBtn publishBtn" id="modalOkButton">OK</button>
            </div>
        </div>
    </div>
</div>
<script>

    // For Email Update
    var spinner = $('#loader');
    var FlagRedirect = @Html.Raw(Json.Encode(FlagRedirect));
    var formID = @Html.Raw(Json.Encode(FormId));
    var RowId = @Html.Raw(Json.Encode(RowId));
    // For Email Update
    var isNew = @Html.Raw(Json.Encode(IsNew));
    var itcf = @Html.Raw(Json.Encode(ITCF));
    var appRowId = @Html.Raw(Json.Encode(AppRowId));
    var approvalType =@Html.Raw(Json.Encode(ApprovalType));
    var isEdit = @Html.Raw(Json.Encode(IsEdit));
    pageLoad();
    function pageLoad() {
        spinner.hide();// For Email Update
        getEmployeeType();

        if (isNew) {
            getDesignations("submitter");
            getServiceDeskLocations("submitter");
            getExternalOrganization("submitter");

            $("#OtherEmpName").hide();
            $('input[value="Internal"]').attr('disabled', false);
            $('input[value="External"]').attr('disabled', false);
        }
        if (!isNew) {
            $(".inpDisable").attr("disabled", "disabled");
            $(".txtDisable").prop("readonly", true);
        }
    }

     $("#txtOtherEmpname").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/List/GetEmployeeDetails",
                dataType: "json",
                cache: false,
                async: false,
                data: {
                    searchText: $("#txtOtherEmpname").val()
                },
                success: function (data) {
                    //debugger;
                    response($.map(data, function (item) {
                        console.log(data, 'data');
                        return { label: item.FirstName, value: item.FirstName, raw: item };
                    }));
                }
            });
        },
        search: function (event, ui) {
            var value = $("#txtOtherEmpname").val();
            // If less than three chars, cancel the search event
            if (value.length < 4) {
                event.preventDefault();
            }
        },
        min_length: 4,
        delay: 0,
        select: function (event, ui) {
            //debugger;
            var empOtherDetails = ui.item['raw'];
            //Get the other details like Cost Center Code, Employee Number from DB.
            $.ajax({
                url: "/List/GetExistingEmployeeDetails",
                dataType: "json",
                cache: false,
                async: false,
                data: {
                    otherEmpUserId: empOtherDetails.Email,
                },
                success: function (data) {
                    console.log(data, 'data');
                    //$('#txtOtherEmpCCCode').val(data.CostCenter);
                    $('#txtEmployeeCode').val(data.EmpNumber);
                    $('#txtDepartment').val(data.Department);
                    $('#txtEmployeeName').val(data.UserName);
                    $('#txtCostcenterCode').val(data.CostCenter);
                    $('#txtUserId').val(data.UserId);
                    $('#txtContactNo').val(data.PhoneNumber);
                    $('input[id="chkInternal"]').prop("checked", true);
                    $('input[id="chkInternal"]').prop("disabled", true);

                }
            });
        }
    });

     function getExternalOrganization() {
        if (isNew) {
            if (!isEdit) {
                var value = JSON.stringify(itcf[0]);
                console.log(value)
                var value_1 = JSON.parse(value);
                var selectedOrganization = value_1.Value[0].ExternalOrganizationName;
                console.log(selectedOrganization);

                $.ajax({
                    type: "GET",
                    url: "/List/GetExternalOrganization",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        console.log(data);

                        var s = '<option value="">Select</option>';

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Organization == selectedOrganization) {
                                console.log("hiiii" + data[i].Organization);
                                s += '<option value="' + data[i].Organization + '" selected>' + data[i].Organization + '</option>';
                            }
                            else {
                                s += '<option value="' + data[i].Organization + '">' + data[i].Organization + '</option>';
                            }
                        }
                        $("#ddExternalOrganizationName").html(s);
                    },
                    error: function () {

                    }
                });
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/List/GetExternalOrganization",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        console.log(data);
                        var s = '<option value="">Select</option>';

                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Organization + '">' + data[i].Organization + '</option>';
                        }

                        $("#ddExternalOrganizationName").html(s);
                    },
                    error: function () {

                    }
                });
            }
        }
    }

      function RequestSubmissionFor() {

         var drpRequestSubmissionFor = $("#drpRequestSubmissionFor").val();
         if (drpRequestSubmissionFor == "OnBehalf") {
            $("#OtherEmpName").show();
            $("#txtOtherEmpname").val('');
            $("#txtEmployeeCode").val("");
            $("#txtCostcenterCode").val("");
            $("#txtUserId").val("");
            $("#txtEmployeeName").val("");
            $("#txtDepartment").val("");
            $("#txtContactNo").val("");
            $('input[id="chkInternal"]').prop("checked", false);
            $('input[id="chkExternal"]').prop("checked", false);
            $('input[id="chkInternal"]').prop("disabled", false);
            $('input[id="chkExternal"]').prop("disabled", false);
            $("#chkEmployeeType").val('Internal');
            $("#ddEmpDesignation").prop("selectedIndex", 0).val();
            $("#ddEmpLocation").prop("selectedIndex", 0).val();
        }
         else if (drpRequestSubmissionFor == "Self") {
            $("#OtherEmpName").hide();
            $("#txtEmployeeCode").val("@user.EmpNumber");
            $("#txtCostcenterCode").val("@user.CostCenter");
            $("#txtUserId").val("@user.UserId");
            $("#txtEmployeeName").val("@user.UserName");
            $("#txtDepartment").val("@user.Department");
            $("#txtContactNo").val("");
             $('input[id="chkInternal"]').prop("checked", true);

            $('input[id="chkExternal"]').prop("checked", false);
            $("#chkEmployeeType").val('Internal');
            $("#ExternalOrganizationName").hide();
             $("#ExternalOtherOrganizationName").hide();
             $("#lblExternalOrganizationName").hide();
             $("#lblExternalOtherOrganizationName").hide();
            $("#ddEmpDesignation").prop("selectedIndex", 0).val();
            $("#ddEmpLocation").prop("selectedIndex", 0).val();
        }
        else {
            $("#OtherEmpName").hide();
            $("#txtEmployeeCode").val("");
            $("#txtCostcenterCode").val("");
            $("#txtUserId").val("");
            $("#txtEmployeeName").val("");
            $("#txtDepartment").val("");
            $("#txtContactNo").val("");
            $('input[id="chkInternal"]').prop("checked", false);
            $('input[id="chkExternal"]').prop("checked", false);
            $('input[id="chkInternal"]').prop("disabled", false);
            $('input[id="chkExternal"]').prop("disabled", false);
            $("#ExternalOrganizationName").hide();
             $("#ExternalOtherOrganizationName").hide();
             $("#lblExternalOrganizationName").hide();
             $("#lblExternalOtherOrganizationName").hide();
            $("#ddEmpDesignation").prop("selectedIndex", 0).val();
            $("#ddEmpLocation").prop("selectedIndex", 0).val();
             }
     }

    function getEmployeeType() {
        $('input:checkbox[id="chkInternal"]').click(function () {
            if ($(this).prop("checked") == true) {
                console.log("Internal");
                $('input[id="chkInternal"]').prop('disabled', true);
                $('input[id="chkExternal"]').prop('checked', false);
                $('input[id="chkExternal"]').prop("disabled", false);
                $("#chkEmployeeType").val('Internal');

                $("#ExternalOrganizationName").hide();
                $("#lblExternalOrganizationName").hide();
                $("#ExternalOtherOrganizationName").hide();
                $("#lblExternalOtherOrganizationName").hide();

                $("#drpRequestSubmissionFor").prop("selectedIndex", 0).val();

                if (isEdit) {
                    $("#txtOtherEmpname").val("");
                    $("#txtEmployeeCode").val("");
                    $("#txtCostcenterCode").val("");
                    $("#txtUserId").val("");
                    $("#txtEmployeeName").val("");
                    $("#txtContactNo").val("");
                    $("#txtDepartment").val("");
                    $("#txtLevel").val("");
                    $("#ddEmpDesignation").prop("selectedIndex", 0).val();
                    $("#ddEmpLocation").prop("selectedIndex", 0).val();
                }
            }
        });

        $('input:checkbox[id="chkExternal"]').click(function () {
            if ($(this).prop("checked") == true) {
                $("#chkEmployeeType").val('External');
                $('input[id="chkExternal"]').prop('disabled', true);
                $('input[id="chkInternal"]').prop("checked", false);
                $('input[id="chkInternal"]').prop("disabled", false);

                //hide / value empty
                if (isEdit) {
                    $("#OtherEmpName").hide();
                    $("#txtEmployeeCode").val("");
                    $("#txtCostcenterCode").val("");
                    $("#txtUserId").val("");
                    $("#txtEmployeeName").val("");
                    $("#txtDepartment").val("");
                    $("#txtContactNo").val("");
                }
                    //show
                $("#ExternalOrganizationName").show();
                $("#lblExternalOrganizationName").show();
                    $("#drpRequestSubmissionFor").prop("selectedIndex", 2).val();
                    $("#ddExternalOrganizationName").prop("selectedIndex", 0).val();
                    $("#ddEmpDesignation").prop("selectedIndex", 0).val();
                    $("#txtOtherEmpname").val("");
            }
        });
    }

    $("#ddExternalOrganizationName").change(function () {
        if ($(this).val() == 'Other') {
            console.log("other selected");
            $("#ExternalOtherOrganizationName").show();
            $("#lblExternalOtherOrganizationName").show();
        }
        else {
            $("#ExternalOtherOrganizationName").hide();
            $("#lblExternalOtherOrganizationName").hide();
            $("#txtExternalOtherOrganizationName").val("");
        }
    });

    function successModal(txt) {
        //debugger
        $('#modalTitle').html('Success');
        if (txt == "approve") {
            $('#modalBody').html('Form has been approved!');
            FlagRedirect = txt;// For Email Update
        }
        else if (txt == "reject") {
            $('#modalBody').html('Form has been rejected!');
        }
        else if (txt == "enquire") {
            $('#modalBody').html('Form has been enquired!');
        }
        else if (txt == "cancelled") {
            $('#modalBody').html('Form has been cancelled!');
        } else {
            $('#modalBody').html('Your form with ID: ITCF' + txt + ' has been submitted! Kindly use this for future reference');
            FlagRedirect = txt;// For Email Update
        }
        //$("#modalOkButton").attr('data-dismiss', 'modal');//Commented For Email Update
        $("#successModel").modal('show');
    }

    function failureModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('Some error occured!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    function requiredModal(text) {
        $('#modalTitle').html('Required');
        $('#modalBody').html(text + '!');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }


    $("#btnSubmit").on('click', function (e) {
        e.preventDefault();
        if (($("#chkInternal").prop("checked") == false) && ($("#chkExternal").prop("checked") == false)) {
            requiredModal("Please select the Type of Employee");
            return false;
        }

        var employeeCodelen = $("#txtEmployeeCode").val().length;
        if (employeeCodelen == 0 || employeeCodelen < 0) {
            requiredModal('Please enter a valid Employee Code');
            return false;
        }

        var costCenterNumlen = $("#txtCostcenterCode").val().length;
        if (costCenterNumlen < 6) {
            requiredModal('Please enter a valid Cost Center Code');
            return false;
        }

        var userIdlen = $("#txtUserId").val().length;
        if (userIdlen == 0 || userIdlen < 0) {
            requiredModal('Please enter a valid User Id');
            return false;
        }
        var name = document.getElementById("txtEmployeeName").value;
        if (name == "") {
            requiredModal("Please enter the Name of Employee");
            return false;
        }
        var department = document.getElementById("txtDepartment").value;
        if (department == "") {
            requiredModal("Please enter the Department");
            return false;
        }
        var contactNumlen = $("#txtContactNo").val().length;
        if (contactNumlen == 0 || contactNumlen > 10 || contactNumlen < 0) {
            requiredModal('Please enter a valid Contact Number');
            return false;
        }

        var designation = document.getElementById("ddEmpDesignation").selectedIndex;
        if (designation == 0) {
            requiredModal("Please select Designation");
            return false;
        }

        var location = document.getElementById("ddEmpLocation").selectedIndex;
        if (location == 0) {
            requiredModal("Please select Location");
            return false;
        }

        var lastDay = document.getElementById("txtLastWorkingDay").value;
        if (lastDay == "") {
            requiredModal("Please select the Last Working Day");
            return false;
        }
        
        var dataHandername = document.getElementById("txtHandedDataToName").value;
        if (dataHandername == "") {
            requiredModal("Please enter the employee name to hand over the data");
            return false;
        }

        $("#pageLoader").removeClass('invisible');
        var form = $("#ITCForm").serialize();
        $.ajax({
            url: '/ITClearanceRequest/CreateITClearanceRequest',
            type: 'POST',
            data: form,
            cache: false,
            dataType: 'JSON',
            success: (function (data) {
                if (data[0].Value == 1) {
                    console.log(data);
                    $("#pageLoader").addClass('invisible');
                    successModal(data[1].Value);
                    $("#ITCForm").trigger("reset");
                    //redirectUser();
                }
                else {
                    failureModal();
                    $("#ITCForm").trigger("reset");
                }
            }),
            error: (function (data) {
                failureModal();
                $("#ITCForm").trigger("reset");
            })
        })
    });

    function getDesignations() {
        if (isNew) {
            if (!isEdit) {
                var value = JSON.stringify(itcf[0]);
                console.log(value)
                var value_1 = JSON.parse(value);
                var selectedDesignation = value_1.Value[0].EmployeeDesignation;
                console.log(selectedDesignation);

                $.ajax({
                    type: "POST",
                    url: "/List/GetDesignations",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        console.log(data);
                        var s = '<option value="">Select</option>';

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].JobTitle == selectedDesignation) {
                                console.log("hiiii" + data[i].JobTitle);
                                s += '<option value="' + data[i].JobTitle + '" selected>' + data[i].JobTitle + '</option>';
                            }
                            else {
                                s += '<option value="' + data[i].JobTitle + '">' + data[i].JobTitle + '</option>';
                            }
                        }
                        $("#ddEmpDesignation").html(s);
                    },          ////success
                    error: function () {
                        //alert('Failed to retrieve modules.');
                    }
                });
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/List/GetDesignations",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        console.log(data);
                        var s = '<option value="">Select</option>';

                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].JobTitle + '">' + data[i].JobTitle + '</option>';
                        }
                        $("#ddEmpDesignation").html(s);
                    },
                    error: function (data) {
                        //code
                    }
                });
            }
        }
    }

    function getServiceDeskLocations() {
        if (isNew) {
            if (!isEdit) {
                var value = JSON.stringify(itcf[0]);
                console.log(value)
                var value_1 = JSON.parse(value);
                var selectedLocation = value_1.Value[0].EmployeeLocation;
                console.log(selectedLocation);

                $.ajax({
                    type: "GET",
                    url: "/List/GetServiceDeskLocations",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        console.log(data);
                        var s = '<option value="">Select</option>';

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].LocationName == selectedLocation) {
                                console.log("hiiii" + data[i].LocationName);
                                s += '<option value="' + data[i].LocationName + '" selected>' + data[i].LocationName + '</option>';
                            }
                            else if ((data[i].LocationName == "Pune File Server") || (data[i].LocationName == "Mumbai File Server") || (data[i].LocationName == "Aurangabad File Server") || (data[i].LocationName == "External")) { } else {
                                s += '<option value="' + data[i].LocationName + '">' + data[i].LocationName + '</option>';
                            }
                        }
                        $("#ddEmpLocation").html(s);
                    },
                    error: function () {

                    }
                });
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/List/GetServiceDeskLocations",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                        console.log("Hi=" + data);
                        var s = '<option value="">Select</option>';

                        for (var i = 0; i < data.length; i++) {
                            if ((data[i].LocationName == "Pune File Server") || (data[i].LocationName == "Mumbai File Server") || (data[i].LocationName == "Aurangabad File Server") || (data[i].LocationName == "External")) { } else {
                                s += '<option value="' + data[i].LocationName + '">' + data[i].LocationName + '</option>';
                            }
                        }
                        $("#ddEmpLocation").html(s);
                    },
                    error: function () {

                    }
                });
            }
        }
    }


    function saveResponse(text) {
        var status = '', comment = '';
        comment = $("#comment-" + text).val();
        switch (text) {
            case 'approve': {
                status = 'Approved';
                break;
            }
            case 'reject': {
                status = 'Rejected';
                if (comment == '') {
                    validityModal(text);
                    return;
                }
                break;
            }
            case 'enquire': {
                status = 'Enquired';
                if (comment == '') {
                    validityModal(text);
                    return;
                }
                break;
            }
        }
        $.ajax({
            url: '/List/SaveResponse',
            type: 'POST',
            data: { response: status, appRowId: appRowId, comment: comment, approvalType: approvalType },
            dataType: 'JSON',
            success: (function (data) {
                if (data == 1) {
                    successModal(text);
                    $("#ITCForm").trigger("reset");
                    setTimeout(FilterMyTasks, 5000)
                }
                else {
                    failureModal();
                    $("#ITCForm").trigger("reset");
                }

            }),
            error: (function (data) {
                failureModal();
                $("#ITCForm").trigger("reset");
            })
        })

        return false;
    }

    function validityModal(txt) {
         if (txt == 'reject') {
            DisplayAlert('error', 'Warning', 'Please type in the reason for rejecting the form');
        }
        else if (txt == 'enquire') {
            DisplayAlert('error', 'Warning', 'Please type in the reason for enquiring the form');
        }
    }

    function allowNumbersOnly(e) {
        var code = (e.which) ? e.which : e.keyCode;
        if (code > 31 && (code < 48 || code > 57)) {
            e.preventDefault();
        }
    }

    function alphaOnly(e) {
        var key = e.keyCode;
        if (key > 32 && (key < 65 || key > 122 || key == 91 || key == 92 || key == 93 || key == 94 || key == 95 || key == 96)) {
            e.preventDefault();
        }
    }

    function redirectUser() {
        window.location = '/Dashboard/Index';
    }

    $("#txtHandedDataToName").autocomplete({

        source: function (request, response) {
            $.ajax({
                url: "../List/GetEmployeeDetails",
                datatype: "json",
                cache: false,
                async: false,
                data: {
                    searchText: $("#txtHandedDataToName").val()
                },
                success: function (data) {
                    console.log(data, 'data');

                    response($.map(data, function (item) {
                        return { label: item.FirstName, value: item.FirstName, raw: item };
                    }));
                }
            });
        },
        search: function (event, ui) {
            var value = $("#txtHandedDataToName").val();
            if (value.length < 4) {
                event.preventDefault();
            }
        },
        min_length: 4,
        delay: 0,
        select: function (event, ui) {
            var empOtherDetails = ui.item['raw'];
            console.log(empOtherDetails);
            //Get the other details like Cost Center Code, Employee Number from DB.
            $.ajax({
                url: "../List/GetExistingEmployeeDetails",
                dataType: "json",
                cache: false,
                async: false,
                data: {
                    otherEmpUserId: empOtherDetails.Email,
                },
                success: function (data) {
                    $('#txtHandedDataToEmpNumber').val(data.EmpNumber);
                }
            });
        }
    });


    // For Email Update
    $("#modalOkButton").on('click', function () {
        //debugger

        if (FlagRedirect != null) {
            spinner.show();
            $.ajax({
                url: '/EmailService/FormStatus',
                type: 'POST',
                data: { dataRowId: RowId, formID: formID },
                dataType: 'JSON',
                success: (function (data) {
                    if (data.Result == 1) {
                        spinner.hide();
                        window.location = "../Dashboard";
                    }
                    else {
                        spinner.hide();
                        window.location = "../Dashboard";
                    }

                }),
                error: (function (data) {
                    spinner.hide();
                    window.location = "../Dashboard";
                })
            })
        }


    });
    // For Email Update

    function date_val() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("txtLastWorkingDay")[0].setAttribute("min", today);
    }

    

    $(document).ready(function () {
        $('#txtHandedDataToName').tooltip({ 'trigger': 'focus', 'title': 'To search for an employee name please type at least 4 letters for faster results.' });
    });
  
</script>